Repository adaptui/react-tailwind: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn format:package, yarn lint:fix

feat(slider): ✨ improve tooltip interaction
  package.json
  src/slider/SliderProps.tsx
  src/slider/SliderState.tsx
  src/slider/SliderThumb.tsx
  src/slider/SliderThumbState.tsx
  src/slider/__keys.ts
  src/slider/stories/SliderRange.stories.tsx
  src/switch/stories/SwitchBasic.stories.tsx
  src/tooltip/SliderTooltipReference.tsx
  src/tooltip/Tooltip.tsx
  src/tooltip/TooltipAnchor.tsx
  src/tooltip/TooltipArrow.tsx
  src/tooltip/__keys.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

feat(slider): ✨ improve tooltip interaction (#214)
  package.json
  src/slider/SliderProps.tsx
  src/slider/SliderState.tsx
  src/slider/SliderThumb.tsx
  src/slider/SliderThumbState.tsx
  src/slider/__keys.ts
  src/slider/stories/SliderRange.stories.tsx
  src/switch/stories/SwitchBasic.stories.tsx
  src/tooltip/SliderTooltipReference.tsx
  src/tooltip/Tooltip.tsx
  src/tooltip/TooltipAnchor.tsx
  src/tooltip/TooltipArrow.tsx
  src/tooltip/__keys.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

chore(deps): ⬆️ update dev dependencies (minor)
  package.json
  yarn.lock
Due: yarn format, yarn format:package

refactor(slider): ♻️ move state into context & update tooltip interaction
  package.json
  src/button/Button.tsx
  src/button/ButtonSpinner.tsx
  src/slider/Slider.tsx
  src/slider/SliderFilledTrack.tsx
  src/slider/SliderProps.tsx
  src/slider/SliderState.tsx
  src/slider/SliderThumb.tsx
  src/slider/SliderThumbContainer.tsx
  src/slider/SliderThumbProps.tsx
  src/slider/SliderThumbState.tsx
  src/slider/SliderThumbWrapper.tsx
  src/slider/__keys.ts
  src/theme/defaultTheme/button.ts
  src/tooltip/SliderTooltipReference.tsx
  src/tooltip/__keys.ts
  src/utils/object/index.ts
  src/utils/object/splitProps.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

refactor(slider): ♻️ move state into context & update tooltip interaction (#215)
  package.json
  src/button/Button.tsx
  src/button/ButtonSpinner.tsx
  src/slider/Slider.tsx
  src/slider/SliderFilledTrack.tsx
  src/slider/SliderProps.tsx
  src/slider/SliderState.tsx
  src/slider/SliderThumb.tsx
  src/slider/SliderThumbContainer.tsx
  src/slider/SliderThumbProps.tsx
  src/slider/SliderThumbState.tsx
  src/slider/SliderThumbWrapper.tsx
  src/slider/__keys.ts
  src/theme/defaultTheme/button.ts
  src/tooltip/SliderTooltipReference.tsx
  src/tooltip/__keys.ts
  src/utils/object/index.ts
  src/utils/object/splitProps.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

refactor(button-group): ♻️ fix collapsed transition transform
  src/button-group/ButtonGroup.tsx
  src/button/Button.tsx
  src/theme/defaultTheme/button.ts
Due: yarn format, yarn lint:fix

feat(tag): ✨ add tag without disabled state
  src/tag/Tag.tsx
  src/tag/__keys.ts
  src/tag/stories/Tag.stories.tsx
  src/tag/stories/TagBasic.component.tsx
  src/tag/stories/TagBasic.stories.tsx
  src/tag/stories/TagStack.component.tsx
  src/tag/stories/TagStack.stories.tsx
  src/theme/defaultTheme/button.ts
  src/theme/defaultTheme/tag.ts
Due: yarn format, yarn lint:fix

test(tag): ✅ fix tag tests
  src/tag/__tests__/Tag.test.tsx
  src/tag/__tests__/TagGroup.test.tsx
Due: yarn format, yarn lint:fix

feat(tag): ✨ add tag component (#217)
  src/button-group/ButtonGroup.tsx
  src/button/Button.tsx
  src/tag/Tag.tsx
  src/tag/__keys.ts
  src/tag/__tests__/Tag.test.tsx
  src/tag/__tests__/TagGroup.test.tsx
  src/tag/stories/Tag.stories.tsx
  src/tag/stories/TagBasic.component.tsx
  src/tag/stories/TagBasic.stories.tsx
  src/tag/stories/TagStack.component.tsx
  src/tag/stories/TagStack.stories.tsx
  src/theme/defaultTheme/button.ts
  src/theme/defaultTheme/tag.ts
Due: yarn format, yarn lint:fix

fix(tag): 🐛 remove tag group
  src/tag/TagGroup.tsx
  src/tag/index.ts
Due: yarn format, yarn lint:fix

chore(deps): ⬆️ update dependency @types/node to v16.11.12
  package.json
  yarn.lock
Due: yarn format, yarn format:package

chore(deps): ⬆️ update dev dependencies (minor) to v6.4.9
  package.json
  yarn.lock
Due: yarn format, yarn format:package

feat(input): ✨ add input syntax
  src/input/Input copy.tsx
  src/input/Input.tsx
  src/input/InputMain.tsx
  src/input/InputPrefix.tsx
  src/input/InputProps.tsx
  src/input/InputState.tsx
  src/input/InputSuffix.tsx
  src/input/InputWrapper.tsx
  src/input/__keys.ts
  src/input/stories/Input.tsx
  src/input/stories/InputBasic.component.tsx
  src/input/stories/InputBasic.stories.tsx
  src/tag/Tag.tsx
Due: yarn format, yarn lint:fix

feat(tailwind): ✨ update to tailwind 3
  package.json
  preset.js
  src/avatar-group/__tests__/__snapshots__/AvatarGroup.test.tsx.snap
  src/avatar/__tests__/__snapshots__/Avatar.test.tsx.snap
  src/button/stories/ButtonBasic.stories.tsx
  src/create-icon/__tests__/__snapshots__/Icon.test.tsx.snap
  src/create-icon/__tests__/__snapshots__/createIcon.test.tsx.snap
  src/input/InputMain.tsx
  src/input/InputWrapper.tsx
  src/switch/__tests__/__snapshots__/Switch.test.tsx.snap
  src/theme/defaultTheme/alert.ts
  src/theme/defaultTheme/avatar.ts
  src/theme/defaultTheme/badge.ts
  src/theme/defaultTheme/checkbox.ts
  src/theme/defaultTheme/circularProgress.ts
  src/theme/defaultTheme/icon.ts
  src/theme/defaultTheme/input.ts
  src/theme/defaultTheme/list.ts
  src/theme/defaultTheme/radio.ts
  src/theme/defaultTheme/slider.ts
  src/theme/defaultTheme/switch.ts
  src/theme/defaultTheme/toast.ts
  src/toast/stories/CustomToast.tsx
  tailwind.config.js
  tailwindPlugins/animationDuration.js
  tailwindPlugins/utilities.js
  tailwindPlugins/variantPlugin.js
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

feat(input): ✨ add prefix & suffix
  src/form-field/__tests__/__snapshots__/FormField.test.tsx.snap
  src/input/Input.tsx
  src/input/InputProps.tsx
  src/input/InputState.tsx
  src/input/__tests__/Input.test.tsx
  src/theme/defaultTheme/input.ts
Due: yarn format, yarn lint:fix

build(input): 💚 remove inputs
  src/input/Input copy.tsx
  src/input/InputAddons.tsx
  src/input/InputGroup.tsx
  src/input/index.ts
Due: yarn format, yarn lint:fix

fix(deps): ⬆️ update dependency tailwind-merge to v1
  package.json
  yarn.lock
Due: yarn format, yarn format:package

feat(input): ✨ finish input with prefix & suffix
  preset.js
  src/input/Input.tsx
  src/input/InputMain.tsx
  src/input/InputPrefix.tsx
  src/input/InputProps.tsx
  src/input/InputState.tsx
  src/input/InputSuffix.tsx
  src/input/__keys.ts
  src/input/stories/Input.tsx
  src/input/stories/InputStack.component.tsx
  src/input/stories/InputStack.stories.tsx
  src/switch/SwitchState.tsx
  src/tag/Tag.tsx
  src/theme/defaultTheme/input.ts
Due: yarn format, yarn lint:fix

test(input): ✅ remove failing input tests
  src/form-field/__tests__/FormField.test.tsx
  src/form-field/__tests__/__snapshots__/FormField.test.tsx.snap
  src/input/__tests__/Input.test.tsx
Due: yarn format, yarn lint:fix

chore(deps): pin dependency @tailwindcss/forms to 0.4.0
  package.json
  yarn.lock
Due: yarn format, yarn format:package

chore(tailwind): ⬆️ update tailwind merge with working types
  package.json
  yarn.lock
Due: yarn format, yarn format:package

Create Sjenica1
  Sjenica1
Due: none

chore(deps): ⬆️ update dev dependencies (major)
  package.json
  yarn.lock
Due: yarn format, yarn format:package

test(test): ✅ fix linting & tests for eslint major
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  package.json
  src/avatar/__tests__/Avatar.test.tsx
  src/button/__tests__/Button.test.tsx
  src/create-icon/__tests__/Icon.test.tsx
  src/input/InputProps.tsx
  src/input/InputWrapper.tsx
  src/tag/__tests__/Tag.test.tsx
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

build(lint): ✅ update test & stories eslint
  .eslintrc.json
  package.json
  renovate.json
  src/slider/stories/SliderBasic.stories.tsx
  src/slider/stories/SliderRange.stories.tsx
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

chore(deps): ⬆️ update dependency @types/node to v16.11.15
  package.json
  yarn.lock
Due: yarn format, yarn format:package

chore(deps): pin dependency eslint-plugin-storybook to 0.5.5
  package.json
  yarn.lock
Due: yarn format, yarn format:package

feat(select): ✨ add select & update input & textarea
  .storybook/main.js
  src/index.ts
  src/input/InputMain.tsx
  src/select/Select.tsx
  src/select/SelectMain.tsx
  src/select/SelectPrefix.tsx
  src/select/SelectProps.tsx
  src/select/SelectState.tsx
  src/select/SelectSuffix.tsx
  src/select/SelectWrapper.tsx
  src/select/__keys.ts
  src/select/index.ts
  src/select/stories/SelectBasic.component.tsx
  src/select/stories/SelectBasic.stories.tsx
  src/select/stories/SelectStack.component.tsx
  src/select/stories/SelectStack.stories.tsx
  src/textarea/Textarea.tsx
  src/textarea/stories/Textarea.stories.tsx
  src/textarea/stories/TextareaBasic.component.tsx
  src/textarea/stories/TextareaBasic.stories.tsx
  src/theme/defaultTheme/index.ts
  src/theme/defaultTheme/select.ts
Due: yarn format, yarn lint:fix

chore(deps): ⬆️ update dependency react-hook-form to v7.22.3
  package.json
  yarn.lock
Due: yarn format, yarn format:package

feat(select): ✨ add select & update input & textarea (#231)
  .storybook/main.js
  src/index.ts
  src/input/InputMain.tsx
  src/select/Select.tsx
  src/select/SelectMain.tsx
  src/select/SelectPrefix.tsx
  src/select/SelectProps.tsx
  src/select/SelectState.tsx
  src/select/SelectSuffix.tsx
  src/select/SelectWrapper.tsx
  src/select/__keys.ts
  src/select/index.ts
  src/select/stories/SelectBasic.component.tsx
  src/select/stories/SelectBasic.stories.tsx
  src/select/stories/SelectStack.component.tsx
  src/select/stories/SelectStack.stories.tsx
  src/textarea/Textarea.tsx
  src/textarea/stories/Textarea.stories.tsx
  src/textarea/stories/TextareaBasic.component.tsx
  src/textarea/stories/TextareaBasic.stories.tsx
  src/theme/defaultTheme/index.ts
  src/theme/defaultTheme/select.ts
Due: yarn format, yarn lint:fix

refactor(inputs): ♻️ update textarea, add invalid & loading
  src/input/Input.tsx
  src/input/InputBase.tsx
  src/input/InputMain.tsx
  src/input/InputPrefix.tsx
  src/input/InputProps.tsx
  src/input/InputState.tsx
  src/input/InputSuffix.tsx
  src/input/__keys.ts
  src/input/stories/InputBasic.stories.tsx
  src/input/stories/InputStack.stories.tsx
  src/select/Select.tsx
  src/select/SelectBase.tsx
  src/select/SelectMain.tsx
  src/select/SelectPrefix.tsx
  src/select/SelectProps.tsx
  src/select/SelectState.tsx
  src/select/SelectSuffix.tsx
  src/select/__keys.ts
  src/select/stories/SelectBasic.stories.tsx
  src/select/stories/SelectStack.stories.tsx
  src/textarea/Textarea.tsx
  src/textarea/stories/TextareaBasic.stories.tsx
  src/theme/defaultTheme/input.ts
  src/theme/defaultTheme/select.ts
  src/theme/defaultTheme/spinner.ts
  src/theme/defaultTheme/textarea.ts
  src/utils/tailwindMerge.ts
Due: yarn format, yarn lint:fix

Path conditions:
  yarn format: any of: **/*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}
  yarn format:package: any of: package.json
  yarn lint:fix: any of: **/*.{js,jsx,tx,tsx}
