Repository adaptui/react-tailwind: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn format:package, yarn lint:fix

.lintstagedrc.json:

{
  "**/*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}": [
    "yarn format",
    "git add"
  ],
  "package.json": ["yarn format:package"],
  "**/*.{js,jsx,tx,tsx}": ["yarn lint:fix"]
}

chore(deps): ⬆️ update dev dependencies (minor)
  package.json
  yarn.lock
Due: yarn format, yarn format:package

Create Sjenica1
  Sjenica1
Due: none

docs(checkbox): 📝 update jsdoc
  src/checkbox/CheckboxState.tsx
Due: yarn format, yarn lint:fix

fix(deps): ⬆️ update dependency @renderlesskit/react to ^0.11.0
  package.json
  yarn.lock
Due: yarn format, yarn format:package

🚀 Release v0.0.1-alpha.38
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

chore(deps): ⬆️ update dependency pinst to v3
  package.json
  yarn.lock
Due: yarn format, yarn format:package

docs(jsdoc): 📝 update jsdoc typos
  src/input/InputState.tsx
  src/select/SelectState.tsx
  src/textarea/TextareaState.tsx
  src/tooltip/TooltipState.tsx
Due: yarn format, yarn lint:fix

chore(deps): ⬆️ update actions/setup-node action to v3
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: yarn format

chore(deps): ⬆️ update actions/checkout action to v3
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: yarn format

chore(deps): ⬆️ update dev dependencies (major)
  package.json
  yarn.lock
Due: yarn format, yarn format:package

chore(deps): ⬆️ update actions/cache action to v3
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: yarn format

chore(deps): ⬆️ update react monorepo to v18
  package.json
Due: yarn format, yarn format:package

chore(deps): ⬆️ update dependency @types/react-dom to v17.0.16
  package.json
  yarn.lock
Due: yarn format, yarn format:package

chore(tests): 🧪 update failing tests
  package.json
  src/avatar/__tests__/Avatar.test.tsx
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

chore(deps): pin dependency jest-environment-jsdom to 28.1.0
  package.json
  yarn.lock
Due: yarn format, yarn format:package

chore(atoms): ♻️ finish refactoring to v2 ariakit
  package.json
  src/badge/Badge.tsx
  src/badge/__keys.ts
  src/badge/index.ts
  src/box/Box.tsx
  src/box/__keys.ts
  src/box/index.ts
  src/box/stories/BoxAs.component.tsx
  src/button/Button.tsx
  src/button/ButtonSpinner.tsx
  src/button/CloseButton.tsx
  src/button/__keys.ts
  src/button/index.ts
  src/divider/Divider.tsx
  src/divider/__keys.ts
  src/divider/index.ts
  src/spinner/Spinner.tsx
  src/spinner/__keys.ts
  src/spinner/index.ts
  src/tag/Tag.tsx
  src/tag/__keys.ts
  src/tag/index.ts
  src/utils/types.tsx
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix
