Repository adaptui/react-tailwind: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn format:package, yarn lint:fix

chore(package): ⬆️ update all deps to latest
  package.json
  yarn.lock
Due: yarn format, yarn format:package

build(github): 🔧 add codeowner
  .github/CODEOWNERS
Due: none

docs(radio): 📝 update storybook component
  src/radio/stories/RadioComponent.tsx
Due: yarn format, yarn lint:fix

Update README.md
  README.md
Due: yarn format

build(github): 💚 add build pipeline
  .github/workflows/build.yml
Due: yarn format

chore(license): 🔧 update year
  LICENSE
Due: none

chore(package): 🔧 update build script
  package.json
Due: yarn format, yarn format:package

build(github): 💚 update test action name
  .github/workflows/test.yml
Due: yarn format

build(kodiak): 💚 add automerge PR automation
  .kodiak.toml
Due: none

build(github): 💚 run build on push for only main
  .github/workflows/build.yml
Due: yarn format

build(github): 💚 run test on push for only main
  .github/workflows/test.yml
Due: yarn format

build(size): 💚 add bundle size in ci
  .github/workflows/bundle-size.yml
  .size-limit.js
  package.json
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

build(radio): 💚 check change in bundle size
  src/radio/Radio.tsx
Due: yarn format, yarn lint:fix

build(radio): 💚 remove the bundle test import
  src/radio/Radio.tsx
Due: yarn format, yarn lint:fix

feat: ✨ add radio group support
  src/checkbox/stories/Checkbox.stories.tsx
  src/radio/RadioGroup.tsx
  src/radio/RadioGroupState.tsx
  src/radio/helpers.tsx
  src/radio/stories/Radio.stories.tsx
  src/radio/stories/RadioComponent.tsx
  src/theme/defaultTheme/radio.ts
  yarn.lock
Due: yarn format, yarn lint:fix

feat(showmore): ✨ add new component collapsible
  package.json
  src/button/Button.tsx
  src/button/__keys.ts
  src/icons/Plus.tsx
  src/radio/RadioGroup.tsx
  src/radio/RadioGroupState.tsx
  src/radio/RadioShowMore.tsx
  src/radio/RadioShowMoreButton.tsx
  src/radio/RadioShowMoreContent.tsx
  src/radio/RadioShowMoreState.tsx
  src/radio/RadioState.tsx
  src/radio/__keys.ts
  src/radio/helpers.tsx
  src/radio/stories/Radio.stories.tsx
  src/radio/stories/RadioComponent.tsx
  src/theme/defaultTheme/radio.ts
  tailwindPlugins/variantPlugin.js
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

Add renovate.json
  renovate.json
Due: yarn format

Update renovate.json
  renovate.json
Due: yarn format

chore(deps): pin dependencies
  package.json
  yarn.lock
Due: yarn format, yarn format:package

chore(deps): ⬆️ update dev dependencies (minor)
  package.json
  yarn.lock
Due: yarn format, yarn format:package

chore(deps): ⬆️ update actions/checkout action to v2
  .github/workflows/bundle-size.yml
Due: yarn format

chore(deps): ⬆️ update actions/setup-node action to v2
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: yarn format

feat(compo): ✨ add new compo to all existing
  .storybook/preview.jsx
  src/badge/Badge.tsx
  src/badge/__keys.ts
  src/badge/__tests__/Badge.test.tsx
  src/badge/index.ts
  src/box/Box.tsx
  src/box/stories/Box.stories.tsx
  src/button/Button.tsx
  src/button/ButtonSpinner.tsx
  src/button/CloseButton.tsx
  src/button/__keys.ts
  src/button/index.ts
  src/radio/RadioShowMoreState.tsx
  src/radio/stories/Radio.stories.tsx
  src/show-more/ShowMoreButton.tsx
  src/show-more/ShowMoreContent.tsx
  src/show-more/ShowMoreState.tsx
  src/show-more/__keys.ts
  src/show-more/index.ts
  src/spinner/Spinner.tsx
  src/spinner/__keys.ts
  src/spinner/stories/Spinner.stories.tsx
Due: yarn format, yarn lint:fix

feat(showmore): ✨ add showmore to radio
  src/checkbox/Checkbox.tsx
  src/checkbox/CheckboxState.ts
  src/checkbox/CheckboxState.tsx
  src/checkbox/index.ts
  src/checkbox/stories/Checkbox.stories.tsx
  src/icons/index.ts
  src/radio/RadioGroup.tsx
  src/radio/RadioGroupState.tsx
  src/radio/RadioShowMore.tsx
  src/radio/RadioShowMoreButton.tsx
  src/radio/RadioShowMoreContent.tsx
  src/radio/RadioShowMoreState.tsx
  src/radio/RadioState.tsx
  src/radio/__keys.ts
  src/radio/helpers.tsx
  src/radio/index.tsx
  src/radio/stories/Radio.stories.tsx
  src/show-more/ShowMore.tsx
  src/show-more/ShowMoreButton.tsx
  src/show-more/ShowMoreContent.tsx
  src/show-more/__keys.ts
  src/show-more/createComposableHook.tsx
  src/utils/index.tsx
Due: yarn format, yarn lint:fix

test(badge): ✅ fix badge test with path
  src/badge/__tests__/Badge.test.tsx
  src/badge/__tests__/__snapshots__/Badge.test.tsx.snap
Due: yarn format, yarn lint:fix

feat(showmore): ✨ add horizontal disclosure
  package.json
  src/radio/RadioGroup.tsx
  src/radio/RadioGroupState.tsx
  src/radio/RadioIcon.tsx
  src/radio/RadioLabel.tsx
  src/radio/RadioShowMore.tsx
  src/radio/RadioShowMoreButton.tsx
  src/radio/RadioShowMoreContent.tsx
  src/radio/RadioState.tsx
  src/radio/RenderlesskitRadioGroup.tsx
  src/radio/__keys.ts
  src/radio/index.tsx
  src/radio/stories/Radio.stories.tsx
  src/radio/stories/RadioComponent.tsx
  src/show-more/ShowMore.tsx
  src/show-more/ShowMoreButton.tsx
  src/show-more/ShowMoreContent.tsx
  src/show-more/ShowMoreState.ts
  src/show-more/ShowMoreState.tsx
  src/show-more/__keys.ts
  src/theme/defaultTheme/button.ts
  src/theme/defaultTheme/radio.ts
Due: yarn format, yarn format:package, yarn lint:fix

feat(radio): ✨ finalize show more disclosure
  package.json
  src/radio/RadioIcon.tsx
  src/radio/RadioInput.tsx
  src/radio/RadioLabel.tsx
  src/radio/RadioShowMore.tsx
  src/radio/RenderlesskitRadioGroup.tsx
  src/radio/stories/Radio.stories.tsx
  src/radio/stories/RadioComponent.tsx
  src/show-more/ShowMoreState.ts
  src/theme/defaultTheme/radio.ts
  src/theme/defaultTheme/radionew.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

fix(deps): ⬆️ update dependency @renderlesskit/react to ^0.7.0
  package.json
  yarn.lock
Due: yarn format, yarn format:package

feat(showmore): ✨ finish showmore integration from core
  package.json
  src/radio/RadioShowMore.tsx
  src/radio/stories/Radio.stories.tsx
  src/show-more/ShowMore.tsx
  src/show-more/ShowMoreButton.tsx
  src/show-more/ShowMoreContent.tsx
  src/show-more/ShowMoreState.ts
  src/show-more/__keys.ts
  src/show-more/createComposableHook.tsx
  src/show-more/index.ts
  src/show-more/stories/ShowMore.stories.tsx
  src/show-more/stories/ShowMoreComponent.tsx
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

fix(showmore): 🐛 composable naming change in core
  package.json
  src/show-more/ShowMore.tsx
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

build(radio): 🔨 types bug with radio group
  src/show-more/ShowMore.tsx
  yarn.lock
Due: yarn format, yarn lint:fix

🚀 Release v0.0.1-alpha.16
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

feat(checkbox): ✨ add showmore & stories
  src/checkbox/CheckboxGroup.tsx
  src/checkbox/CheckboxGroupState.tsx
  src/checkbox/CheckboxIcon.tsx
  src/checkbox/CheckboxLabel.tsx
  src/checkbox/CheckboxShowMore.tsx
  src/checkbox/CheckboxState.tsx
  src/checkbox/RenderlesskitCheckboxGroup.tsx
  src/checkbox/__keys.ts
  src/checkbox/index.ts
  src/checkbox/stories/Checkbox.stories.tsx
  src/radio/RadioLabel.tsx
  src/radio/RadioState.tsx
  src/radio/index.tsx
  src/theme/defaultTheme/checkbox.ts
Due: yarn format, yarn lint:fix

feat(checkbox): ✨ add showmore stack examples
  src/checkbox/CheckboxLabel.tsx
  src/checkbox/CheckboxState.tsx
  src/checkbox/stories/Checkbox.stories.tsx
  src/radio/RadioState.tsx
  src/show-more/ShowMore.tsx
  src/theme/defaultTheme/checkbox.ts
Due: yarn format, yarn lint:fix

feat(checkbox): ✨ add showmore & stories (#165)
  src/checkbox/CheckboxGroup.tsx
  src/checkbox/CheckboxGroupState.tsx
  src/checkbox/CheckboxIcon.tsx
  src/checkbox/CheckboxLabel.tsx
  src/checkbox/CheckboxShowMore.tsx
  src/checkbox/CheckboxState.tsx
  src/checkbox/RenderlesskitCheckboxGroup.tsx
  src/checkbox/__keys.ts
  src/checkbox/index.ts
  src/checkbox/stories/Checkbox.stories.tsx
  src/radio/RadioLabel.tsx
  src/radio/RadioState.tsx
  src/radio/index.tsx
  src/show-more/ShowMore.tsx
  src/theme/defaultTheme/checkbox.ts
Due: yarn format, yarn lint:fix

Path conditions:
  yarn format: any of: **/*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}
  yarn format:package: any of: package.json
  yarn lint:fix: any of: **/*.{js,jsx,tx,tsx}
