Repository adaptui/react-tailwind: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn format:package, yarn lint:fix

test: fix failing tests
  README.md
  src/checkbox/CheckboxInput.tsx
  src/checkbox/__tests__/Checkbox.test.tsx
Due: yarn format, yarn lint:fix

test: added support for theme provider in rerender method
  src/utils/testUtils.tsx
Due: yarn format, yarn lint:fix

test(form-field): added inverted test cases
  README.md
  src/form-field/__tests__/FormField.test.tsx
Due: yarn format, yarn lint:fix

test: added test for input
  src/input/__tests__/Input.test.tsx
Due: yarn format, yarn lint:fix

test: form field test improvements (#112)
  README.md
  src/form-field/__tests__/FormField.test.tsx
  src/utils/testUtils.tsx
Due: yarn format, yarn lint:fix

test: added test for input (#113)
  src/input/__tests__/Input.test.tsx
Due: yarn format, yarn lint:fix

chore: improve switch form integration & new api for props
  src/switch/Switch.tsx
  src/switch/SwitchIcon.tsx
  src/switch/SwitchInput.tsx
  src/switch/SwitchText.tsx
  src/switch/stories/Switch.stories.tsx
  src/theme/defaultTheme/switch.ts
Due: yarn format, yarn lint:fix

chore: fix switch tests
  src/switch/__tests__/Switch.test.tsx
  src/switch/__tests__/__snapshots__/Switch.test.tsx.snap
Due: yarn format, yarn lint:fix

refactor: minor cleanups
  src/switch/Switch.tsx
  src/switch/index.ts
  src/switch/stories/Switch.stories.tsx
Due: yarn format, yarn lint:fix

chore: fix box types in switch
  src/switch/Switch.tsx
  src/switch/__tests__/Switch.test.tsx
Due: yarn format, yarn lint:fix

fix: 💄 Remove default browser outlines
  src/theme/defaultTheme/button.ts
  src/theme/defaultTheme/buttonGroup.ts
  src/theme/defaultTheme/checkbox.ts
  src/theme/defaultTheme/form-field.ts
  src/theme/defaultTheme/radio.ts
  src/theme/defaultTheme/switch.ts
  src/theme/defaultTheme/textarea.ts
  yarn.lock
Due: yarn format

feat: added extend theme utility
  renderlesskit.config.ts
  src/theme/extendTheme.ts
  src/theme/index.tsx
  yarn.lock
Due: yarn format, yarn lint:fix

refactor: reorganize theme utils
  src/theme/index.tsx
  src/theme/mergeThemes.test.ts
  src/theme/mergeThemes.ts
Due: yarn format, yarn lint:fix

refactor(lodash): ♻️ use lodash-es for tree shaking
  package.json
  patches/@tailwindcss+jit+0.1.18.patch
  src/theme/index.tsx
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

test(esm): ✅ fix esm config for lodash
  jest.config.ts
Due: yarn format

feat: added extendTheme utility for better DX (#115)
  renderlesskit.config.ts
  src/theme/extendTheme.ts
  src/theme/index.tsx
  src/theme/mergeThemes.test.ts
  src/theme/mergeThemes.ts
Due: yarn format, yarn lint:fix

chore: fix avatar group tests
  src/avatar/__tests__/AvatarGroup.test.tsx
Due: yarn format, yarn lint:fix

refactor: improve checkbox, switch's form integration & better prop naming (#111)
  package.json
  src/avatar/__tests__/AvatarGroup.test.tsx
  src/checkbox/Checkbox.tsx
  src/checkbox/CheckboxInput.tsx
  src/checkbox/__tests__/Checkbox.test.tsx
  src/checkbox/stories/Checkbox.stories.tsx
  src/switch/Switch.tsx
  src/switch/SwitchIcon.tsx
  src/switch/SwitchInput.tsx
  src/switch/SwitchText.tsx
  src/switch/__tests__/Switch.test.tsx
  src/switch/__tests__/__snapshots__/Switch.test.tsx.snap
  src/switch/index.ts
  src/switch/stories/Switch.stories.tsx
  src/theme/defaultTheme/switch.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

feat: update theme structure for avatar, badge, button, switch, radio, checkbox
  src/avatar/Avatar.tsx
  src/avatar/AvatarBadge.tsx
  src/avatar/AvatarName.tsx
  src/avatar/stories/Avatar.stories.tsx
  src/badge/Badge.tsx
  src/button/Button.tsx
  src/checkbox/CheckboxIcon.tsx
  src/radio/RadioIcon.tsx
  src/switch/SwitchIcon.tsx
  src/theme/defaultTheme/avatar.ts
  src/theme/defaultTheme/badge.ts
  src/theme/defaultTheme/button.ts
  src/theme/defaultTheme/checkbox.ts
  src/theme/defaultTheme/radio.ts
  src/theme/defaultTheme/switch.ts
Due: yarn format, yarn lint:fix

chore: update snapshots
  src/avatar/__tests__/__snapshots__/Avatar.test.tsx.snap
  src/checkbox/__tests__/__snapshots__/Checkbox.test.tsx.snap
  src/switch/__tests__/__snapshots__/Switch.test.tsx.snap
Due: none

feat: update theme structure for components (#116)
  src/avatar/Avatar.tsx
  src/avatar/AvatarBadge.tsx
  src/avatar/AvatarName.tsx
  src/avatar/__tests__/__snapshots__/Avatar.test.tsx.snap
  src/avatar/stories/Avatar.stories.tsx
  src/badge/Badge.tsx
  src/button/Button.tsx
  src/checkbox/CheckboxIcon.tsx
  src/checkbox/__tests__/__snapshots__/Checkbox.test.tsx.snap
  src/radio/RadioIcon.tsx
  src/switch/SwitchIcon.tsx
  src/switch/__tests__/__snapshots__/Switch.test.tsx.snap
  src/theme/defaultTheme/avatar.ts
  src/theme/defaultTheme/badge.ts
  src/theme/defaultTheme/button.ts
  src/theme/defaultTheme/checkbox.ts
  src/theme/defaultTheme/radio.ts
  src/theme/defaultTheme/switch.ts
Due: yarn format, yarn lint:fix

feat: improved Renderlesskit.GetThemeValue type
  src/theme/types.ts
Due: yarn format

feat: improved Renderlesskit.GetThemeValue type (#117)
  src/theme/types.ts
Due: yarn format

chore(deps): ⬆️ update & patch deps with releaseit
  .release-it.json
  .storybook/main.js
  .versionrc.json
  CHANGELOG.md
  jest.config.ts
  package.json
  patches/@tailwindcss+jit+0.1.18.patch
  patches/tailwindcss+2.2.2.patch
  postcss.config.js
  src/input/__tests__/Input.test.tsx
  tailwind.config.js
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

refactor(vite): ♻️ add storybook vite builder
  .storybook/main.js
  .storybook/preview.jsx
  package.json
  src/button/CloseButton.tsx
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

test: fix avatar advance timer
  src/avatar/__tests__/Avatar.test.tsx
  src/utils/testUtils.tsx
Due: yarn format, yarn lint:fix

chore: regenerate yarnlock
  yarn.lock
Due: none

refactor(tailwind): ♻️ remove individual border utilities
  package.json
  preset.js
  tailwindPlugins/borderColor.js
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

style(prettier): 🎨 update to latest prettier/eslint format
  .storybook/storybookUtils.tsx
  renderlesskit.config.ts
  src/avatar/AvatarGroup.tsx
  src/calendar/helpers.tsx
  src/circular-progress/CircularProgress.tsx
  src/datepicker/DatePicker.tsx
  src/form-field/FormField.tsx
  src/form-field/useFormControl.ts
  src/hooks/useImage.tsx
  src/radio/Radio.tsx
  src/tag/TagGroup.tsx
  src/textarea/stories/Textarea.stories.tsx
  src/textarea/useAutoSize.ts
  src/theme/defaultTheme/alert.ts
  src/theme/defaultTheme/avatar.ts
  src/theme/defaultTheme/badge.ts
  src/theme/defaultTheme/button.ts
  src/theme/defaultTheme/calendar.ts
  src/theme/defaultTheme/checkbox.ts
  src/theme/defaultTheme/datepicker.ts
  src/theme/defaultTheme/icon.ts
  src/theme/defaultTheme/input.ts
  src/theme/defaultTheme/list.ts
  src/theme/defaultTheme/radio.ts
  src/theme/defaultTheme/slider.ts
  src/theme/defaultTheme/spinner.ts
  src/theme/defaultTheme/switch.ts
  src/theme/defaultTheme/tag.ts
  src/theme/defaultTheme/textarea.ts
  src/theme/defaultTheme/toast.ts
  src/theme/defaultTheme/tooltip.ts
  src/theme/types.ts
  src/toast/ToastProvider.tsx
  src/utils/index.tsx
  src/utils/types.tsx
  tailwindPlugins/variantPlugin.js
Due: yarn format, yarn lint:fix

chore(prettier): ⬆️ update to latest version without major changes
  package.json
  yarn.lock
Due: yarn format, yarn format:package

refactor(twplugins): ♻️ update tw variant plugins
  tailwindPlugins/variantPlugin.js
Due: yarn format, yarn lint:fix

build(storybook): 🐛 fix infering the types
  .storybook/main.js
  .storybook/preview.jsx
  README.md
  package.json
  patches/tailwindcss+2.2.2.patch
  preset.js
  src/avatar/__tests__/Avatar.test.tsx
  src/utils/testUtils.tsx
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

refactor(storybook): ♻️ fix deprecations & play with storybook types
  babel.config.js
  package.json
  patches/tailwindcss+2.2.4.patch
  src/alert/Alert.tsx
  src/alert/stories/Alert.stories.tsx
  src/avatar/Avatar.tsx
  src/badge/stories/Badge.stories.tsx
  src/box/stories/Box.stories.tsx
  src/button/stories/Button.stories.tsx
  src/checkbox/stories/Checkbox.stories.tsx
  src/circular-progress/stories/CircularProgress.stories.tsx
  src/datepicker/stories/DatePicker.stories.tsx
  src/form-field/stories/FormField.stories.tsx
  src/icon/stories/Icon.stories.tsx
  src/list/stories/List.stories.tsx
  src/progress/stories/Progress.stories.tsx
  src/slider/stories/Slider.stories.tsx
  src/spinner/stories/Spinner.stories.tsx
  src/switch/stories/Switch.stories.tsx
  src/tag/stories/Tag.stories.tsx
  src/textarea/stories/Textarea.stories.tsx
  src/toast/stories/Toast.stories.tsx
  src/tooltip/stories/Tooltip.stories.tsx
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

chore: rexport extendTheme
  src/theme/index.tsx
Due: yarn format, yarn lint:fix

test: added wip test for textarea
  src/textarea/Textarea.tsx
  src/textarea/__tests__/Textarea.test.tsx
  src/textarea/__tests__/__snapshots__/Textarea.test.tsx.snap
Due: yarn format, yarn lint:fix

chore(deps): ⬆️ upgrade deps
  package.json
  yarn.lock
Due: yarn format, yarn format:package

feat: rexport extendTheme (#119)
  src/theme/index.tsx
Due: yarn format, yarn lint:fix

chore: added vite builder
  .storybook/main.js
  package.json
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

test: added useSliderValues tests
  src/slider/Slider.tsx
  src/slider/__tests__/useSliderValues.test.tsx
Due: yarn format, yarn lint:fix

Path conditions:
  yarn format: any of: **/*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}
  yarn format:package: any of: package.json
  yarn lint:fix: any of: **/*.{js,jsx,tx,tsx}
