Repository adaptui/react-tailwind: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn format:package, yarn lint:fix

refactor(syntax): ♻️ update composable rfc
  package.json
  src/button-group/ButtonGroup.tsx
  src/button-group/__keys.ts
  src/button-group/__utils.tsx
  src/button-group/index.ts
  src/checkbox/Checkbox.tsx
  src/checkbox/CheckboxDescription.tsx
  src/checkbox/CheckboxIcon.tsx
  src/checkbox/CheckboxInput.tsx
  src/checkbox/CheckboxLabel.tsx
  src/checkbox/CheckboxProps.tsx
  src/checkbox/CheckboxState.tsx
  src/checkbox/CheckboxText.tsx
  src/checkbox/__keys.ts
  src/checkbox/__utils.tsx
  src/checkbox/index.ts
  src/checkbox/stories/CheckboxBasic.component.tsx
  src/checkbox/stories/CheckboxBasic.stories.tsx
  src/checkbox/stories/CheckboxControlled.component.tsx
  src/checkbox/stories/CheckboxCustomAdvanced.component.tsx
  src/checkbox/stories/CheckboxCustomMedium.component.tsx
  src/checkbox/stories/CheckboxStack.component.tsx
  src/create-icon/Icon.tsx
  src/create-icon/createIcon.tsx
  src/utils/react.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

refactor(syntax): ♻️ finished the code structure for the composable rfc
  src/checkbox/Checkbox.tsx
  src/checkbox/CheckboxDescription.tsx
  src/checkbox/CheckboxIcon.tsx
  src/checkbox/CheckboxInput.tsx
  src/checkbox/CheckboxLabel.tsx
  src/checkbox/CheckboxProps.tsx
  src/checkbox/CheckboxState.tsx
  src/checkbox/CheckboxText.tsx
  src/checkbox/CheckboxUIState.tsx
  src/checkbox/__utils.tsx
  src/checkbox/index.ts
  src/checkbox/stories/CheckboxBasic.component.tsx
  src/checkbox/stories/CheckboxBasic.stories.tsx
  src/checkbox/stories/CheckboxControlled.component.tsx
  src/checkbox/stories/CheckboxCustomAdvanced.component.tsx
  src/checkbox/stories/CheckboxCustomMedium.component.tsx
  src/checkbox/stories/CheckboxCustomSimple.component.tsx
  src/checkbox/stories/CheckboxStack.component.tsx
  src/utils/react.ts
Due: yarn format, yarn lint:fix

refactor(checkbox): ♻️ update checkbox & group
  package.json
  src/button/Button.tsx
  src/button/ButtonSpinner.tsx
  src/button/CloseButton.tsx
  src/checkbox-group/CheckboxGroup.tsx
  src/checkbox-group/CheckboxGroupProps.tsx
  src/checkbox-group/CheckboxGroupState.tsx
  src/checkbox-group/CheckboxGroupUIState.tsx
  src/checkbox-group/CheckboxGroupWrapper.tsx
  src/checkbox-group/CheckboxShowMore.tsx
  src/checkbox-group/__keys.ts
  src/checkbox-group/__utils.ts
  src/checkbox-group/index.ts
  src/checkbox-group/stories/CheckboxGroupBasic.component.tsx
  src/checkbox-group/stories/CheckboxGroupStack.component.tsx
  src/checkbox-group/stories/CheckboxGroupTriBoolState.component.tsx
  src/checkbox-group/stories/CheckboxGroupTriStringState.component.tsx
  src/checkbox/Checkbox.tsx
  src/checkbox/CheckboxDescription.tsx
  src/checkbox/CheckboxIcon.tsx
  src/checkbox/CheckboxInput.tsx
  src/checkbox/CheckboxLabel.tsx
  src/checkbox/CheckboxProps.tsx
  src/checkbox/CheckboxText.tsx
  src/checkbox/CheckboxUIState.tsx
  src/checkbox/stories/CheckboxCustomAdvanced.component.tsx
  src/checkbox/stories/CheckboxCustomSimple.component.tsx
  src/create-icon/Icon.tsx
  src/create-icon/createIcon.tsx
  src/show-more/ShowMore.tsx
  src/show-more/ShowMoreButton.tsx
  src/show-more/ShowMoreContent.tsx
  src/show-more/ShowMoreProps.tsx
  src/show-more/ShowMoreState.tsx
  src/show-more/ShowMoreUIState.tsx
  src/show-more/index.ts
  src/utils/react.ts
  src/utils/tailwindMerge.ts
  src/utils/types.tsx
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

chore(cleanup): 🗑️ remove toast & fix exports
  src/checkbox-group/CheckboxGroupProps.tsx
  src/checkbox-group/CheckboxGroupUIState.tsx
  src/circular-progress/CircularProgressUIState.tsx
  src/index.ts
  src/radio-group/RadioGroupProps.tsx
  src/radio-group/RadioGroupUIState.tsx
  src/switch/SwitchUIState.tsx
  src/toast/ToastAlert.tsx
  src/toast/ToastBar.tsx
  src/toast/ToastBarHelpers.tsx
  src/toast/ToastProvider.ts
  src/toast/ToastTypes.ts
  src/toast/helpers.ts
  src/toast/index.ts
  src/toast/stories/CustomToast.tsx
  src/toast/stories/Toast.stories.tsx
Due: yarn format, yarn lint:fix

feat(input): ✨ refactoring done
  package.json
  src/input/Input.tsx
  src/input/InputBase.tsx
  src/input/InputPrefix.tsx
  src/input/InputProps.tsx
  src/input/InputState.tsx
  src/input/InputSuffix.tsx
  src/input/InputUIState.tsx
  src/input/InputWrapper.tsx
  src/input/__keys.ts
  src/input/__utils.tsx
  src/input/index.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

feat(textarea): ✨ finish migration
  src/input/InputProps.tsx
  src/textarea/Textarea.tsx
  src/textarea/TextareaBase.tsx
  src/textarea/TextareaGhost.tsx
  src/textarea/TextareaIcon.tsx
  src/textarea/TextareaProps.tsx
  src/textarea/TextareaUIState.tsx
  src/textarea/TextareaWrapper.tsx
  src/textarea/__keys.ts
  src/textarea/__utils.tsx
  src/textarea/index.ts
  src/textarea/stories/TextareaBasic.stories.tsx
  src/textarea/stories/TextareaStack.stories.tsx
  src/textarea/useAutoSize.ts
Due: yarn format, yarn lint:fix

feat(select): ✨ finish migration
  src/select/Select.tsx
  src/select/SelectBase.tsx
  src/select/SelectPrefix.tsx
  src/select/SelectProps.tsx
  src/select/SelectState.tsx
  src/select/SelectSuffix.tsx
  src/select/SelectUIState.tsx
  src/select/SelectWrapper.tsx
  src/select/__keys.ts
  src/select/__utils.tsx
  src/select/index.ts
Due: yarn format, yarn lint:fix

feat(tooltip): ✨ finish migration
  package.json
  src/slider/Slider.tsx
  src/slider/SliderFilledTrack.tsx
  src/slider/SliderProps.tsx
  src/slider/SliderState.tsx
  src/slider/SliderThumb.tsx
  src/slider/SliderThumbContainer.tsx
  src/slider/SliderThumbInput.tsx
  src/slider/SliderThumbProps.tsx
  src/slider/SliderThumbState.tsx
  src/slider/SliderThumbUIState.tsx
  src/slider/SliderThumbWrapper.tsx
  src/slider/SliderTrack.tsx
  src/slider/SliderTrackWrapper.tsx
  src/slider/SliderUIState.tsx
  src/slider/SliderWrapper.tsx
  src/slider/__keys.ts
  src/slider/__utils.tsx
  src/slider/index.ts
  src/slider/stories/SliderRange.stories.tsx
  src/theme/defaultTheme/tooltip.ts
  src/tooltip/SliderTooltipReference.tsx
  src/tooltip/Tooltip.tsx
  src/tooltip/TooltipAnchor.tsx
  src/tooltip/TooltipArrow.tsx
  src/tooltip/TooltipArrowContent.tsx
  src/tooltip/TooltipContent.tsx
  src/tooltip/TooltipProps.tsx
  src/tooltip/TooltipReference.tsx
  src/tooltip/TooltipState.tsx
  src/tooltip/TooltipTrigger.tsx
  src/tooltip/TooltipUIState.tsx
  src/tooltip/TooltipWrapper.tsx
  src/tooltip/index.ts
  src/tooltip/stories/TooltipBasic.component.tsx
  src/tooltip/stories/TooltipBasic.stories.tsx
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

feat(tooltip): ✨ finish tooltip
  package.json
  src/create-icon/stories/IconAll.component.tsx
  src/icons/Arrow.tsx
  src/icons/index.ts
  src/theme/defaultTheme/tooltip.ts
  src/tooltip/Tooltip.tsx
  src/tooltip/TooltipAnchor.tsx
  src/tooltip/TooltipArrow.tsx
  src/tooltip/TooltipPrefix.tsx
  src/tooltip/TooltipProps.tsx
  src/tooltip/TooltipSuffix.tsx
  src/tooltip/TooltipUIState.tsx
  src/tooltip/TooltipWrapper.tsx
  src/tooltip/__keys.ts
  src/tooltip/index.ts
  src/tooltip/stories/TooltipBasic.component.tsx
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

chore(deps): ⬆️ update dev dependencies (major)
  package.json
  yarn.lock
Due: yarn format, yarn format:package

feat(migration): ✨ finish tooltip + fix test lint extras
  src/avatar/__tests__/__snapshots__/Avatar.test.tsx.snap
  src/button/Button.tsx
  src/circular-progress/stories/CircularProgressCustom.component.tsx
  src/create-icon/__tests__/__snapshots__/Icon.test.tsx.snap
  src/create-icon/__tests__/__snapshots__/createIcon.test.tsx.snap
  src/icons/TypingLargeStatus.tsx
  src/icons/TypingSmallStatus.tsx
  src/slider/SliderThumb.tsx
  src/slider/SliderThumbInput.tsx
  src/slider/SliderThumbWrapper.tsx
  src/switch/__tests__/Switch.test.tsx
  src/switch/__tests__/__snapshots__/Switch.test.tsx.snap
  src/theme/defaultTheme/slider.ts
  src/theme/provider.tsx
  src/tooltip/Tooltip.tsx
  src/tooltip/TooltipAnchor.tsx
  src/tooltip/TooltipArrow.tsx
  src/tooltip/TooltipPrefix.tsx
  src/tooltip/TooltipProps.tsx
  src/tooltip/TooltipSuffix.tsx
  src/tooltip/TooltipUIState.tsx
  src/tooltip/TooltipWrapper.tsx
  src/tooltip/index.ts
  src/tooltip/stories/TooltipBasic.component.tsx
  src/utils/assertions.ts
  src/utils/createContextScope.tsx
  src/utils/object/index.ts
  src/utils/object/objectKeys.ts
  src/utils/object/splitProps.ts
  src/utils/react.ts
Due: yarn format, yarn lint:fix

chore(sb): ➕ update storybook 6.5.5
  package.json
  yarn.lock
Due: yarn format, yarn format:package

chore(sb): ➕ update storybook 6.5.5 (#299)
  package.json
  yarn.lock
Due: yarn format, yarn format:package

chore(packagejson): 🏗️ remove keys scripts
  package.json
Due: yarn format, yarn format:package

🚀 Release v0.0.1-alpha.39
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

chore(deps): ⬆️ update dev dependencies (minor)
  package.json
  yarn.lock
Due: yarn format, yarn format:package

chore(deps): ⬆️ update dependency lint-staged to v12.4.3
  package.json
  yarn.lock
Due: yarn format, yarn format:package

feat(tokens): ✨ add advanced tokens
  .storybook/tailwind.css
  1st-level-tokens.json
  core-tokens.json
  full-tokens.json
  high-level-tokens.js
  low-level-tokens.js
  mid-level-tokens.js
  preset.js
  renderlesskit.config.ts
  src/button/Button.tsx
  src/theme/defaultTheme/button.ts
  tailwind.config.js
Due: yarn format, yarn lint:fix

test(mergeThemes): ✅ update failing test
  src/theme/__tests__/mergeThemes.test.tsx
Due: yarn format, yarn lint:fix

🚀 Release v1.0.0-alpha.0
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

chore(avatar): 🚚 circular to squared & deps updates
  package.json
  src/avatar-group/AvatarGroupProps.tsx
  src/avatar-group/AvatarGroupUIState.tsx
  src/avatar-group/AvatarGroupWrapper.tsx
  src/avatar-group/stories/AvatarGroupBasic.component.tsx
  src/avatar-group/stories/AvatarGroupBasic.stories.tsx
  src/avatar-group/stories/AvatarGroupIcon.stories.tsx
  src/avatar-group/stories/AvatarGroupName.stories.tsx
  src/avatar-group/stories/AvatarGroupStack.stories.tsx
  src/avatar/AvatarIcon.tsx
  src/avatar/AvatarImage.tsx
  src/avatar/AvatarInitials.tsx
  src/avatar/AvatarProps.tsx
  src/avatar/AvatarStatusIndicator.tsx
  src/avatar/AvatarUIState.tsx
  src/avatar/AvatarWrapper.tsx
  src/avatar/stories/AvatarBasic.stories.tsx
  src/avatar/stories/AvatarStack.stories.tsx
  src/button/Button.tsx
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

chore(deps): ⬆️ update @types/node
  package.json
  yarn.lock
Due: yarn format, yarn format:package

chore(deps): ➖ remove tsd tests
  package.json
  src/theme/__tests__/theme.test-d.ts
Due: yarn format, yarn format:package

ci(actions): 👷 update run names
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: yarn format

fix(avatar-group): 🐛 run children with runIfFnChildren
  src/avatar-group/AvatarGroupProps.tsx
Due: yarn format, yarn lint:fix

docs(preview): 👷 update next js sb csb example
  .storybook/utils.tsx
Due: yarn format, yarn lint:fix

chore(vscode): 🧑‍💻 add conventional commits ext recommendations
  .vscode/extensions.json
Due: yarn format

refactor(react-utils): 🏷️ update children types
  src/utils/react.ts
Due: yarn format

Path conditions:
  yarn format: any of: **/*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}
  yarn format:package: any of: package.json
  yarn lint:fix: any of: **/*.{js,jsx,tx,tsx}
