Repository adaptui/react-tailwind: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn format:package, yarn lint:fix

chore(vscode): 🔧 update settings error
  .vscode/settings.json
Due: yarn format

ci(actions): 👷 update action name
  .github/workflows/main.yml
Due: yarn format

fix(checkbox): 🩹 use separate variable for input
  src/icons/CaretRight.tsx
  src/input/InputProps.tsx
  src/theme/defaultTheme/input.ts
Due: yarn format, yarn lint:fix

revert(input): ⏪️ remove console logs
  src/input/InputProps.tsx
Due: yarn format, yarn lint:fix

🚀 Release v0.1.0-alpha.0
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

fix(select): 🩹 update fork ref declaration
  src/select/SelectProps.tsx
Due: yarn format, yarn lint:fix

🚀 Release v0.1.0-alpha.1
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

docs(readme): 📝 update docs site url
  README.md
  package.json
Due: yarn format, yarn format:package

refactor(tooltip): ♻️ update types for state
  src/tooltip/TooltipWrapper.tsx
Due: yarn format, yarn lint:fix

🚀 Release v0.1.0-alpha.2
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

🚀 Release v0.1.0-alpha.3
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

feat(tooltip): ✨ add anchor prop to provide renderPropable element
  src/tooltip/Tooltip.tsx
  src/tooltip/TooltipAnchor.tsx
  src/tooltip/TooltipArrow.tsx
  src/tooltip/TooltipPrefix.tsx
  src/tooltip/TooltipProps.tsx
  src/tooltip/TooltipSuffix.tsx
  src/tooltip/TooltipUIState.tsx
  src/tooltip/TooltipWrapper.tsx
  src/tooltip/stories/TooltipAnchor.component.tsx
  src/tooltip/stories/TooltipAnchor.stories.tsx
Due: yarn format, yarn lint:fix

feat(tooltip): ✨ add anchor prop to provide renderPropable element (#342)
  src/tooltip/Tooltip.tsx
  src/tooltip/TooltipAnchor.tsx
  src/tooltip/TooltipArrow.tsx
  src/tooltip/TooltipPrefix.tsx
  src/tooltip/TooltipProps.tsx
  src/tooltip/TooltipSuffix.tsx
  src/tooltip/TooltipUIState.tsx
  src/tooltip/TooltipWrapper.tsx
  src/tooltip/stories/TooltipAnchor.component.tsx
  src/tooltip/stories/TooltipAnchor.stories.tsx
Due: yarn format, yarn lint:fix

🚀 Release v0.1.0-alpha.4
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

refactor(storybook): ♻️ remove ghost variant ex from tag
  src/checkbox-group/stories/CheckboxGroupBasic.component.tsx
  src/checkbox-group/stories/CheckboxGroupControlled.component.tsx
  src/checkbox/stories/CheckboxCustomAdvanced.component.tsx
  src/circular-progress/stories/CircularProgressCustom.component.tsx
  src/radio-group/stories/RadioGroupControlled.component.tsx
  src/tag/stories/TagBasic.stories.tsx
  src/tag/stories/TagStack.component.tsx
  src/tooltip/stories/TooltipAnchor.component.tsx
  src/tooltip/stories/TooltipBasic.component.tsx
Due: yarn format, yarn lint:fix

fix(ariakit): 🩹 fix new props for disclosure in core & ui
  package.json
  src/show-more/ShowMoreButton.tsx
  src/show-more/ShowMoreProps.tsx
  src/show-more/ShowMoreUIState.tsx
  src/tooltip/TooltipAnchor.tsx
  src/tooltip/TooltipProps.tsx
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

refactor(circular-progress): ♻️ add strokedashoffset
  src/circular-progress/CircularProgressBar.tsx
Due: yarn format, yarn lint:fix

🚀 Release v0.1.0-alpha.5
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

chore(sb): 🔧 update sb examples to latest alpha
  .storybook/utils.tsx
Due: yarn format, yarn lint:fix

refactor(utils): ♻️ update react utils
  src/utils/react.ts
Due: yarn format

chore(renovate): 🧹 disable dependency checks
  renovate.json
Due: yarn format

Path conditions:
  yarn format: any of: **/*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}
  yarn format:package: any of: package.json
  yarn lint:fix: any of: **/*.{js,jsx,tx,tsx}
