Repository adaptui/react-tailwind: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn format:package, yarn lint:fix

chore: added textarea example with formfield
  src/form-field/stories/FormField.stories.tsx
Due: yarn format, yarn lint:fix

chore: formfield storybook improvement
  src/form-field/stories/FormField.stories.tsx
Due: yarn format, yarn lint:fix

refactor(textarea): ♻️ update minor changes
  src/form-field/stories/FormField.stories.tsx
  src/form-field/useFormControl.ts
  src/textarea/Textarea.tsx
  src/textarea/stories/Textarea.stories.tsx
  src/textarea/useAutoSize.ts
Due: yarn format, yarn lint:fix

refactor(textarea): 🏷️ update useAutoSize type
  src/textarea/useAutoSize.ts
Due: yarn format

refactor(textarea): ♻️ add textarea (#105)
  preset.js
  src/form-field/stories/FormField.stories.tsx
  src/form-field/useFormControl.ts
  src/textarea/Textarea.tsx
  src/textarea/index.ts
  src/textarea/stories/Textarea.stories.tsx
  src/textarea/useAutoSize.ts
  src/theme/defaultTheme/index.ts
  src/theme/defaultTheme/textarea.ts
  src/utils/index.tsx
Due: yarn format, yarn lint:fix

refactor(slider): ♻️ add slider arbitrary children
  src/slider/SliderMinMax.tsx
Due: yarn format, yarn lint:fix

refactor(slider): 💄 update slider minmax component (#106)
  src/slider/Slider.tsx
  src/slider/SliderMinMax.tsx
  src/slider/index.ts
  src/slider/stories/Slider.stories.tsx
  src/theme/defaultTheme/slider.ts
Due: yarn format, yarn lint:fix

refactor(input): ♻️ rename Input to input
  src/form-field/stories/FormField.stories.tsx
  src/input/Input.tsx
  src/input/InputAddons.tsx
  src/input/InputGroup.tsx
  src/input/index.ts
  src/input/stories/Input.stories.tsx
Due: yarn format, yarn lint:fix

refactor(input): ♻️ rename Input to input (#107)
  src/form-field/stories/FormField.stories.tsx
  src/input/Input.tsx
  src/input/InputAddons.tsx
  src/input/InputGroup.tsx
  src/input/index.ts
  src/input/stories/Input.stories.tsx
Due: yarn format, yarn lint:fix

chore: add missing entrypoints
  src/hooks/index.ts
  src/icons/index.tsx
  src/index.tsx
  src/theme/index.tsx
  src/tooltip/index.ts
  src/utils/types.tsx
Due: yarn format, yarn lint:fix

refactor: group stories
  .storybook/preview.js
  src/alert/stories/Alert.stories.tsx
  src/avatar/stories/Avatar.stories.tsx
  src/badge/stories/Badge.stories.tsx
  src/box/stories/Box.stories.tsx
  src/button/stories/Button.stories.tsx
  src/calendar/stories/Calendar.stories.tsx
  src/checkbox/stories/Checkbox.stories.tsx
  src/circular-progress/stories/CircularProgress.stories.tsx
  src/datepicker/stories/DatePicker.stories.tsx
  src/form-field/stories/FormField.stories.tsx
  src/icon/stories/Icon.stories.tsx
  src/input/stories/Input.stories.tsx
  src/progress/stories/Progress.stories.tsx
  src/radio/stories/Radio.stories.tsx
  src/slider/stories/Slider.stories.tsx
  src/spinner/stories/Spinner.stories.tsx
  src/switch/stories/Switch.stories.tsx
  src/tag/stories/Tag.stories.tsx
  src/textarea/stories/Textarea.stories.tsx
  src/toast/stories/Toast.stories.tsx
  src/tooltip/stories/Tooltip.stories.tsx
Due: yarn format, yarn lint:fix

test: added tests for form-field
  src/form-field/__tests__/FormField.test.tsx
  src/form-field/__tests__/__snapshots__/FormField.test.tsx.snap
Due: yarn format, yarn lint:fix

chore: arrange imports
  src/form-field/__tests__/FormField.test.tsx
Due: yarn format, yarn lint:fix

feat(list): ✨ add list & list item comp
  src/list/List.tsx
  src/list/ListIcon.tsx
  src/list/ListItem.tsx
  src/list/index.ts
  src/list/stories/List.stories.tsx
  src/theme/defaultTheme/index.ts
  src/theme/defaultTheme/list.ts
Due: yarn format, yarn lint:fix

refactor(alert): ♻️ fix alert styles overrides
  src/theme/defaultTheme/alert.ts
Due: yarn format

chore: add missing entrypoints (#108)
  .storybook/preview.js
  src/alert/stories/Alert.stories.tsx
  src/avatar/stories/Avatar.stories.tsx
  src/badge/stories/Badge.stories.tsx
  src/box/stories/Box.stories.tsx
  src/button/stories/Button.stories.tsx
  src/calendar/stories/Calendar.stories.tsx
  src/checkbox/stories/Checkbox.stories.tsx
  src/circular-progress/stories/CircularProgress.stories.tsx
  src/datepicker/stories/DatePicker.stories.tsx
  src/form-field/stories/FormField.stories.tsx
  src/hooks/index.ts
  src/icon/stories/Icon.stories.tsx
  src/icons/index.tsx
  src/index.tsx
  src/input/stories/Input.stories.tsx
  src/progress/stories/Progress.stories.tsx
  src/radio/stories/Radio.stories.tsx
  src/slider/stories/Slider.stories.tsx
  src/spinner/stories/Spinner.stories.tsx
  src/switch/stories/Switch.stories.tsx
  src/tag/stories/Tag.stories.tsx
  src/textarea/stories/Textarea.stories.tsx
  src/theme/defaultTheme/alert.ts
  src/theme/index.tsx
  src/toast/stories/Toast.stories.tsx
  src/tooltip/index.ts
  src/tooltip/stories/Tooltip.stories.tsx
  src/utils/types.tsx
Due: yarn format, yarn lint:fix

refactor(list): ♻️ update list with nested list layout
  src/list/List.tsx
  src/list/ListItem.tsx
  src/list/stories/List.stories.tsx
  src/theme/defaultTheme/list.ts
Due: yarn format, yarn lint:fix

refactor(list): ♻️ update deps
  package.json
  src/list/stories/List.stories.tsx
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

test: added tests for form-field (#109)
  src/form-field/__tests__/FormField.test.tsx
  src/form-field/__tests__/__snapshots__/FormField.test.tsx.snap
Due: yarn format, yarn lint:fix

refactor(list): ♻️ reexport at index
  src/index.tsx
Due: yarn format, yarn lint:fix

feat(list): ✨ add list & list item comp (#110)
  package.json
  src/index.tsx
  src/list/List.tsx
  src/list/ListIcon.tsx
  src/list/ListItem.tsx
  src/list/index.ts
  src/list/stories/List.stories.tsx
  src/theme/defaultTheme/index.ts
  src/theme/defaultTheme/list.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

refactor(jit): ♻️ update jit & patch
  package.json
  patches/@tailwindcss+jit+0.1.17.patch
  yarn.lock
Due: yarn format, yarn format:package

chore(release): 0.0.1-alpha.3
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

refactor(toast): ♻️ add renderless toast state
  package.json
  src/toast/RenderlessToast/CreateToastContext.tsx
  src/toast/RenderlessToast/ToastState.ts
  src/toast/RenderlessToast/ToastTypes.ts
  src/toast/RenderlessToast/helpers.ts
  src/toast/RenderlessToast/index.ts
  src/toast/RenderlessToast/useToastTimer.tsx
  src/toast/ToastAlert.tsx
  src/toast/ToastBarHelpers.tsx
  src/toast/ToastProvider.tsx
  src/toast/ToastTypes.ts
  src/toast/stories/CustomToast.tsx
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

chore(release): 0.0.1-alpha.4
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

fix(progress): 🐛 fix progress api to match renderless
  src/circular-progress/CircularProgress.tsx
  src/progress/Progress.tsx
Due: yarn format, yarn lint:fix

chore(release): 0.0.1-alpha.5
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

docs: add @navin-moorthy as a contributor
  .all-contributorsrc
  README.md
Due: yarn format

docs: add @anuraghazra as a contributor
  .all-contributorsrc
  README.md
Due: yarn format

build(dx): 🎨 improve folder structure & type generation
  .commitlintrc.json
  .gacprc.json
  .huskyrc.json
  .lintstagedrc.json
  .storybook/preview.js
  babel.config.js
  package.json
  src/avatar/__tests__/Avatar.test.tsx
  src/avatar/__tests__/AvatarGroup.test.tsx
  src/avatar/__tests__/__snapshots__/Avatar.test.tsx.snap
  src/avatar/__tests__/__snapshots__/AvatarGroup.test.tsx.snap
  src/theme/defaultTheme/index.ts
  tailwind.config.js
  tsconfig.prod.json
Due: yarn format, yarn format:package, yarn lint:fix

build(vscode): 🏗 add project extensions for vscodoe
  .vscode/extensions.json
  .vscode/settings.json
Due: yarn format

chore(release): 0.0.1-alpha.6
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

fix(types): 🐛 fix template literal types causing the build fail
  src/toast/ToastBar.tsx
  src/utils/types.tsx
Due: yarn format, yarn lint:fix

chore(release): 0.0.1-alpha.7
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

revert(revert): ⏪ revert split types changes
  package.json
  src/toast/ToastBar.tsx
  src/utils/types.tsx
Due: yarn format, yarn format:package, yarn lint:fix

chore(release): 0.0.1-alpha.8
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

chore(deps): ➖ remove unused storybook addon links
  package.json
Due: yarn format, yarn format:package

build(babel): 🔧 update babel config
  babel.config.js
Due: yarn format, yarn lint:fix

docs: added docs site link
  README.md
Due: yarn format

chore: improve checkbox's form integration & follow prop namings
  package.json
  src/checkbox/Checkbox.tsx
  src/checkbox/CheckboxInput.tsx
  src/checkbox/stories/Checkbox.stories.tsx
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

Path conditions:
  yarn format: any of: **/*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}
  yarn format:package: any of: package.json
  yarn lint:fix: any of: **/*.{js,jsx,tx,tsx}
