Repository adaptui/react-tailwind: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn format:package, yarn lint:fix

.lintstagedrc.json:

{
  "**/*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}": [
    "yarn format",
    "git add"
  ],
  "package.json": ["yarn format:package"],
  "**/*.{js,jsx,tx,tsx}": ["yarn lint:fix"]
}

test: added tests for useSliderDimensions
  src/slider/__tests__/useSliderDimensions.test.tsx
Due: yarn format, yarn lint:fix

feat: new checkbox design & added checkbox description
  src/checkbox/Checkbox.tsx
  src/checkbox/CheckboxDescription.tsx
  src/checkbox/CheckboxIcon.tsx
  src/checkbox/stories/Checkbox.stories.tsx
  src/theme/defaultTheme/checkbox.ts
Due: yarn format, yarn lint:fix

chore: fix alignment styles
  src/checkbox/stories/Checkbox.stories.tsx
  src/theme/defaultTheme/checkbox.ts
Due: yarn format, yarn lint:fix

chore: added invalid in storybook example
  src/checkbox/stories/Checkbox.stories.tsx
Due: yarn format, yarn lint:fix

feat: :sparkles: add new button improvement
  package.json
  src/button/Button.tsx
  src/newButton/Button.tsx
  src/newButton/index.ts
  src/newButton/stories/Button.stories.tsx
  src/theme/defaultTheme/index.ts
  src/theme/defaultTheme/newButton.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

chore: compound styles for invalid
  src/checkbox/Checkbox.tsx
  src/checkbox/CheckboxIcon.tsx
  src/checkbox/stories/Checkbox.stories.tsx
  src/theme/defaultTheme/checkbox.ts
Due: yarn format, yarn lint:fix

feat: :fire: csf v3 & add antialiased globally
  .storybook/main.js
  .storybook/preview.jsx
  package.json
  src/newButton/Button.tsx
  src/newButton/stories/Button.stories.tsx
  tailwind.config.js
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

feat: :fire: add play for hover
  src/newButton/Button.tsx
  src/newButton/stories/Button.stories.tsx
  src/theme/defaultTheme/newButton.ts
Due: yarn format, yarn lint:fix

feat: added checkbox icon render prop
  src/checkbox/Checkbox.tsx
  src/checkbox/CheckboxIcon.tsx
  src/checkbox/stories/Checkbox.stories.tsx
  src/icons/EyesIcon.tsx
Due: yarn format, yarn lint:fix

refactor: move styles to field
  src/checkbox/Checkbox.tsx
  src/checkbox/CheckboxDescription.tsx
  src/checkbox/CheckboxText.tsx
  src/checkbox/stories/Checkbox.stories.tsx
  src/theme/defaultTheme/checkbox.ts
Due: yarn format, yarn lint:fix

chore: fix lineheight and margin for description
  src/theme/defaultTheme/checkbox.ts
Due: yarn format

feat: :fire: add icononly & simulate pseudo state in stories
  .storybook/main.js
  package.json
  src/form-field/__tests__/__snapshots__/FormField.test.tsx.snap
  src/newButton/Button.tsx
  src/newButton/stories/Button.stories.tsx
  src/theme/defaultTheme/badge.ts
  src/theme/defaultTheme/button.ts
  src/theme/defaultTheme/calendar.ts
  src/theme/defaultTheme/datepicker.ts
  src/theme/defaultTheme/input.ts
  src/theme/defaultTheme/newButton.ts
  src/theme/defaultTheme/slider.ts
  src/theme/defaultTheme/tag.ts
  src/theme/defaultTheme/textarea.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

feat: :sparkles: add iconOnly spinner & absolute spinner
  .storybook/preview.jsx
  .storybook/storybookUtils.tsx
  package.json
  postcss.config.js
  src/form-field/__tests__/__snapshots__/FormField.test.tsx.snap
  src/newButton/Button.tsx
  src/newButton/stories/Button.stories.tsx
  src/theme/defaultTheme/button.ts
  src/theme/defaultTheme/datepicker.ts
  src/theme/defaultTheme/input.ts
  src/theme/defaultTheme/newButton.ts
  src/theme/defaultTheme/spinner.ts
  src/theme/defaultTheme/textarea.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

fix: invalid prop issue
  src/checkbox/CheckboxInput.tsx
Due: yarn format, yarn lint:fix

fix: checkbox isdisabled
  src/checkbox/Checkbox.tsx
  src/checkbox/CheckboxDescription.tsx
  src/checkbox/CheckboxInput.tsx
  src/checkbox/index.ts
Due: yarn format, yarn lint:fix

test: fixed tests & added disabled test
  src/checkbox/__tests__/Checkbox.test.tsx
  src/checkbox/__tests__/__snapshots__/Checkbox.test.tsx.snap
  src/theme/defaultTheme/checkbox.ts
Due: yarn format, yarn lint:fix

test: added test for checkbox icon
  src/checkbox/CheckboxIcon.tsx
  src/checkbox/__tests__/Checkbox.test.tsx
Due: yarn format, yarn lint:fix

feat: :fire: add prefix suffix with loading states
  .storybook/tailwind.css
  src/icons/CaretRight.tsx
  src/icons/Clock.tsx
  src/icons/index.tsx
  src/newButton/Button.tsx
  src/newButton/stories/Button.stories.tsx
  src/theme/defaultTheme/newButton.ts
Due: yarn format, yarn lint:fix

fix: :fire: fix bugs & arrange imports
  src/newButton/Button.tsx
  src/newButton/stories/Button.stories.tsx
Due: yarn format, yarn lint:fix

feat: :sparkles: add active button transform
  .storybook/tailwind.css
Due: yarn format

fix(button): 🐛 remove borders on outline variant
  .storybook/main.js
  .storybook/storybookUtils.tsx
  package.json
  src/theme/defaultTheme/newButton.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

fix(storybook): 🐛 pseudo state global decorator & also with vite
  .storybook/main.js
  .storybook/manager.js
  src/newButton/stories/Button.stories.tsx
Due: yarn format, yarn lint:fix

fix(button): 🐛 fix types & move fns to utils
  src/newButton/Button.tsx
  src/newButton/stories/Button.stories.tsx
  src/utils/index.tsx
Due: yarn format, yarn lint:fix

chore(storybook): ♻️ add a story example to test a11y
  src/newButton/stories/Button.stories.tsx
Due: yarn format, yarn lint:fix

feat(button): ✨ add disabled a11y to button
  src/newButton/Button.tsx
  src/theme/defaultTheme/newButton.ts
Due: yarn format, yarn lint:fix

feat(button): ✨ add live region for loading status
  src/newButton/Button.tsx
Due: yarn format, yarn lint:fix

refactor(button): ♻️ split button components & add announcer
  package.json
  src/newButton/Button.tsx
  src/newButton/ButtonChildren.tsx
  src/newButton/ButtonSpinner.tsx
  tailwind.config.js
Due: yarn format, yarn format:package, yarn lint:fix

chore: minor updates
  src/checkbox/stories/Checkbox.stories.tsx
  src/theme/defaultTheme/checkbox.ts
Due: yarn format, yarn lint:fix

refactor(button): ♻️ fix disabled button with css
  src/newButton/Button.tsx
  src/theme/defaultTheme/newButton.ts
Due: yarn format, yarn lint:fix

fix(button): 🐛 revert pointer events change
  src/newButton/Button.tsx
Due: yarn format, yarn lint:fix

fix(button): 🐛 loading button ui
  src/newButton/ButtonChildren.tsx
  src/newButton/ButtonSpinner.tsx
Due: yarn format, yarn lint:fix

refactor: :recycle: migrate from newButton to button
  preset.js
  renderlesskit.config.ts
  src/box/stories/Box.stories.tsx
  src/button/Button.tsx
  src/button/ButtonChildren.tsx
  src/button/ButtonGroup.tsx
  src/button/ButtonIcon.tsx
  src/button/ButtonSpinner.tsx
  src/button/CloseButton.tsx
  src/button/IconButton.tsx
  src/button/__tests__/Button.test.tsx
  src/button/index.ts
  src/button/stories/Button.stories.tsx
  src/checkbox/stories/Checkbox.stories.tsx
  src/icon/Icon.tsx
  src/icon/createIcon.tsx
  src/icon/stories/Icon.stories.tsx
  src/icons/ArrowNarrowRight.tsx
  src/icons/Close.tsx
  src/icons/index.ts
  src/newButton/Button.tsx
  src/newButton/index.ts
  src/newButton/stories/Button.stories.tsx
  src/switch/stories/Switch.stories.tsx
  src/theme/defaultTheme/button.ts
  src/theme/defaultTheme/iconButton.ts
  src/theme/defaultTheme/index.ts
  src/theme/defaultTheme/newButton.ts
  src/theme/defaultTheme/spinner.ts
  src/toast/ToastAlert.tsx
Due: yarn format, yarn lint:fix

chore: :wrench: update deps & chores
  .storybook/preview.jsx
  package.json
  src/button/CloseButton.tsx
  src/button/stories/Button.stories.tsx
  src/theme/defaultTheme/button.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

test(button): :white_check_mark: add button tests back
  src/button/__tests__/Button.test.tsx
Due: yarn format, yarn lint:fix

feat(badge): :sparkles: add badge with theme colors
  preset.js
  src/badge/Badge.tsx
  src/badge/stories/Badge.stories.tsx
  src/theme/defaultTheme/badge.ts
  src/theme/defaultTheme/button.ts
Due: yarn format, yarn lint:fix

test(badge): :white_check_mark: fix failing tests with floating
  src/badge/__tests__/Badge.test.tsx
  src/badge/__tests__/__snapshots__/Badge.test.tsx.snap
Due: yarn format, yarn lint:fix

fix(badge): :bug: fix danger subtle theme color
  src/theme/defaultTheme/badge.ts
Due: yarn format

refactor(badge): :recycle: update types & arrange imports
  src/badge/Badge.tsx
  src/badge/__tests__/Badge.test.tsx
  src/badge/stories/Badge.stories.tsx
  src/button/stories/Button.stories.tsx
Due: yarn format, yarn lint:fix

refactor(badge): :recycle: experiment with getting component theme directly
  src/badge/Badge.tsx
  src/button/Button.tsx
  src/theme/index.tsx
  src/theme/theme.test-d.ts
  src/theme/types.ts
Due: yarn format, yarn lint:fix

feat: useTheme types overloads
  src/badge/Badge.tsx
  src/theme/index.tsx
Due: yarn format, yarn lint:fix
