Repository adaptui/react-tailwind: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn format:package, yarn lint:fix

.lintstagedrc.json:

{
  "**/*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}": [
    "yarn format",
    "git add"
  ],
  "package.json": ["yarn format:package"],
  "**/*.{js,jsx,tx,tsx}": ["yarn lint:fix"]
}

refactor: minor refactors and cleanups (#127)
  src/slider/Slider.tsx
  src/switch/Switch.tsx
  src/tooltip/stories/Tooltip.stories.tsx
Due: yarn format, yarn lint:fix

refactor(button): ♻️ add bg for the ghost variant
  src/theme/defaultTheme/button.ts
Due: yarn format

feat: added new radio wip
  src/checkbox/CheckboxDescription.tsx
  src/radio/Radio.tsx
  src/radio/RadioDescription.tsx
  src/radio/RadioIcon.tsx
  src/radio/RadioLabel.tsx
  src/radio/RadioState.tsx
  src/radio/stories/Radio.stories.tsx
  src/theme/defaultTheme/radio.ts
Due: yarn format, yarn lint:fix

refactor(button): ♻️ restructure button theme & add 2base
  preset.js
  src/theme/defaultTheme/button.ts
Due: yarn format, yarn lint:fix

fix(button): 🐛 update to spinner theme structure
  src/button/ButtonSpinner.tsx
Due: yarn format, yarn lint:fix

feat: improved radio
  src/radio/Radio.tsx
  src/radio/RadioIcon.tsx
  src/radio/RadioInput.tsx
  src/radio/RadioLabel.tsx
  src/radio/RadioState.tsx
  src/radio/RadioText.tsx
  src/radio/stories/Radio.stories.tsx
  src/theme/defaultTheme/radio.ts
Due: yarn format, yarn lint:fix

chore: move exports
  src/radio/Radio.tsx
  src/radio/RadioGroup.tsx
Due: yarn format, yarn lint:fix

fix: incorrect import fo description component
  src/checkbox/CheckboxDescription.tsx
  src/radio/Radio.tsx
  src/radio/index.tsx
Due: yarn format, yarn lint:fix

refactor: minor chores
  src/radio/RadioIcon.tsx
  src/radio/RadioInput.tsx
  src/radio/RadioLabel.tsx
  src/radio/RadioState.tsx
Due: yarn format, yarn lint:fix

refactor(button): ♻️ add button changes to the theme
  src/button/Button.tsx
  src/theme/defaultTheme/button.ts
Due: yarn format, yarn lint:fix

refactor(button): ♻️ fix active styles
  src/theme/defaultTheme/button.ts
Due: yarn format

refactor(theme): ✨ add support for defaultTheme with extend
  src/theme/index.tsx
Due: yarn format, yarn lint:fix

fix(theme): 🐛 test issue with extend
  .storybook/preview.jsx
  src/utils/testUtils.tsx
Due: yarn format, yarn lint:fix

fix(button): 🐛 add back border for the ring changes
  src/theme/defaultTheme/button.ts
Due: yarn format

fix(badge): 🐛 classes mistakes
  preset.js
  src/theme/defaultTheme/badge.ts
Due: yarn format, yarn lint:fix

test(badge): 📸 update snapshot
  src/badge/__tests__/__snapshots__/Badge.test.tsx.snap
Due: none

chore(config): 🔧 update deps & patches
  package.json
  patches/tailwindcss+2.2.7.patch
  yarn.lock
Due: yarn format, yarn format:package

refactor(spinner): ♻️ change aria to proper name label
  src/spinner/Spinner.tsx
  src/theme/defaultTheme/spinner.ts
Due: yarn format, yarn lint:fix

refactor(checkbox): ♻️ start checkbox with the lessons learned
  src/newCheckbox/Checkbox.tsx
  src/newCheckbox/index.ts
  src/newCheckbox/stories/Checkbox.stories.tsx
Due: yarn format, yarn lint:fix

chore(package): ⬆️ upgrade dev deps
  package.json
  yarn.lock
Due: yarn format, yarn format:package

refactor(checkbox): ♻️ continue checkbox experimenting
  src/checkboxNew/Checkbox.tsx
  src/checkboxNew/index.ts
  src/checkboxNew/stories/Checkbox.stories.tsx
  src/theme/defaultTheme/checkboxNew.ts
  src/theme/defaultTheme/index.ts
Due: yarn format, yarn lint:fix

chore: ⬆️ upgrade deps
  package.json
  yarn.lock
Due: yarn format, yarn format:package

chore: 🔨 use yarn 3 and its patch
  .gitattributes
  .gitignore
  .yarn/releases/yarn-3.0.1-rc.1.cjs
  .yarnrc.yml
  babel.config.js
  package.json
  patches/tailwindcss+2.2.7.patch
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

build(yarn): 🔨 update to yarn pnp from node_modules
  .vscode/extensions.json
  .vscode/settings.json
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/integrations.yml
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  package.json
  src/theme/theme.test-d.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

build(yarn): 👷 move back to yarn node-modules from pnp
  .vscode/extensions.json
  .vscode/settings.json
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/integrations.yml
  .yarn/sdks/prettier/index.js
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
Due: yarn format, yarn format:package, yarn lint:fix

build(npm): 💚 use npm instead of yarn
  .gitattributes
  .husky/commit-msg
  .husky/pre-commit
  .yarn/releases/yarn-3.0.1-rc.1.cjs
  .yarnrc.yml
  package-lock.json
  package.json
  patches/tailwindcss+2.2.7.patch
  yarn.lock
Due: yarn format, yarn format:package

chore: update checkbox theme structure (#126)
  src/checkbox/CheckboxIcon.tsx
  src/checkbox/__tests__/__snapshots__/Checkbox.test.tsx.snap
  src/theme/defaultTheme/checkbox.ts
Due: yarn format, yarn lint:fix

fix(radio): 🐛 base radio example to be default
  src/radio/stories/Radio.stories.tsx
Due: yarn format, yarn lint:fix

chore: match styles with figma
  src/theme/defaultTheme/radio.ts
Due: yarn format

fix(tailwindcss): 🐛 patch causing the builds to fail
  patches/tailwindcss+2.2.7.patch
Due: none

chore: fix text styling
  preset.js
  src/theme/defaultTheme/radio.ts
Due: yarn format, yarn lint:fix

build(swc): 💚 add swc build
  .swcrc
  package.json
  yarn.lock
Due: yarn format, yarn format:package

feat(radio): radio v3 (#128)
  preset.js
  src/radio/Radio.tsx
  src/radio/RadioDescription.tsx
  src/radio/RadioGroup.tsx
  src/radio/RadioIcon.tsx
  src/radio/RadioInput.tsx
  src/radio/RadioLabel.tsx
  src/radio/RadioState.tsx
  src/radio/RadioText.tsx
  src/radio/index.tsx
  src/radio/stories/Radio.stories.tsx
  src/theme/defaultTheme/radio.ts
Due: yarn format, yarn lint:fix

chore(deps): ⬆️ update prod & dev deps
  package.json
  yarn.lock
Due: yarn format, yarn format:package

chore(patch): 🔧 update for the new version
  patches/tailwindcss+2.2.7.patch
Due: none

refactor(datepicker): ⚡️ remove date-fns
  src/datepicker/DatePicker.tsx
Due: yarn format, yarn lint:fix
