Repository adaptui/react-tailwind: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn format:package, yarn lint:fix

feat(divider): ✨ add component
  src/divider/Divider.tsx
  src/divider/__keys.ts
  src/divider/index.ts
  src/divider/stories/DividerBasic.component.tsx
  src/divider/stories/DividerBasic.stories.tsx
  src/divider/stories/DividerVertical.component.tsx
  src/divider/stories/DividerVertical.stories.tsx
  src/index.ts
  src/theme/defaultTheme/divider.ts
  src/theme/defaultTheme/index.ts
Due: yarn format, yarn lint:fix

feat(circular-progress): ✨ update component (#189)
  src/box/Box.tsx
  src/circular-progress/CircularProgress.tsx
  src/circular-progress/CircularProgressBar.tsx
  src/circular-progress/CircularProgressBarWrapper.tsx
  src/circular-progress/CircularProgressHint.ts
  src/circular-progress/CircularProgressState.ts
  src/circular-progress/CircularProgressTrack.tsx
  src/circular-progress/CircularProgressWrapper.tsx
  src/circular-progress/__keys.ts
  src/circular-progress/index.ts
  src/circular-progress/stories/CircularProgress.stories.tsx
  src/circular-progress/stories/CircularProgressBasic.component.tsx
  src/circular-progress/stories/CircularProgressBasic.stories.tsx
  src/circular-progress/stories/CircularProgressCustom.component.tsx
  src/circular-progress/stories/CircularProgressCustom.stories.tsx
  src/circular-progress/stories/CircularProgressHint.component.tsx
  src/circular-progress/stories/CircularProgressHint.stories.tsx
  src/divider/Divider.tsx
  src/divider/__keys.ts
  src/divider/index.ts
  src/divider/stories/DividerBasic.component.tsx
  src/divider/stories/DividerBasic.stories.tsx
  src/divider/stories/DividerVertical.component.tsx
  src/divider/stories/DividerVertical.stories.tsx
  src/index.ts
  src/progress/Progress.tsx
  src/progress/ProgressWrapper.tsx
  src/theme/defaultTheme/circularProgress.ts
  src/theme/defaultTheme/divider.ts
  src/theme/defaultTheme/index.ts
Due: yarn format, yarn lint:fix

build(swc): 👷 update swc build
  .swcrc
  package.json
  tsconfig.prod.json
  tsconfig.swc.json
  yarn.lock
Due: yarn format, yarn format:package

build(swc): 👷 update swc files
  .swcrc
  index.d.ts
  package.json
  src/theme/__tests__/mergeThemes.test.tsx
  tsconfig.json
  tsconfig.prod.json
  tsconfig.swc.json
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

build(swc): 💚 add swc build (#131)
  .swcrc
  index.d.ts
  package.json
  src/theme/__tests__/mergeThemes.test.tsx
  tsconfig.json
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

chore(deps): pin dependency browserlist to 1.0.1
  package.json
  yarn.lock
Due: yarn format, yarn format:package

chore(deps): ⬆️ update dev dependencies (minor) to v6.4.0-beta.20
  package.json
  yarn.lock
Due: yarn format, yarn format:package

🚀 Release v0.0.1-alpha.26
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

build(swc): 👷 export swc build files
  package.json
Due: yarn format, yarn format:package

🚀 Release v0.0.1-alpha.27
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

build(exports): 👷 move default to last in exports
  package.json
Due: yarn format, yarn format:package

🚀 Release v0.0.1-alpha.28
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

chore(size): 🔧 update size-limit to use swc build files
  .size-limit.js
Due: yarn format, yarn lint:fix

fix(types): 🏷️ fix wrong build types
  package.json
  patches/storybook-addon-preview+2.1.2.patch
Due: yarn format, yarn format:package

🚀 Release v0.0.1-alpha.29
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

chore(deps): ⬆️ update dependency lint-staged to v11.2.5
  package.json
  yarn.lock
Due: yarn format, yarn format:package

fix(progress): 🔥 remove console.log lines
  src/checkbox/CheckboxIcon.tsx
  src/circular-progress/CircularProgressState.ts
Due: yarn format, yarn lint:fix

feat(meter): ✨ add meter with interval
  package.json
  src/index.ts
  src/meter/Meter.tsx
  src/meter/MeterBar.tsx
  src/meter/MeterHint.tsx
  src/meter/MeterLabel.tsx
  src/meter/MeterState.ts
  src/meter/MeterTrack.tsx
  src/meter/MeterWrapper.tsx
  src/meter/__keys.ts
  src/meter/index.ts
  src/meter/stories/MeterBasic.component.tsx
  src/meter/stories/MeterBasic.stories.tsx
  src/meter/stories/MeterCustom.component.tsx
  src/meter/stories/MeterCustom.stories.tsx
  src/meter/stories/MeterHint.component.tsx
  src/meter/stories/MeterHint.stories.tsx
  src/meter/stories/MeterLabel.component.tsx
  src/meter/stories/MeterLabel.stories.tsx
  src/progress/ProgressState.ts
  src/theme/defaultTheme/index.ts
  src/theme/defaultTheme/meter.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

build(patch): 👷 update preview patch with next 12
  patches/storybook-addon-preview+2.1.2.patch
Due: none

refactor(meter): 💩 background image hack code try
  src/meter/Meter.tsx
  src/meter/stories/MeterHint.component.tsx
  tsconfig.json
Due: yarn format, yarn lint:fix

feat(meter): ✨ finalized the meter interval logic
  src/meter/Meter.tsx
  src/meter/MeterBar.tsx
  src/meter/MeterState.ts
  src/meter/__keys.ts
  src/meter/stories/MeterInterval.component.tsx
  src/meter/stories/MeterInterval.stories.tsx
  src/theme/defaultTheme/meter.ts
  tailwindPlugins/utilities.js
Due: yarn format, yarn lint:fix

build(webpack): 👷 add webpack5 support in sb
  .storybook/main.js
  package.json
  patches/storybook-addon-preview+2.1.2.patch
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

feat(meter): ✨ finish meter with interval
  package.json
  src/meter/Meter.tsx
  src/meter/MeterBar.tsx
  src/meter/MeterBarWrapper.tsx
  src/meter/MeterState.ts
  src/meter/__keys.ts
  src/meter/stories/MeterInterval.component.tsx
  src/meter/stories/MeterInterval.stories.tsx
  src/progress/Progress.tsx
  src/theme/defaultTheme/meter.ts
  tailwind.config.js
  tsconfig.json
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

feat(meter): ✨ add meter with interval (#193)
  .storybook/main.js
  package.json
  patches/storybook-addon-preview+2.1.2.patch
  src/index.ts
  src/meter/Meter.tsx
  src/meter/MeterBar.tsx
  src/meter/MeterBarWrapper.tsx
  src/meter/MeterHint.tsx
  src/meter/MeterLabel.tsx
  src/meter/MeterState.ts
  src/meter/MeterTrack.tsx
  src/meter/MeterWrapper.tsx
  src/meter/__keys.ts
  src/meter/index.ts
  src/meter/stories/MeterBasic.component.tsx
  src/meter/stories/MeterBasic.stories.tsx
  src/meter/stories/MeterCustom.component.tsx
  src/meter/stories/MeterCustom.stories.tsx
  src/meter/stories/MeterHint.component.tsx
  src/meter/stories/MeterHint.stories.tsx
  src/meter/stories/MeterInterval.component.tsx
  src/meter/stories/MeterInterval.stories.tsx
  src/meter/stories/MeterLabel.component.tsx
  src/meter/stories/MeterLabel.stories.tsx
  src/progress/Progress.tsx
  src/progress/ProgressState.ts
  src/theme/defaultTheme/index.ts
  src/theme/defaultTheme/meter.ts
  tailwind.config.js
  tailwindPlugins/utilities.js
  tsconfig.json
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

chore(deps): pin dependencies
  package.json
  yarn.lock
Due: yarn format, yarn format:package

feat(avatar): ✨ add avatar with composable RFC
  src/alert/AlertIcon.tsx
  src/avatar/Avatar.tsx
  src/avatar/AvatarBadge.tsx
  src/avatar/AvatarGroup.tsx
  src/avatar/AvatarIcon.tsx
  src/avatar/AvatarImage.tsx
  src/avatar/AvatarInitials.tsx
  src/avatar/AvatarName.tsx
  src/avatar/AvatarState.tsx
  src/avatar/AvatarWrapper.tsx
  src/avatar/__keys.ts
  src/avatar/__tests__/Avatar.test.tsx
  src/avatar/__tests__/AvatarGroup.test.tsx
  src/avatar/__tests__/__snapshots__/Avatar.test.tsx.snap
  src/avatar/__tests__/__snapshots__/AvatarGroup.test.tsx.snap
  src/avatar/index.ts
  src/avatar/stories/Avatar.stories.tsx
  src/avatar/stories/AvatarBasic.component.tsx
  src/avatar/stories/AvatarBasic.stories.tsx
  src/checkbox/CheckboxState.tsx
  src/create-icon/stories/IconAll.component.tsx
  src/hooks/useImage.tsx
  src/icons/CaretDown.tsx
  src/icons/CaretLeft.tsx
  src/icons/CaretRight.tsx
  src/icons/Check.tsx
  src/icons/CheckCircle.tsx
  src/icons/CirculedCheck.tsx
  src/icons/Clock.tsx
  src/icons/Close.tsx
  src/icons/Dash.tsx
  src/icons/User.tsx
  src/icons/index.ts
  src/input/stories/Input.stories.tsx
  src/meter/MeterBarWrapper.tsx
  src/tag/stories/Tag.stories.tsx
  src/theme/defaultTheme/avatar.ts
Due: yarn format, yarn lint:fix

fix(avatar): 🐛 remove old avatar paths
  src/input/stories/Input.stories.tsx
  src/tag/stories/Tag.stories.tsx
Due: yarn format, yarn lint:fix

feat(avatar): ✨ added avatar badge with background support
  preset.js
  src/avatar/Avatar.tsx
  src/avatar/AvatarDefaultStatusIndicators.tsx
  src/avatar/AvatarProps.tsx
  src/avatar/AvatarState.tsx
  src/avatar/AvatarStatusIndicator.tsx
  src/avatar/AvatarWrapper.tsx
  src/avatar/__keys.ts
  src/avatar/stories/AvatarBasic.stories.tsx
  src/create-icon/stories/IconAll.component.tsx
  src/hooks/useImage.tsx
  src/icons/ActiveStatus.tsx
  src/icons/AwayStatus.tsx
  src/icons/SleepStatus.tsx
  src/icons/TypingLargeStatus.tsx
  src/icons/TypingSmallStatus.tsx
  src/icons/index.ts
  src/meter/stories/MeterHint.component.tsx
  src/meter/stories/MeterInterval.component.tsx
  src/theme/defaultTheme/avatar.ts
Due: yarn format, yarn lint:fix

fix(avatar): 🐛 remove unwanted icons
  src/create-icon/stories/IconAll.component.tsx
  src/icons/TypingLargeStatus.tsx
  src/icons/TypingSmallStatus.tsx
  src/icons/index.ts
Due: yarn format, yarn lint:fix

feat(avatar): ✨ finish typing animation
  preset.js
  src/avatar/Avatar.tsx
  src/avatar/AvatarDefaultStatusIndicators.tsx
  src/avatar/AvatarImage.tsx
  src/avatar/AvatarState.tsx
  src/avatar/AvatarStatusIndicator.tsx
  src/avatar/__keys.ts
  src/avatar/stories/AvatarBasic.stories.tsx
  src/create-icon/Icon.tsx
  src/create-icon/stories/IconAll.component.tsx
  src/icons/TypingLargeStatus.tsx
  src/icons/TypingSmallStatus.tsx
  src/icons/index.ts
  src/theme/defaultTheme/avatar.ts
  tailwindPlugins/animationDelay.js
  tailwindPlugins/animationDuration.js
  tailwindPlugins/utilities.js
Due: yarn format, yarn lint:fix

feat(avatar): ✨ add avatar group
  src/avatar/Avatar.tsx
  src/avatar/AvatarDefaultStatusIndicators.tsx
  src/avatar/AvatarGroup.tsx
  src/avatar/AvatarGroupWrapper.tsx
  src/avatar/AvatarIcon.tsx
  src/avatar/AvatarImage.tsx
  src/avatar/AvatarProps.tsx
  src/avatar/AvatarState.tsx
  src/avatar/AvatarStatusIndicator.tsx
  src/avatar/AvatarWrapper.tsx
  src/avatar/__keys.ts
  src/avatar/index.ts
  src/icons/TypingLargeStatus.tsx
  src/icons/TypingSmallStatus.tsx
  src/theme/defaultTheme/avatar.ts
Due: yarn format, yarn lint:fix

docs(avatar): 📝 add & update docs
  src/avatar/stories/AvatarGroupBasic.component.tsx
  src/avatar/stories/AvatarGroupBasic.stories.tsx
  src/avatar/stories/AvatarGroupIcon.component.tsx
  src/avatar/stories/AvatarGroupIcon.stories.tsx
  src/avatar/stories/AvatarGroupName.component.tsx
  src/avatar/stories/AvatarGroupName.stories.tsx
  src/avatar/stories/AvatarGroupStack.component.tsx
  src/avatar/stories/AvatarGroupStack.stories.tsx
  src/avatar/stories/AvatarStack.component.tsx
  src/avatar/stories/AvatarStack.stories.tsx
Due: yarn format, yarn lint:fix

refactor(isNull): ♻️ add isNull with re exports
  src/circular-progress/stories/CircularProgressBasic.component.tsx
  src/circular-progress/stories/CircularProgressCustom.component.tsx
  src/circular-progress/stories/CircularProgressHint.component.tsx
  src/progress/stories/ProgressBasic.component.tsx
  src/progress/stories/ProgressCustom.component.tsx
  src/progress/stories/ProgressHint.component.tsx
  src/progress/stories/ProgressLabel.component.tsx
  src/utils/assertions.ts
Due: yarn format, yarn lint:fix

test(avatar): ✅ add & update test
  src/avatar/__tests__/Avatar.test.tsx
  src/avatar/__tests__/AvatarGroup.test.tsx
  src/avatar/__tests__/__snapshots__/Avatar.test.tsx.snap
  src/avatar/__tests__/__snapshots__/AvatarGroup.test.tsx.snap
Due: yarn format, yarn lint:fix

build(icon): 💚 fix build error
  src/create-icon/Icon.tsx
  src/icons/TypingLargeStatus.tsx
  src/icons/TypingSmallStatus.tsx
Due: yarn format, yarn lint:fix

chore(deps): ⬆️ update dev dependencies (minor)
  package.json
  yarn.lock
Due: yarn format, yarn format:package

build(babel): 💚 fix issue with yarn test
  babel.config.js
  package.json
  src/avatar/AvatarGroup.tsx
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

chore(commitlint): ⬆️ update commitlint
  package.json
  yarn.lock
Due: yarn format, yarn format:package

refactor(context): ♻️ update create context function with defaultContext
  src/utils/createContext.tsx
Due: yarn format, yarn lint:fix

Path conditions:
  yarn format: any of: **/*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}
  yarn format:package: any of: package.json
  yarn lint:fix: any of: **/*.{js,jsx,tx,tsx}
