Repository adaptui/react-tailwind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn format:package, yarn lint

.lintstagedrc.json:

{
  "*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}": [
    "prettier --write",
    "git add"
  ],
  "package.json": ["yarn format:package"],
  "**/*.{js,jsx,tx,tsx}": ["yarn lint"]
}

docs(storybook): 📝 add tailwind example for the button
  .storybook/postcss.config.js
  .storybook/preview-head.html
  .storybook/webpack.config.js
  package.json
  src/button/stories/Button.stories.tsx
  src/button/stories/button.css
  tailwind.config.js
  yarn.lock
Due: prettier --write, yarn format:package, yarn lint

feat(renderlesskit): ✨ add renderleskit & reakit for button
  package.json
  src/button/Button.tsx
  yarn.lock
Due: prettier --write, yarn format:package, yarn lint

feat(tailwind): ✨ use plugin addComponents for styling
  src/button/Button.tsx
  src/button/stories/button.css
  tailwind.config.js
Due: prettier --write, yarn lint

refactor(tailwind): ♻️ move to tokens method
  src/button/Button.tsx
  src/theme.ts
  tailwind.config.js
Due: prettier --write, yarn lint

chore: added string constants tailwind class for button
  src/button/Button.tsx
  src/theme.ts
  tailwind.config.js
Due: prettier --write, yarn lint

chore: fix theme path
  src/button/Button.tsx
Due: prettier --write, yarn lint

chore: added classnames utility
  package.json
  src/button/Button.tsx
  yarn.lock
Due: prettier --write, yarn format:package, yarn lint

build: emit build typings
  package.json
  tsconfig.json
  tsconfig.prod.json
Due: prettier --write, yarn format:package

style(tailwind): added button tw constants (#2)
  package.json
  src/button/Button.tsx
  src/theme.ts
  tailwind.config.js
  tsconfig.json
  tsconfig.prod.json
  yarn.lock
Due: prettier --write, yarn format:package, yarn lint

build(package): 💚 add build configs to the package.json file
  package.json
Due: prettier --write, yarn format:package

feature(button): 📝 add component & setup (#1)
  .storybook/postcss.config.js
  .storybook/preview-head.html
  .storybook/webpack.config.js
  package.json
  src/button/Button.tsx
  src/button/stories/Button.stories.tsx
  src/button/stories/button.css
  src/theme.ts
  tailwind.config.js
  tsconfig.json
  tsconfig.prod.json
  yarn.lock
Due: prettier --write, yarn format:package, yarn lint

feat(button): ✨ add button size variant based on figma design
  src/button/Button.tsx
  src/button/__tests__/Button.test.tsx
  src/button/stories/Button.stories.tsx
  src/theme.ts
  tailwind.config.js
  tsconfig.prod.json
Due: prettier --write, yarn lint

fix(button): 🐛 button issue passing children
  src/button/Button.tsx
  src/button/__tests__/Button.test.tsx
  src/button/stories/Button.stories.tsx
Due: prettier --write, yarn lint

feat: added calendar component, wip
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/webpack.config.js
  src/calendar/Calendar.tsx
  src/calendar/Icons.tsx
  src/calendar/index.ts
  src/calendar/stories/Calendar.stories.tsx
  src/calendar/stories/calendar.css
  src/index.ts
  tsconfig.json
Due: prettier --write, yarn lint

feat: calendar extract inline classes to theme file
  src/calendar/Calendar.tsx
  src/calendar/stories/calendar.css
  src/theme.ts
Due: prettier --write, yarn lint

feat(icon): ✨ add icon support for button
  .storybook/webpack.config.js
  src/button/Button.tsx
  src/button/stories/Button.stories.tsx
  src/icon/Icon.tsx
  src/icon/createIcon.tsx
  src/icon/index.ts
  src/icon/stories/Icon.stories.tsx
  src/icon/stories/icon.css
  src/icons/Clock.tsx
  src/icons/index.tsx
  src/index.tsx
  src/theme.tsx
  src/utils/index.tsx
  tailwind.config.js
  tsconfig.json
  tsconfig.prod.json
  yarn.lock
Due: prettier --write, yarn lint

feat(button): ✨ add left & right icon with icons stories
  .storybook/postcss.config.js
  .storybook/preview.js
  package.json
  src/button/Button.tsx
  src/button/stories/Button.stories.tsx
  src/icon/Icon.tsx
  src/icon/createIcon.tsx
  src/icons/ArrowNarrowRight.tsx
  src/icons/Clock.tsx
  src/icons/Cross.tsx
  src/icons/Photograph.tsx
  src/icons/Wheel.tsx
  src/icons/index.tsx
  src/theme.tsx
  tailwind.config.js
  yarn.lock
Due: prettier --write, yarn format:package, yarn lint

chore: improved colors
  src/calendar/stories/calendar.css
  src/theme.ts
Due: prettier --write

feat(spinner): ✨ add spinner & integrate with button
  package.json
  src/button/Button.tsx
  src/button/stories/Button.stories.tsx
  src/icon/Icon.tsx
  src/icon/stories/Icon.stories.tsx
  src/index.tsx
  src/spinner/Spinner.tsx
  src/spinner/index.ts
  src/spinner/stories/Spinner.stories.tsx
  src/spinner/stories/spinner.css
  src/theme.tsx
  src/utils/index.tsx
  tailwind.config.js
  tailwindProperties.json
  yarn.lock
Due: prettier --write, yarn format:package, yarn lint

feat: added initial datepicker
  src/calendar/Calendar.tsx
  src/calendar/Icons.tsx
  src/calendar/stories/Calendar.stories.tsx
  src/datepicker/DatePicker.tsx
  src/datepicker/stories/DatePicker.stories.tsx
  src/theme.ts
Due: prettier --write, yarn lint

chore: added stateless calendar
  src/calendar/Calendar.tsx
  src/datepicker/DatePicker.tsx
Due: prettier --write, yarn lint

feat: added compound datepicker & range datepicker
  src/datepicker/CompundDatePicker.tsx
  src/datepicker/DatePicker.tsx
  src/datepicker/stories/DatePicker.stories.tsx
Due: prettier --write, yarn lint

feat(calendar): ✨ add new api calendar
  src/calendar/Calendar.tsx
  src/calendar/helpers.tsx
  src/calendar/stories/Calendar.stories.tsx
  src/theme.ts
  src/utils/index.tsx
Due: prettier --write, yarn lint

fix(datepicker): fixed & improved typescript support
  src/datepicker/CompundDatePicker.tsx
  src/datepicker/DatePicker.tsx
  src/datepicker/stories/DatePicker.stories.tsx
Due: prettier --write, yarn lint

chore: removed dot notation components
  src/datepicker/CompundDatePicker.tsx
  src/datepicker/DatePicker.tsx
  src/datepicker/stories/DatePicker.stories.tsx
Due: prettier --write, yarn lint

build(deps): 💚 fix build by localizing & upgrading deps
  package.json
  src/utils/index.tsx
  yarn.lock
Due: prettier --write, yarn format:package, yarn lint

chore: added custom input story example
  package.json
  src/datepicker/CompundDatePicker.tsx
  src/datepicker/DatePicker.tsx
  src/datepicker/stories/DatePicker.stories.tsx
  yarn.lock
Due: prettier --write, yarn format:package, yarn lint

feat(box): ✨ add box primitive component
  src/box/Box.tsx
  src/box/index.ts
  src/box/stories/Box.stories.tsx
  src/box/stories/box.css
Due: prettier --write, yarn lint

feat(calendar): ✨ add new api calendar (#6)
  src/calendar/Calendar.tsx
  src/calendar/helpers.tsx
  src/calendar/stories/Calendar.stories.tsx
  src/theme.ts
  src/utils/index.tsx
Due: prettier --write, yarn lint

fix(box): 🏷️ fix box type issue with as
  package.json
  src/box/Box.tsx
  src/box/stories/Box.stories.tsx
  src/icon/Icon.tsx
  src/icon/stories/Icon.stories.tsx
  src/theme.tsx
  src/utils/index.tsx
  src/utils/types.tsx
  yarn.lock
Due: prettier --write, yarn format:package, yarn lint

fix(components): 🐛 add as functionality to all components
  package.json
  src/box/stories/Box.stories.tsx
  src/button/Button.tsx
  src/button/stories/Button.stories.tsx
  src/icon/Icon.tsx
  src/icon/createIcon.tsx
  src/icon/stories/Icon.stories.tsx
  src/spinner/Spinner.tsx
  src/spinner/stories/Spinner.stories.tsx
  src/utils/index.tsx
  yarn.lock
Due: prettier --write, yarn format:package, yarn lint

feat: wip badge
  src/badge/Badge.tsx
  src/badge/index.ts
  src/badge/stories/Badge.stories.tsx
  src/badge/stories/badge.css
  src/theme.ts
Due: prettier --write, yarn lint

Box V1 (#8)
  package.json
  src/box/Box.tsx
  src/box/index.ts
  src/box/stories/Box.stories.tsx
  src/box/stories/box.css
  src/button/Button.tsx
  src/button/stories/Button.stories.tsx
  src/icon/Icon.tsx
  src/icon/createIcon.tsx
  src/icon/stories/Icon.stories.tsx
  src/spinner/Spinner.tsx
  src/spinner/stories/Spinner.stories.tsx
  src/theme.tsx
  src/utils/index.tsx
  src/utils/types.tsx
  yarn.lock
Due: prettier --write, yarn format:package, yarn lint

feat(button): ✨ add button size variant based on figma design (#3)
  .storybook/postcss.config.js
  .storybook/preview.js
  .storybook/webpack.config.js
  package.json
  src/box/Box.tsx
  src/box/index.ts
  src/box/stories/Box.stories.tsx
  src/box/stories/box.css
  src/button/Button.tsx
  src/button/__tests__/Button.test.tsx
  src/button/stories/Button.stories.tsx
  src/icon/Icon.tsx
  src/icon/createIcon.tsx
  src/icon/index.ts
  src/icon/stories/Icon.stories.tsx
  src/icon/stories/icon.css
  src/icons/ArrowNarrowRight.tsx
  src/icons/Clock.tsx
  src/icons/Cross.tsx
  src/icons/Photograph.tsx
  src/icons/Wheel.tsx
  src/icons/index.tsx
  src/index.ts
  src/index.tsx
  src/spinner/Spinner.tsx
  src/spinner/index.ts
  src/spinner/stories/Spinner.stories.tsx
  src/spinner/stories/spinner.css
  src/theme.ts
  src/theme.tsx
  src/utils/index.tsx
  src/utils/types.tsx
  tailwind.config.js
  tailwindProperties.json
  tsconfig.json
  tsconfig.prod.json
  yarn.lock
Due: prettier --write, yarn format:package, yarn lint

feat: added compound datepicker & range datepicker (#5)
  package.json
  src/datepicker/CompundDatePicker.tsx
  src/datepicker/DatePicker.tsx
  src/datepicker/stories/DatePicker.stories.tsx
  yarn.lock
Due: prettier --write, yarn format:package, yarn lint

feat(button): ✨ add variant support for button
  src/button/Button.tsx
  src/button/stories/Button.stories.tsx
  src/theme.tsx
Due: prettier --write, yarn lint

fix(button): 🐛 add current color to button spinner
  src/theme.tsx
Due: prettier --write, yarn lint

chore: datepicker export & css file added
  .storybook/preview.js
  src/datepicker/index.ts
  src/datepicker/stories/DatePicker.stories.tsx
  src/datepicker/stories/datepicker.css
  src/index.tsx
  yarn.lock
Due: prettier --write, yarn lint

feat: improved badge
  src/badge/Badge.tsx
  src/theme.tsx
Due: prettier --write, yarn lint

feat: added tertiary variants
  src/badge/Badge.tsx
  src/badge/stories/Badge.stories.tsx
  src/theme.tsx
Due: prettier --write, yarn lint
