Repository adaptui/react-tailwind: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn format:package, yarn lint:fix

.lintstagedrc.json:

{
  "**/*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}": [
    "yarn format",
    "git add"
  ],
  "package.json": ["yarn format:package"],
  "**/*.{js,jsx,tx,tsx}": ["yarn lint:fix"]
}

refactor(checkbox): ♻️ update button overrides for show more
  src/checkbox-group/CheckboxShowMore.tsx
  src/radio-group/RadioShowMore.tsx
Due: yarn format, yarn lint:fix

test(avatar-group): 📸 update snapshots
  src/avatar-group/__tests__/__snapshots__/AvatarGroup.test.tsx.snap
Due: none

chore(deps): ⬆️ update dependency @types/tailwindcss to v3
  package.json
  yarn.lock
Due: yarn format, yarn format:package

refactor(components): ♻️ update button, checkbox, radio & avatar groups (#243)
  src/avatar-group/__tests__/__snapshots__/AvatarGroup.test.tsx.snap
  src/checkbox-group/CheckboxShowMore.tsx
  src/radio-group/RadioShowMore.tsx
  src/show-more/stories/ShowMoreVertical.stories.tsx
  src/theme/defaultTheme/avatar.ts
  src/theme/defaultTheme/button.ts
  src/theme/defaultTheme/checkbox.ts
  src/theme/defaultTheme/radio.ts
  tailwindPlugins/utilities.js
Due: yarn format, yarn lint:fix

chore(deps): ⬆️ update dev dependencies (minor)
  package.json
  yarn.lock
Due: yarn format, yarn format:package

refactor(showmore): ♻️ update showmore imports & exports
  src/index.ts
  src/show-more/index.ts
  src/show-more/stories/ShowMoreHorizontal.component.tsx
  src/show-more/stories/ShowMoreVertical.component.tsx
Due: yarn format, yarn lint:fix

🚀 Release v0.0.1-alpha.31
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

fix(utils): 🐛 remove wrong lodash import
  src/utils/createContext.tsx
Due: yarn format, yarn lint:fix

🚀 Release v0.0.1-alpha.32
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

docs(csb): 📝 update csb js & ts template
  .storybook/utils.tsx
Due: yarn format, yarn lint:fix

fix(react): 🐛 use safelayouteffect for uselayouteffect
  src/input/InputProps.tsx
  src/select/SelectProps.tsx
Due: yarn format, yarn lint:fix

fix(icon): 🐛 rename fill rule in timeless icon
  src/icons/Timeless.tsx
Due: yarn format, yarn lint:fix

fix(borders): 🐛 update tag & textarea styles bugs
  src/theme/defaultTheme/tag.ts
  src/theme/defaultTheme/textarea.ts
Due: yarn format

🚀 Release v0.0.1-alpha.33
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

docs(csb): update to latest renderless alpha
  .storybook/utils.tsx
Due: yarn format, yarn lint:fix

chore(deps): ⬆️ update dependency concurrently to v7
  package.json
  yarn.lock
Due: yarn format, yarn format:package

fix(customization): 🐛 getComponentProps for memo & forwardRef in ssr
  src/utils/react.ts
Due: yarn format

🚀 Release v0.0.1-alpha.34
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

chore(deps): ⬆️ update dependency @swc/core to v1.2.126
  package.json
  yarn.lock
Due: yarn format, yarn format:package

fix(componentProps): 🐛 proper solution for all cases
  src/checkbox-group/CheckboxGroupWrapper.tsx
  src/tooltip/SliderTooltipReference.tsx
  src/utils/react.ts
Due: yarn format, yarn lint:fix

🚀 Release v0.0.1-alpha.35
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

fix(ssr): 🐛 add ssr & mounted checks
  src/checkbox/Checkbox.tsx
  src/checkbox/CheckboxProps.tsx
  src/hooks/index.ts
  src/hooks/useMounted.ts
  src/tooltip/Tooltip.tsx
Due: yarn format, yarn lint:fix

🚀 Release v0.0.1-alpha.36
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

fix(csr): 🐛 bug with mounted in checkbox
  src/checkbox/Checkbox.tsx
  src/checkbox/CheckboxProps.tsx
  src/show-more/ShowMoreButton.tsx
  src/show-more/stories/ShowMoreHorizontal.component.tsx
  src/textarea/TextareaBase.tsx
  src/tooltip/Tooltip.tsx
  src/tooltip/TooltipProps.tsx
Due: yarn format, yarn lint:fix

🚀 Release v0.0.1-alpha.37
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

chore(deps): ⬆️ update dependency @release-it/conventional-changelog to v4
  package.json
  yarn.lock
Due: yarn format, yarn format:package

chore(deps): ⬆️ update dependency @swc/core to v1.2.129
  package.json
  yarn.lock
Due: yarn format, yarn format:package

chore(deps): ⬆️ update dependency react-hook-form to v7.24.1
  package.json
  yarn.lock
Due: yarn format, yarn format:package

chore(deps): ⬆️ update dependency lint-staged to v12.2.0
  package.json
  yarn.lock
Due: yarn format, yarn format:package

chore(deps): ⬆️ update dependency tailwindcss to v3.0.16
  package.json
  yarn.lock
Due: yarn format, yarn format:package

fix(divider): 🐛 fix divider style issue with label
  src/divider/Divider.tsx
  src/tag/Tag.tsx
Due: yarn format, yarn lint:fix
