Repository adaptui/react-tailwind: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn format:package, yarn lint:fix

chore: remove deep dictionary
  src/theme/index.tsx
Due: yarn format, yarn lint:fix

refactor(button): :label: update storybook types with latest pre-release
  package.json
  src/button/stories/Button.stories.tsx
  src/theme/extendTheme.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

fix(storybook): :bug: fix storybook accidental pseudo plugin update
  package.json
  src/badge/stories/Badge.stories.tsx
  src/button/stories/Button.stories.tsx
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

refactor(types): :label: fix types for internal & external use
  renderlesskit.config.ts
  src/avatar/AvatarBadge.tsx
  src/switch/SwitchIcon.tsx
  src/tag/Tag.tsx
  src/theme/defaultTheme/avatar.ts
  src/theme/extendTheme.ts
Due: yarn format, yarn lint:fix

fix(tailwind): :label: update dark to darkMode type
  preset.d.ts
Due: yarn format

test: added tests for new button
  src/button/__tests__/Button.test.tsx
  src/button/stories/Button.stories.tsx
  src/spinner/Spinner.tsx
Due: yarn format, yarn lint:fix

refactor(tailwind): 🏷️ update tailwind types
  package.json
  preset.d.ts
  preset.js
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

fix(commit): :bug: fix yarn commit warning with lint staged
  package.json
Due: yarn format, yarn format:package

fix: ignore prefix suffix children on button iconOnly
  src/button/ButtonChildren.tsx
Due: yarn format, yarn lint:fix

refactor(button): :recycle: change the buttonChildren conditions
  src/button/ButtonChildren.tsx
Due: yarn format, yarn lint:fix

feat(badge): ✨ update to the new design (#124)
  package.json
  preset.d.ts
  preset.js
  renderlesskit.config.ts
  src/avatar/AvatarBadge.tsx
  src/badge/Badge.tsx
  src/badge/__tests__/Badge.test.tsx
  src/badge/__tests__/__snapshots__/Badge.test.tsx.snap
  src/badge/stories/Badge.stories.tsx
  src/button/Button.tsx
  src/button/stories/Button.stories.tsx
  src/switch/SwitchIcon.tsx
  src/tag/Tag.tsx
  src/theme/defaultTheme/avatar.ts
  src/theme/defaultTheme/badge.ts
  src/theme/defaultTheme/button.ts
  src/theme/extendTheme.ts
  src/theme/index.tsx
  src/theme/theme.test-d.ts
  src/theme/types.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

fix: button logic & added one more test case
  src/button/ButtonChildren.tsx
  src/button/__tests__/Button.test.tsx
Due: yarn format, yarn lint:fix

test: update snapshots
  src/checkbox/__tests__/__snapshots__/Checkbox.test.tsx.snap
Due: none

feat: CheckBox v3 (#122)
  src/checkbox/Checkbox.tsx
  src/checkbox/CheckboxDescription.tsx
  src/checkbox/CheckboxIcon.tsx
  src/checkbox/CheckboxInput.tsx
  src/checkbox/CheckboxText.tsx
  src/checkbox/__tests__/Checkbox.test.tsx
  src/checkbox/__tests__/__snapshots__/Checkbox.test.tsx.snap
  src/checkbox/index.ts
  src/checkbox/stories/Checkbox.stories.tsx
  src/icons/EyesIcon.tsx
  src/theme/defaultTheme/checkbox.ts
Due: yarn format, yarn lint:fix

test: update snapshots
  src/avatar/__tests__/__snapshots__/Avatar.test.tsx.snap
Due: none

refactor(tailwind): ♻️ fix tailwind transform bug
  .storybook/tailwind.css
  src/button/stories/Button.stories.tsx
  src/theme/defaultTheme/button.ts
Due: yarn format, yarn lint:fix

fix(button): :bug: line height being cascaded by font size
  package.json
  preset.js
  src/theme/defaultTheme/badge.ts
  src/theme/defaultTheme/button.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

test(badge): :camera_flash: update snapshot
  src/badge/__tests__/__snapshots__/Badge.test.tsx.snap
Due: none

🚀 Release v0.0.1-alpha.9
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

fix(lodash): 🐛 esm issue by lowering its version
  package.json
  yarn.lock
Due: yarn format, yarn format:package

🚀 Release v0.0.1-alpha.10
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

fix(lodash): 🐛 esm bug with fixed version
  package.json
Due: yarn format, yarn format:package

🚀 Release v0.0.1-alpha.11
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

refactor(lodash): ♻️ try lodash for lodash-es
  package.json
  src/theme/index.tsx
  src/theme/mergeThemes.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

🚀 Release v0.0.1-alpha.12
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

chore: minor updates
  src/button/Button.tsx
Due: yarn format, yarn lint:fix

chore: use useTheme with button
  src/button/ButtonChildren.tsx
  src/button/ButtonSpinner.tsx
Due: yarn format, yarn lint:fix

fix(button): 🐛 loading button ui
  src/newButton/ButtonChildren.tsx
  src/newButton/ButtonSpinner.tsx
Due: yarn format, yarn lint:fix

feat: :fire: add prefix suffix with loading states
  .storybook/tailwind.css
  src/icons/CaretRight.tsx
  src/icons/Clock.tsx
  src/icons/index.tsx
  src/newButton/Button.tsx
  src/newButton/stories/Button.stories.tsx
  src/theme/defaultTheme/newButton.ts
Due: yarn format, yarn lint:fix

fix(button): 🐛 fix types & move fns to utils
  src/newButton/Button.tsx
  src/newButton/stories/Button.stories.tsx
  src/utils/index.tsx
Due: yarn format, yarn lint:fix

fix: :fire: fix bugs & arrange imports
  src/newButton/Button.tsx
  src/newButton/stories/Button.stories.tsx
Due: yarn format, yarn lint:fix

chore(storybook): ♻️ add a story example to test a11y
  src/newButton/stories/Button.stories.tsx
Due: yarn format, yarn lint:fix

Path conditions:
  yarn format: any of: **/*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}
  yarn format:package: any of: package.json
  yarn lint:fix: any of: **/*.{js,jsx,tx,tsx}
