Repository adaptui/react-tailwind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn format:package, yarn lint

feat: improved preset support
  preset.d.ts
  preset.js
  src/index.tsx
  src/preset/index.ts
  tailwind.config.js
Due: prettier --write, yarn lint

build(purge): 💚 fix storybook missing styles
  .storybook/postcss.config.js
  .storybook/preview.js
  package.json
  src/button/IconButton.tsx
  src/button/stories/Button.stories.tsx
  tailwind.config.js
  yarn.lock
Due: prettier --write, yarn format:package, yarn lint

feat: added theme preset support (#35)
  package.json
  preset.d.ts
  preset.js
  tailwind.config.js
Due: prettier --write, yarn format:package, yarn lint

chore: fix test utils render types
  src/utils/testUtils.tsx
Due: prettier --write, yarn lint

chore: added tailwind default autocomplete support in preset
  preset.d.ts
Due: prettier --write

feat: added support for typesafe theming (#34)
  .storybook/preview.js
  package.json
  preset.d.ts
  preset.js
  src/Tag/Tag.tsx
  src/alert/Alert.tsx
  src/avatar/Avatar.tsx
  src/badge/Badge.tsx
  src/button/Button.tsx
  src/button/ButtonGroup.tsx
  src/button/IconButton.tsx
  src/index.tsx
  src/theme/index.tsx
  src/theme/types.ts
  src/utils/testUtils.tsx
  tailwind.config.js
Due: prettier --write, yarn format:package, yarn lint

chore: migrate components to forwardRefWithAs
  package.json
  src/Tag/Tag.tsx
  src/alert/Alert.tsx
  src/badge/Badge.tsx
  src/box/Box.tsx
  src/button/Button.tsx
  src/button/ButtonGroup.tsx
  src/button/IconButton.tsx
  src/icon/Icon.tsx
  src/icon/createIcon.tsx
  src/spinner/Spinner.tsx
  src/utils/types.tsx
Due: prettier --write, yarn format:package, yarn lint

test(icon): added tests for icon
  src/icon/Icon.tsx
  src/icon/__tests__/Icon.test.tsx
  src/icon/__tests__/__snapshots__/Icon.test.tsx.snap
  src/icon/__tests__/__snapshots__/createIcon.test.tsx.snap
  src/icon/__tests__/createIcon.test.tsx
Due: prettier --write, yarn lint

chore: update snapshots
  src/avatar/__test__/__snapshots__/Avatar.test.tsx.snap
  src/avatar/__test__/__snapshots__/AvatarGroup.test.tsx.snap
Due: none

test: removed snapshot tests
  src/icon/__tests__/Icon.test.tsx
  src/icon/__tests__/__snapshots__/Icon.test.tsx.snap
Due: prettier --write, yarn lint

build(purge): 💚 update purge & improve variant generation
  preset.js
  tailwind.config.js
Due: prettier --write, yarn lint

style(tag): matched tag styles to figma file
  src/Tag/Tag.tsx
  src/Tag/stories/Tag.stories.tsx
  src/theme/defaultTheme.tsx
Due: prettier --write, yarn lint

chore(deps): ⬆️ update deps & refactor storybook preview
  .storybook/preview.js
  .storybook/style.css
  package.json
  tailwind.config.js
  yarn.lock
Due: prettier --write, yarn format:package, yarn lint

test(icon): added test for Icon (#36)
  src/avatar/__test__/__snapshots__/Avatar.test.tsx.snap
  src/avatar/__test__/__snapshots__/AvatarGroup.test.tsx.snap
  src/icon/Icon.tsx
  src/icon/__tests__/Icon.test.tsx
  src/icon/__tests__/__snapshots__/Icon.test.tsx.snap
  src/icon/__tests__/__snapshots__/createIcon.test.tsx.snap
  src/icon/__tests__/createIcon.test.tsx
Due: prettier --write, yarn lint

build(styles): 💚 fix build by moving tailwind css to src
  .storybook/preview.js
  src/button/stories/style.css
  yarn.lock
Due: prettier --write, yarn lint

chore(scritps): 🔧 remove unused package scripts
  package.json
Due: prettier --write, yarn format:package

feat(theme): 💄 update theme styles into its own files
  src/button/stories/Button.stories.tsx
  src/theme/defaultTheme.tsx
  src/theme/defaultTheme/alert.ts
  src/theme/defaultTheme/avatar.ts
  src/theme/defaultTheme/badge.ts
  src/theme/defaultTheme/button.ts
  src/theme/defaultTheme/buttonGroup.ts
  src/theme/defaultTheme/calendar.ts
  src/theme/defaultTheme/datepicker.ts
  src/theme/defaultTheme/icon.ts
  src/theme/defaultTheme/iconButton.ts
  src/theme/defaultTheme/index.ts
  src/theme/defaultTheme/spinner.ts
  src/theme/defaultTheme/tag.ts
Due: prettier --write, yarn lint

chore: add checkbox to theme
  src/checkbox/Checkbox.tsx
  src/theme/defaultTheme.tsx
Due: prettier --write, yarn lint

chore: remove css file
  src/checkbox/stories/Checkbox.stories.tsx
  src/checkbox/stories/checkbox.css
Due: prettier --write, yarn lint

test: added test for typings
  package.json
  src/theme/theme.test-d.ts
  yarn.lock
Due: prettier --write, yarn format:package

chore: add todo
  src/theme/theme.test-d.ts
Due: prettier --write

chore: added storyTemplate util
  src/button/stories/Button.stories.tsx
  src/utils/storybookUtils.tsx
Due: prettier --write, yarn lint

chore: added createControls utility
  src/alert/Alert.tsx
  src/button/stories/Button.stories.tsx
  src/utils/storybookUtils.tsx
Due: prettier --write, yarn lint

feat(theme): 💄 update theme styles into its own files (#37)
  src/button/stories/Button.stories.tsx
  src/theme/defaultTheme.tsx
  src/theme/defaultTheme/alert.ts
  src/theme/defaultTheme/avatar.ts
  src/theme/defaultTheme/badge.ts
  src/theme/defaultTheme/button.ts
  src/theme/defaultTheme/buttonGroup.ts
  src/theme/defaultTheme/calendar.ts
  src/theme/defaultTheme/datepicker.ts
  src/theme/defaultTheme/icon.ts
  src/theme/defaultTheme/iconButton.ts
  src/theme/defaultTheme/index.ts
  src/theme/defaultTheme/spinner.ts
  src/theme/defaultTheme/tag.ts
Due: prettier --write, yarn lint

refactor(story): ♻️ remove console logs & added default args
  src/button/stories/Button.stories.tsx
  src/utils/storybookUtils.tsx
Due: prettier --write, yarn lint

chore: move storybook utils to storybook folder
  .storybook/storybookUtils.tsx
  src/button/stories/Button.stories.tsx
Due: prettier --write, yarn lint

chore: added storyTemplate utils (#39)
  .storybook/storybookUtils.tsx
  src/alert/Alert.tsx
  src/button/stories/Button.stories.tsx
Due: prettier --write, yarn lint

refactor: migrated all storybook to use utils
  .storybook/storybookUtils.tsx
  src/Tag/stories/Tag.stories.tsx
  src/alert/stories/Alert.stories.tsx
  src/avatar/stories/Avatar.stories.tsx
  src/badge/Badge.tsx
  src/badge/stories/Badge.stories.tsx
  src/spinner/stories/Spinner.stories.tsx
  src/theme/defaultTheme/badge.ts
  src/theme/defaultTheme/datepicker.ts
Due: prettier --write, yarn lint

refactor(button): ♻️ update button related components
  .storybook/main.ts
  preset.js
  src/button/Button.tsx
  src/button/ButtonGroup.tsx
  src/button/ButtonIcon.tsx
  src/button/CloseButton.tsx
  src/button/IconButton.tsx
  src/button/index.ts
  src/button/stories/Button.stories.tsx
  src/theme/defaultTheme/button.ts
  src/theme/defaultTheme/buttonGroup.ts
Due: prettier --write, yarn lint

chore(tag): change close icon
  src/Tag/stories/Tag.stories.tsx
  tailwind.config.js
Due: prettier --write, yarn lint

build: remove data-testid from production
  babel.config.js
  package.json
  yarn.lock
Due: prettier --write, yarn format:package, yarn lint

refactor(tag): ♻️ improve tag component
  src/Tag/Tag.tsx
  src/Tag/stories/Tag.stories.tsx
  src/theme/defaultTheme/tag.ts
Due: prettier --write, yarn lint

build: remove data-testid from production (#42)
  babel.config.js
  package.json
  yarn.lock
Due: prettier --write, yarn format:package, yarn lint

test: added test for theme typings (#38)
  package.json
  src/theme/theme.test-d.ts
  yarn.lock
Due: prettier --write, yarn format:package

refactor: migrated storybooks to use utils (#40)
  .storybook/storybookUtils.tsx
  src/Tag/stories/Tag.stories.tsx
  src/alert/stories/Alert.stories.tsx
  src/avatar/stories/Avatar.stories.tsx
  src/badge/Badge.tsx
  src/badge/stories/Badge.stories.tsx
  src/spinner/stories/Spinner.stories.tsx
  src/theme/defaultTheme/badge.ts
  src/theme/defaultTheme/datepicker.ts
  tailwind.config.js
Due: prettier --write, yarn lint

refactor(tag): 🏷️ update closable element type
  src/Tag/Tag.tsx
Due: prettier --write, yarn lint

refactor(badge): ♻️ update styles to match the design
  src/badge/Badge.tsx
  src/badge/stories/Badge.stories.tsx
  src/theme/defaultTheme/badge.ts
Due: prettier --write, yarn lint

refactor(button): ♻️ update button related components (#41)
  .storybook/main.ts
  preset.js
  src/button/Button.tsx
  src/button/ButtonGroup.tsx
  src/button/ButtonIcon.tsx
  src/button/CloseButton.tsx
  src/button/IconButton.tsx
  src/button/index.ts
  src/button/stories/Button.stories.tsx
  src/theme/defaultTheme/button.ts
  src/theme/defaultTheme/buttonGroup.ts
Due: prettier --write, yarn lint

Path conditions:
  prettier --write: any of: *.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}
  yarn format:package: any of: package.json
  yarn lint: any of: **/*.{js,jsx,tx,tsx}
