Repository adaptui/react-tailwind: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn format:package, yarn lint:fix

test: added tests for new button
  src/button/__tests__/Button.test.tsx
  src/button/stories/Button.stories.tsx
  src/spinner/Spinner.tsx
Due: yarn format, yarn lint:fix

fix: ignore prefix suffix children on button iconOnly
  src/button/ButtonChildren.tsx
Due: yarn format, yarn lint:fix

fix: button logic & added one more test case
  src/button/ButtonChildren.tsx
  src/button/__tests__/Button.test.tsx
Due: yarn format, yarn lint:fix

refactor(tailwind): ♻️ fix tailwind transform bug
  .storybook/tailwind.css
  src/button/stories/Button.stories.tsx
  src/theme/defaultTheme/button.ts
Due: yarn format, yarn lint:fix

fix(storybook): 🐛 pseudo state global decorator & also with vite
  .storybook/main.js
  .storybook/manager.js
  src/newButton/stories/Button.stories.tsx
Due: yarn format, yarn lint:fix

feat: :sparkles: add iconOnly spinner & absolute spinner
  .storybook/preview.jsx
  .storybook/storybookUtils.tsx
  package.json
  postcss.config.js
  src/form-field/__tests__/__snapshots__/FormField.test.tsx.snap
  src/newButton/Button.tsx
  src/newButton/stories/Button.stories.tsx
  src/theme/defaultTheme/button.ts
  src/theme/defaultTheme/datepicker.ts
  src/theme/defaultTheme/input.ts
  src/theme/defaultTheme/newButton.ts
  src/theme/defaultTheme/spinner.ts
  src/theme/defaultTheme/textarea.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

refactor(button): ♻️ fix disabled button with css
  src/newButton/Button.tsx
  src/theme/defaultTheme/newButton.ts
Due: yarn format, yarn lint:fix

feat: :fire: add icononly & simulate pseudo state in stories
  .storybook/main.js
  package.json
  src/form-field/__tests__/__snapshots__/FormField.test.tsx.snap
  src/newButton/Button.tsx
  src/newButton/stories/Button.stories.tsx
  src/theme/defaultTheme/badge.ts
  src/theme/defaultTheme/button.ts
  src/theme/defaultTheme/calendar.ts
  src/theme/defaultTheme/datepicker.ts
  src/theme/defaultTheme/input.ts
  src/theme/defaultTheme/newButton.ts
  src/theme/defaultTheme/slider.ts
  src/theme/defaultTheme/tag.ts
  src/theme/defaultTheme/textarea.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

feat: :sparkles: add new button improvement
  package.json
  src/button/Button.tsx
  src/newButton/Button.tsx
  src/newButton/index.ts
  src/newButton/stories/Button.stories.tsx
  src/theme/defaultTheme/index.ts
  src/theme/defaultTheme/newButton.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

🚀 Release v0.0.1-alpha.11
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

feat: :fire: add play for hover
  src/newButton/Button.tsx
  src/newButton/stories/Button.stories.tsx
  src/theme/defaultTheme/newButton.ts
Due: yarn format, yarn lint:fix

refactor: :recycle: migrate from newButton to button
  preset.js
  renderlesskit.config.ts
  src/box/stories/Box.stories.tsx
  src/button/Button.tsx
  src/button/ButtonChildren.tsx
  src/button/ButtonGroup.tsx
  src/button/ButtonIcon.tsx
  src/button/ButtonSpinner.tsx
  src/button/CloseButton.tsx
  src/button/IconButton.tsx
  src/button/__tests__/Button.test.tsx
  src/button/index.ts
  src/button/stories/Button.stories.tsx
  src/checkbox/stories/Checkbox.stories.tsx
  src/icon/Icon.tsx
  src/icon/createIcon.tsx
  src/icon/stories/Icon.stories.tsx
  src/icons/ArrowNarrowRight.tsx
  src/icons/Close.tsx
  src/icons/index.ts
  src/newButton/Button.tsx
  src/newButton/index.ts
  src/newButton/stories/Button.stories.tsx
  src/switch/stories/Switch.stories.tsx
  src/theme/defaultTheme/button.ts
  src/theme/defaultTheme/iconButton.ts
  src/theme/defaultTheme/index.ts
  src/theme/defaultTheme/newButton.ts
  src/theme/defaultTheme/spinner.ts
  src/toast/ToastAlert.tsx
Due: yarn format, yarn lint:fix

fix(lodash): 🐛 esm issue by lowering its version
  package.json
  yarn.lock
Due: yarn format, yarn format:package

fix(button): 🐛 remove borders on outline variant
  .storybook/main.js
  .storybook/storybookUtils.tsx
  package.json
  src/theme/defaultTheme/newButton.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

🚀 Release v0.0.1-alpha.12
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

refactor(button): ♻️ split button components & add announcer
  package.json
  src/newButton/Button.tsx
  src/newButton/ButtonChildren.tsx
  src/newButton/ButtonSpinner.tsx
  tailwind.config.js
Due: yarn format, yarn format:package, yarn lint:fix

chore: :wrench: update deps & chores
  .storybook/preview.jsx
  package.json
  src/button/CloseButton.tsx
  src/button/stories/Button.stories.tsx
  src/theme/defaultTheme/button.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

test(badge): :camera_flash: update snapshot
  src/badge/__tests__/__snapshots__/Badge.test.tsx.snap
Due: none

fix(lodash): 🐛 esm bug with fixed version
  package.json
Due: yarn format, yarn format:package

feat(button): ✨ add live region for loading status
  src/newButton/Button.tsx
Due: yarn format, yarn lint:fix

feat: :sparkles: add active button transform
  .storybook/tailwind.css
Due: yarn format

test: update snapshots
  src/avatar/__tests__/__snapshots__/Avatar.test.tsx.snap
Due: none

fix(button): 🐛 revert pointer events change
  src/newButton/Button.tsx
Due: yarn format, yarn lint:fix

test(button): :white_check_mark: add button tests back
  src/button/__tests__/Button.test.tsx
Due: yarn format, yarn lint:fix

🚀 Release v0.0.1-alpha.10
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

feat(button): ✨ add disabled a11y to button
  src/newButton/Button.tsx
  src/theme/defaultTheme/newButton.ts
Due: yarn format, yarn lint:fix

🚀 Release v0.0.1-alpha.9
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

feat: :fire: csf v3 & add antialiased globally
  .storybook/main.js
  .storybook/preview.jsx
  package.json
  src/newButton/Button.tsx
  src/newButton/stories/Button.stories.tsx
  tailwind.config.js
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

refactor(lodash): ♻️ try lodash for lodash-es
  package.json
  src/theme/index.tsx
  src/theme/mergeThemes.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

fix(button): 🐛 fix button transform & use lesser lodash fn
  babel.config.js
  package.json
  src/theme/defaultTheme/button.ts
  src/theme/mergeThemes.ts
  src/utils/index.tsx
  tailwindPlugins/utilities.js
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

build(prettier): 🔧 ignore changelog from formating
  .prettierignore
Due: none

fix(checkbox): 🏷️ type issue with ts ignore temporarily
  src/checkbox/CheckboxIcon.tsx
Due: yarn format, yarn lint:fix

🚀 Release v0.0.1-alpha.13
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

refactor(button): ♻️ update button rendering issue
  package.json
  src/theme/defaultTheme/button.ts
  tailwindPlugins/utilities.js
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

🚀 Release v0.0.1-alpha.14
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

refactor(button): ♻️ update size structure for plugin sync
  src/button/Button.tsx
  src/theme/defaultTheme/button.ts
Due: yarn format, yarn lint:fix

chore: update checkbox theme structure
  src/checkbox/CheckboxIcon.tsx
  src/theme/defaultTheme/checkbox.ts
Due: yarn format, yarn lint:fix

test: update snapshot
  src/checkbox/__tests__/__snapshots__/Checkbox.test.tsx.snap
Due: none

refactor: minor refactors and cleanups
  src/slider/Slider.tsx
  src/switch/Switch.tsx
  src/tooltip/stories/Tooltip.stories.tsx
Due: yarn format, yarn lint:fix

refactor(button): ♻️ move classess to thier appropriate objects
  src/theme/defaultTheme/button.ts
Due: yarn format

Path conditions:
  yarn format: any of: **/*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}
  yarn format:package: any of: package.json
  yarn lint:fix: any of: **/*.{js,jsx,tx,tsx}
