Repository adaptui/react-tailwind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn format:package, yarn lint

.lintstagedrc.json:

{
  "*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}": [
    "prettier --write",
    "git add"
  ],
  "package.json": ["yarn format:package"],
  "**/*.{js,jsx,tx,tsx}": ["yarn lint"]
}

feat(avatar): added responsive badges and statuses
  src/avatar/Avatar.tsx
  src/avatar/stories/Avatar.stories.tsx
  src/avatar/test/__snapshots__/Avatar.test.tsx.snap
  src/avatar/test/__snapshots__/AvatarGroup.test.tsx.snap
  src/common/Status.tsx
  src/theme.tsx
  tailwind.config.js
Due: prettier --write, yarn lint

chore(tag): updated forwardRefWithAs
  src/Tag/Tag.tsx
  src/theme.tsx
Due: prettier --write, yarn lint

feat(checkbox): ✨ add checkbox experiments
  src/checkbox/Checkbox.tsx
  src/checkbox/index.ts
  src/checkbox/stories/Checkbox.stories.tsx
  src/checkbox/stories/checkbox.css
  src/icons/Check.tsx
  src/icons/index.tsx
  src/theme.tsx
Due: prettier --write, yarn lint

fix(calendar): 🐛 find a way to use utilities for data attributes (#13)
  src/calendar/Calendar.tsx
  src/calendar/stories/Calendar.css
  src/calendar/stories/Calendar.stories.tsx
  src/calendar/stories/calendar.css
  src/datepicker/stories/DatePicker.css
  src/datepicker/stories/DatePicker.stories.tsx
  src/theme.tsx
  tailwind.config.js
  tailwindProperties.json
Due: prettier --write, yarn lint

build(theme): 👷 new theming using tailwind config
  src/button/Button.tsx
  src/theme.tsx
  tailwind.config.js
Due: prettier --write, yarn lint

build: added tailwind component plugin
  components.js
  src/badge/Badge.tsx
  tailwind.config.js
Due: prettier --write, yarn lint

build: component plugin improvements
  components.js
  src/Tag/Tag.tsx
  src/badge/Badge.tsx
  src/button/ButtonGroup.tsx
  src/icon/Icon.tsx
  src/spinner/Spinner.tsx
  tailwind.config.js
Due: prettier --write, yarn lint

build: added button-group-attached
  src/button/ButtonGroup.tsx
  tailwind.config.js
Due: prettier --write, yarn lint

refactor(theme): ✨ deep merge configs & components
  package.json
  preset.js
  tailwind.config.js
  yarn.lock
Due: prettier --write, yarn format:package, yarn lint

refactor(theme): ♻️ ocx merge the components
  preset.js
  src/button/stories/Button.stories.tsx
  tailwind.config.js
Due: prettier --write, yarn lint

feat: added initial calendar component (#4)
  .storybook/main.ts
  package.json
  src/calendar/Calendar.tsx
  src/calendar/Icons.tsx
  src/calendar/helpers.tsx
  src/calendar/index.ts
  src/calendar/stories/Calendar.css
  src/calendar/stories/Calendar.stories.tsx
  src/datepicker/CompundDatePicker.tsx
  src/datepicker/DatePicker.tsx
  src/datepicker/index.ts
  src/datepicker/stories/DatePicker.css
  src/datepicker/stories/DatePicker.stories.tsx
  src/index.tsx
  src/theme.tsx
  src/utils/index.tsx
  tailwind.config.js
  tailwindProperties.json
  tsconfig.json
  yarn.lock
Due: prettier --write, yarn format:package, yarn lint

feat(avatar) added Avatar component (#16)
  jest.config.ts
  src/__mocks__/fileMock.js
  src/avatar/Avatar.tsx
  src/avatar/AvatarGroup.tsx
  src/avatar/AvatarImage.tsx
  src/avatar/index.ts
  src/avatar/stories/Avatar.stories.tsx
  src/avatar/stories/avatar.css
  src/avatar/test/Avatar.test.tsx
  src/avatar/test/AvatarGroup.test.tsx
  src/avatar/test/__snapshots__/Avatar.test.tsx.snap
  src/avatar/test/__snapshots__/AvatarGroup.test.tsx.snap
  src/common/Status.tsx
  src/icons/GenericAvatar.tsx
  src/icons/index.tsx
  src/theme.tsx
  src/utils/useImage.tsx
  tailwind.config.js
Due: prettier --write, yarn lint

feat(alert): ✨ add alert component (#17)
  src/alert/Alert.tsx
  src/alert/index.ts
  src/alert/stories/Alert.css
  src/alert/stories/Alert.stories.tsx
  src/icon/stories/Icon.stories.tsx
  src/icons/Bolt.tsx
  src/icons/CheckCircle.tsx
  src/icons/ExclamationCircle.tsx
  src/icons/ExclamationTriangle.tsx
  src/icons/InfoCircle.tsx
  src/icons/index.tsx
  src/theme.tsx
  tailwind.config.js
Due: prettier --write, yarn lint

feat(iconbutton): ✨ add iconbutton & closebutton components (#18)
  src/button/IconButton.tsx
  src/button/index.ts
  src/button/stories/Button.stories.tsx
  src/theme.tsx
Due: prettier --write, yarn lint

chore: migrate box
  src/box/Box.tsx
Due: prettier --write, yarn lint

refactor: simplified use of forwardRefWithAs (#19)
  src/Tag/Tag.tsx
  src/box/Box.tsx
  src/button/Button.tsx
  src/button/ButtonGroup.tsx
  src/utils/types.tsx
Due: prettier --write, yarn lint

refactor: component plugin extracted
  componentPlugin.js
  tailwind.config.js
Due: prettier --write, yarn lint

refactor: extracted component style objects
  components.js
  styles/badge.js
  styles/button.js
  styles/buttonGroup.js
  styles/icon.js
  styles/spinner.js
  styles/tag.js
Due: prettier --write, yarn lint

build(theme): 👷 new theming using tailwind config (#23)
  package.json
  preset.js
  src/button/stories/Button.stories.tsx
  tailwind.config.js
  yarn.lock
Due: prettier --write, yarn format:package, yarn lint

build(theme): added component plugin (#22)
  componentPlugin.js
  components.js
  preset.js
  src/Tag/Tag.tsx
  src/badge/Badge.tsx
  src/button/ButtonGroup.tsx
  src/icon/Icon.tsx
  src/spinner/Spinner.tsx
  styles/badge.js
  styles/button.js
  styles/buttonGroup.js
  styles/icon.js
  styles/spinner.js
  styles/tag.js
Due: prettier --write, yarn lint

build: added a simple babel macro
  babel.config.js
  package.json
  src/button/Button.tsx
  tailwindclass.macro.js
  yarn.lock
Due: prettier --write, yarn format:package, yarn lint

build: added babel tailwind theme macro
  package.json
  preset.js
  src/button/Button.tsx
  src/button/stories/Button.stories.tsx
  tailwind.config.js
  tailwindclass.macro.js
  yarn.lock
Due: prettier --write, yarn format:package, yarn lint

build: added parenthesizedExpression for inline usage
  src/button/Button.tsx
  tailwindclass.macro.js
Due: prettier --write, yarn lint

refactor(twresolve): ♻️ resolve tailwind config with babel macro
  src/button/Button.tsx
  tailwindclass.macro.js
Due: prettier --write, yarn lint

refactor: refactored macro & added proper error messages
  tailwindclass.macro.js
Due: prettier --write, yarn lint

build: typesafe macro!
  tailwindclass.macro.d.ts
Due: prettier --write

refactor: extract constructObject
  tailwindclass.macro.js
Due: prettier --write, yarn lint

chore: use macro in button
  src/button/Button.tsx
  src/button/ButtonGroup.tsx
Due: prettier --write, yarn lint

chore: remove component.js file
  components.js
  preset.js
  styles/index.js
  tailwindclass.macro.d.ts
Due: prettier --write, yarn lint

feat: used macro in all components
  preset.js
  src/Tag/Tag.tsx
  src/badge/Badge.tsx
  src/icon/Icon.tsx
  src/spinner/Spinner.tsx
Due: prettier --write, yarn lint

chore: test
  .storybook/main.ts
  package.json
  scripts/reset-storybook.js
  scripts/run-storybook.js
  yarn.lock
Due: prettier --write, yarn format:package, yarn lint

chore: test
  package.json
Due: prettier --write, yarn format:package

chore: test
  .storybook/main.ts
  scripts/reset-storybook.js
Due: prettier --write, yarn lint

chore: remove npm module
  package.json
  yarn.lock
Due: prettier --write, yarn format:package

fix(tailwind): 🐛 fix resolving the tailwind config
  tailwindclass.macro.js
  yarn.lock
Due: prettier --write, yarn lint

test(avatar): added avatar image load tests
  src/avatar/AvatarImage.tsx
  src/avatar/test/Avatar.test.tsx
Due: prettier --write, yarn lint

chore: cleanups
  src/avatar/test/Avatar.test.tsx
Due: prettier --write, yarn lint

feat(context): ✨ add themecontext exp
  .storybook/main.ts
  src/Tag/Tag.tsx
  src/alert/Alert.tsx
  src/avatar/Avatar.tsx
  src/avatar/AvatarGroup.tsx
  src/avatar/AvatarImage.tsx
  src/badge/Badge.tsx
  src/button/Button.tsx
  src/button/ButtonGroup.tsx
  src/button/IconButton.tsx
  src/button/stories/Button.stories.tsx
  src/calendar/Calendar.tsx
  src/datepicker/CompundDatePicker.tsx
  src/icon/Icon.tsx
  src/spinner/Spinner.tsx
  src/theme/defaultTheme.tsx
  src/theme/index.tsx
Due: prettier --write, yarn lint

test: added a11y test util
  src/avatar/test/Avatar.test.tsx
  src/avatar/test/AvatarGroup.test.tsx
  src/button/__tests__/Button.test.tsx
  src/utils/testUtils.tsx
Due: prettier --write, yarn lint
