Repository adaptui/react-tailwind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn format:package, yarn lint

.lintstagedrc.json:

{
  "*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}": [
    "prettier --write",
    "git add"
  ],
  "package.json": ["yarn format:package"],
  "**/*.{js,jsx,tx,tsx}": ["yarn lint"]
}

build(babel): 👷 fix build errors
  src/index.tsx
  src/radio/Radio.tsx
  src/radio/RadioIcon.tsx
  src/radio/RadioInput.tsx
  src/slider/index.ts
  src/switch/Switch.tsx
  src/theme/theme.test-d.ts
  yarn.lock
Due: prettier --write, yarn lint

build(packages): 💚 fix vercel build
  yarn.lock
Due: none

refactor(babel): 💚 fix the build bug with babel
  babel.config.js
Due: prettier --write, yarn lint

chore(deps): ⬆️ update dev deps
  package.json
  yarn.lock
Due: prettier --write, yarn format:package

build(babel): 👷 fix build errors (#82)
  babel.config.js
  package.json
  src/index.tsx
  src/radio/Radio.tsx
  src/radio/RadioIcon.tsx
  src/radio/RadioInput.tsx
  src/slider/index.ts
  src/switch/Switch.tsx
  src/theme/theme.test-d.ts
  yarn.lock
Due: prettier --write, yarn format:package, yarn lint

chore(release): 0.0.1-alpha.0
  CHANGELOG.md
  package.json
Due: prettier --write, yarn format:package

build(husky): 👷 add updated husky commit
  .eslintrc.json
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  CHANGELOG.md
  README.md
  package.json
  preset.js
  src/alert/Alert.tsx
  src/theme/types.ts
  tailwind.config.js
  yarn.lock
Due: prettier --write, yarn format:package, yarn lint

chore(release): 0.0.1-alpha.2
  CHANGELOG.md
  package.json
Due: prettier --write, yarn format:package

chore(deps): ➕ add pinst to remove postinstall while publishing
  package.json
  yarn.lock
Due: prettier --write, yarn format:package

fix: typescript preset theme
  preset.js
  tailwind.config.js
Due: prettier --write, yarn lint

refactor(toast): ♻️ tailwind implementation for toast
  preset.js
  src/hooks/index.ts
  src/hooks/useHover.tsx
  src/hooks/usePrevious.tsx
  src/toast/stories/ToastState.stories.tsx
  src/toast/stories/newToast/ToastProvider.tsx
  src/toast/stories/newToast/Toaster.tsx
  src/toast/stories/newToast/types.ts
  src/toast/stories/newToast/useToasts.tsx
  src/toast/stories/newToast/useToastsStore.tsx
  src/toast/useToasts.tsx
Due: prettier --write, yarn lint

fix: typescript preset theme (#84)
  preset.js
  tailwind.config.js
Due: prettier --write, yarn lint

fix: separate theme from tailwind config
  .storybook/preview.js
  renderlesskit.config.ts
  src/theme/index.tsx
  tailwind.config.js
Due: prettier --write, yarn lint

fix: ts theme system
  src/theme/index.tsx
  src/utils/testUtils.tsx
Due: prettier --write, yarn lint

chore: fix test theme config path
  src/utils/testUtils.tsx
Due: prettier --write, yarn lint

test: added tests for mergeTheme utilities
  src/theme/index.tsx
  src/theme/mergeThemes.test.ts
Due: prettier --write, yarn lint

fix: 🐛 theme object rendering merged classes
  src/theme/index.tsx
  yarn.lock
Due: prettier --write, yarn lint

chore: husky fix
  .husky/commit-msg
  .husky/pre-commit
Due: none

fix: separate theme from tailwind config (#87)
  .husky/commit-msg
  .husky/pre-commit
  .storybook/preview.js
  renderlesskit.config.ts
  src/theme/index.tsx
  src/theme/mergeThemes.test.ts
  src/utils/testUtils.tsx
  tailwind.config.js
  yarn.lock
Due: prettier --write, yarn lint

test: added tests for switch
  src/badge/Badge.tsx
  src/hooks/index.ts
  src/switch/__tests__/Switch.test.tsx
  src/switch/__tests__/__snapshots__/Switch.test.tsx.snap
  src/switch/stories/Switch.stories.tsx
Due: prettier --write, yarn lint

test: added test case for checked prop control
  src/switch/__tests__/Switch.test.tsx
Due: prettier --write, yarn lint

test: added switch disabled check
  src/switch/__tests__/Switch.test.tsx
Due: prettier --write, yarn lint

test: added tests for badge
  src/badge/__tests__/Badge.test.tsx
  src/badge/__tests__/__snapshots__/Badge.test.tsx.snap
Due: prettier --write, yarn lint

chore: review update
  src/switch/__tests__/Switch.test.tsx
Due: prettier --write, yarn lint

feat(toast): ✨ add new toast with state inbuilt
  src/hooks/index.ts
  src/hooks/useHover.tsx
  src/hooks/usePrevious.tsx
  src/toast/RenderlessToast/ToastProvider.tsx
  src/toast/RenderlessToast/ToastState.ts
  src/toast/RenderlessToast/ToastTypes.ts
  src/toast/RenderlessToast/Toasters.tsx
  src/toast/RenderlessToast/Toasts.tsx
  src/toast/RenderlessToast/helpers/index.ts
  src/toast/RenderlessToast/index.ts
  src/toast/Toast.tsx
  src/toast/index.ts
  src/toast/stories/Toast.stories.tsx
Due: prettier --write, yarn lint

chore: review update
  src/badge/__tests__/Badge.test.tsx
Due: prettier --write, yarn lint

test: added switch tests (#88)
  src/badge/Badge.tsx
  src/hooks/index.ts
  src/switch/__tests__/Switch.test.tsx
  src/switch/__tests__/__snapshots__/Switch.test.tsx.snap
  src/switch/stories/Switch.stories.tsx
Due: prettier --write, yarn lint

test: added badge tests (#89)
  src/badge/__tests__/Badge.test.tsx
  src/badge/__tests__/__snapshots__/Badge.test.tsx.snap
Due: prettier --write, yarn lint

feat(toast): ✨ add toast components
  src/toast/Toast.tsx
  src/toast/stories/Toast.stories.tsx
Due: prettier --write, yarn lint

chore: added arrow option
  src/tooltip/Tooltip.tsx
  src/tooltip/stories/Tooltip.stories.tsx
Due: prettier --write, yarn lint

fix: exclude tests from final build
  babel.config.js
Due: prettier --write, yarn lint

fix: remove renderlesskit.config theme from final build & type defs
  babel.config.js
  tsconfig.prod.json
Due: prettier --write, yarn lint

refactor(toast): ♻️ add design alert & new props
  src/theme/defaultTheme/alert.ts
  src/toast/RenderlessToast/ToastTypes.ts
  src/toast/RenderlessToast/Toasts.tsx
  src/toast/Toast.tsx
  src/toast/stories/Toast.stories.tsx
  src/utils/index.tsx
  src/utils/types.tsx
Due: prettier --write, yarn lint

chore: fix threshold
  jest.setup.js
Due: prettier --write, yarn lint

fix: exclude tests & testUtils from final build (#91)
  babel.config.js
  tsconfig.prod.json
Due: prettier --write, yarn lint

chore: remove redundent lodash
  package.json
  yarn.lock
Due: prettier --write, yarn format:package

refactor(toast): ♻️ add types
  src/theme/defaultTheme/index.ts
  src/theme/defaultTheme/toast.ts
  src/toast/RenderlessToast/ToastProvider.tsx
  src/toast/RenderlessToast/ToastTypes.ts
  src/toast/Toast.tsx
  src/toast/ToastAlert.tsx
  src/toast/stories/Toast.stories.tsx
Due: prettier --write, yarn lint

refactor(toast): ♻️ fix the action button styles
  src/theme/defaultTheme/toast.ts
Due: prettier --write

refactor(toast): ♻️ add toast placements
  src/theme/defaultTheme/toast.ts
  src/toast/Toast.tsx
  src/toast/stories/Toast.stories.tsx
Due: prettier --write, yarn lint

chore: new toast user end api updates
  src/toast/ToastAlert.tsx
  src/toast/stories/CustomToast.tsx
  src/toast/stories/Toast.stories.tsx
Due: prettier --write, yarn lint
