Repository adaptui/react-tailwind: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn format:package, yarn lint:fix

refactor(tooltip): ♻️ update tooltip anim with transition (#99)
  src/theme/defaultTheme/tooltip.ts
  src/tooltip/Tooltip.tsx
  src/tooltip/TooltipBody.tsx
  src/tooltip/stories/Tooltip.stories.tsx
Due: yarn format, yarn lint:fix

feat: added initial tooltip (#74)
  src/theme/defaultTheme/index.ts
  src/theme/defaultTheme/tooltip.ts
  src/tooltip/Tooltip.tsx
  src/tooltip/TooltipBody.tsx
  src/tooltip/stories/Tooltip.stories.tsx
Due: yarn format, yarn lint:fix

feat: added initial input
  input-rfc.md
  preset.js
  src/Input/Input.tsx
  src/Input/stories/Input.stories.tsx
  src/icons/EyesIcon.tsx
  src/icons/index.tsx
  src/theme/defaultTheme/index.ts
  src/theme/defaultTheme/input.ts
Due: yarn format, yarn lint:fix

refactor(input): ♻️ update input rfc
  input-rfc.md
Due: yarn format

refactor(jit): ♻️ tailwind jit exp
  .storybook/main.js
  .storybook/main.ts
  .storybook/postcss.config.js
  .storybook/preview.js
  .storybook/tailwind.css
  .storybook/webpack.config.js
  package.json
  postcss.config.js
  src/button/stories/Button.stories.tsx
  src/button/stories/style.css
  tailwind.config.js
  tsconfig.json
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

refactor(jit): ✨ lib variant support expect for the screens
  .storybook/main.js
  src/button/stories/Button.stories.tsx
  tailwind.config.js
  yarn.lock
Due: yarn format, yarn lint:fix

feat(postcss): ♻️ add jit css sample
  package.json
  tailwind-jit.css
  yarn.lock
Due: yarn format, yarn format:package

refactor(jit): ♻️ utilize the shorthands
  preset.js
  src/avatar/__test__/__snapshots__/Avatar.test.tsx.snap
  src/avatar/__test__/__snapshots__/AvatarGroup.test.tsx.snap
  src/checkbox/__tests__/__snapshots__/Checkbox.test.tsx.snap
  src/icon/__tests__/__snapshots__/Icon.test.tsx.snap
  src/icon/__tests__/__snapshots__/createIcon.test.tsx.snap
  src/slider/stories/Slider.stories.tsx
  src/switch/__tests__/__snapshots__/Switch.test.tsx.snap
  src/theme/defaultTheme/avatar.ts
  src/theme/defaultTheme/button.ts
  src/theme/defaultTheme/checkbox.ts
  src/theme/defaultTheme/icon.ts
  src/theme/defaultTheme/progress.ts
  src/theme/defaultTheme/radio.ts
  src/theme/defaultTheme/slider.ts
  src/theme/defaultTheme/switch.ts
  src/theme/defaultTheme/toast.ts
  tailwind-jit.css
  tailwindPlugins/variantPlugin.js
Due: yarn format, yarn lint:fix

feat: added addon prefix suffix with auto width
  src/Input/Input.tsx
  src/Input/InputAddons.tsx
  src/Input/InputGroup.tsx
  src/Input/stories/Input.stories.tsx
  src/theme/defaultTheme/input.ts
  yarn.lock
Due: yarn format, yarn lint:fix

fix: pointer events and children updates
  src/Input/InputAddons.tsx
  src/Input/InputGroup.tsx
  src/Input/stories/Input.stories.tsx
  src/theme/defaultTheme/input.ts
Due: yarn format, yarn lint:fix

fix: fixed input addon paddings & improved
  src/Input/InputAddons.tsx
  src/Input/InputGroup.tsx
  src/Input/stories/Input.stories.tsx
  src/theme/defaultTheme/input.ts
Due: yarn format, yarn lint:fix

chore: fix padding
  src/theme/defaultTheme/input.ts
Due: yarn format

fix: windows specific issues
  package.json
  tailwind-jit/lib/setupContext.js
Due: yarn format, yarn format:package, yarn lint:fix

refactor(deps): ⬆️ update dev deps
  package.json
  yarn.lock
Due: yarn format, yarn format:package

chore: added more examples in storybook
  src/Input/InputAddons.tsx
  src/Input/stories/Input.stories.tsx
  src/theme/defaultTheme/input.ts
Due: yarn format, yarn lint:fix

chore(yarn): update to yarn 2
  .yarn/releases/yarn-berry.cjs
  .yarnrc.yml
Due: yarn format

chore: improve focus styles and fixed select styles
  src/Input/InputAddons.tsx
  src/Input/InputGroup.tsx
  src/Input/stories/Input.stories.tsx
  src/theme/defaultTheme/input.ts
Due: yarn format, yarn lint:fix

build(yarn): ♻️ add yarn 2 support
  .gitignore
  .yarn/releases/yarn-berry.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: yarn format, yarn format:package

chore: fix rounding styles
  src/Input/stories/Input.stories.tsx
  src/theme/defaultTheme/input.ts
Due: yarn format, yarn lint:fix

refactor(plugins): ♻️ add plugins back to support intellisense
  tailwindPlugins/variantPlugin.js
Due: yarn format, yarn lint:fix

build(yarn): 🏗 add proper yarn gitignore
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/releases/yarn-berry.cjs
Due: none

feat: added InputPrefix & Suffix elements
  src/Input/InputAddons.tsx
  src/Input/InputGroup.tsx
  src/Input/stories/Input.stories.tsx
  src/theme/defaultTheme/input.ts
Due: yarn format, yarn lint:fix

chore: input zindex fix
  src/Input/stories/Input.stories.tsx
  src/theme/defaultTheme/input.ts
Due: yarn format, yarn lint:fix

refactor(storybook): ♻️ fix storybook errors
  .storybook/storybookUtils.tsx
  src/checkbox/stories/Checkbox.stories.tsx
  src/radio/RadioIcon.tsx
Due: yarn format, yarn lint:fix

fix: prefix/suffix elements
  src/Input/InputAddons.tsx
  src/Input/InputGroup.tsx
  src/Input/stories/Input.stories.tsx
Due: yarn format, yarn lint:fix

feat: added new input api
  src/Input/Input.tsx
  src/Input/InputGroup.tsx
  src/Input/stories/Input.stories.tsx
Due: yarn format, yarn lint:fix

refactor: rename components
  src/Input/Input.tsx
  src/Input/InputAddons.tsx
  src/Input/InputGroup.tsx
  src/Input/stories/Input.stories.tsx
Due: yarn format, yarn lint:fix

chore: rename AddonTypes
  src/Input/InputAddons.tsx
Due: yarn format, yarn lint:fix

refactor: input group & input cleanup refactor
  src/Input/Input.tsx
  src/Input/InputAddons.tsx
  src/Input/InputGroup.tsx
  src/Input/stories/Input.stories.tsx
Due: yarn format, yarn lint:fix

fix: improve width calculation logic
  src/Input/Input.tsx
  src/Input/InputGroup.tsx
  src/Input/index.ts
  src/Input/stories/Input.stories.tsx
Due: yarn format, yarn lint:fix

fix: filter children in Input
  src/Input/Input.tsx
  src/Input/stories/Input.stories.tsx
Due: yarn format, yarn lint:fix

refactor(input): 💄 update input & group styles
  preset.js
  src/Input/Input.tsx
  src/Input/InputAddons.tsx
  src/Input/InputGroup.tsx
  src/Input/stories/Input.stories.tsx
  src/theme/defaultTheme/input.ts
Due: yarn format, yarn lint:fix

test(avatar): ♻️ no error in tests
  preset.js
Due: yarn format, yarn lint:fix

refactor: simplify input logic & add better types
  src/Input/Input.tsx
Due: yarn format, yarn lint:fix

chore: use node types
  src/Input/Input.tsx
  src/Input/InputGroup.tsx
Due: yarn format, yarn lint:fix

chore: fix script quotes
  package.json
  yarn.lock
Due: yarn format, yarn format:package

chore: ignore tailwind-jit.css
  .gitignore
Due: none

refactor(input): 💄 update input styles
  preset.js
  src/Input/Input.tsx
  src/Input/InputAddons.tsx
  src/Input/stories/Input.stories.tsx
  src/theme/defaultTheme/input.ts
Due: yarn format, yarn lint:fix

Path conditions:
  yarn format: any of: **/*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}
  yarn format:package: any of: package.json
  yarn lint:fix: any of: **/*.{js,jsx,tx,tsx}
