Repository adaptui/react-tailwind: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn format:package, yarn lint:fix

chore(types): 🏷️ fix slider & alert types
  src/alert/AlertActionButton.tsx
  src/alert/AlertActions.tsx
  src/alert/AlertBody.tsx
  src/alert/AlertCloseButton.tsx
  src/alert/AlertDescription.tsx
  src/alert/AlertIcon.tsx
  src/form-field/FormErrorText.tsx
  src/form-field/FormField.tsx
  src/form-field/FormHelperText.tsx
  src/form-field/FormLabel.tsx
  src/form-field/FormRequiredText.tsx
  src/list/ListIcon.tsx
  src/slider/Slider.tsx
  src/slider/SliderMinMax.tsx
  src/slider/SliderThumb.tsx
  src/slider/SliderTrack.tsx
  src/slider/hooks/useSliderValues.tsx
Due: yarn format, yarn lint:fix

chore(deps): ⬆️ update dev dependencies (minor)
  package.json
  yarn.lock
Due: yarn format, yarn format:package

test(avatar): ✅ fix failing test improper import
  src/avatar-group/__tests__/AvatarGroup.test.tsx
  src/avatar-group/__tests__/__snapshots__/Avatar.test.tsx.snap
  src/avatar/__tests__/__snapshots__/AvatarGroup.test.tsx.snap
Due: yarn format, yarn lint:fix

fix(checkbox): 🐛 do not allow tab movement to hidden children
  package.json
  src/checkbox-group/CheckboxShowMore.tsx
  src/radio-group/RadioShowMore.tsx
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

fix(checkbox): 🐛 do not allow tab movement to hidden children (#199)
  package.json
  src/checkbox-group/CheckboxShowMore.tsx
  src/radio-group/RadioShowMore.tsx
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

chore(deps): ⬆️ update dependency storybook-addon-preview to v2.2.0
  package.json
  yarn.lock
Due: yarn format, yarn format:package

feat(preview): ✨ update storybook addon preview
  .storybook/utils.tsx
  patches/storybook-addon-preview+2.1.2.patch
Due: yarn format, yarn lint:fix

refactor(preview): ♻️ remove unused imports
  .storybook/utils.tsx
Due: yarn format, yarn lint:fix

refactor(preview): ♻️ remove react import
  .storybook/utils.tsx
Due: yarn format, yarn lint:fix

🚀 Release v0.0.1-alpha.30
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

refactor(preview): ♻️ update preview deps
  .storybook/utils.tsx
Due: yarn format, yarn lint:fix

feat(popover): ✨ start new reakit popover with radix popper
  package.json
  src/popper/Arrow.tsx
  src/popper/ArrowContent.tsx
  src/popper/Popover.tsx
  src/popper/PopoverContent.tsx
  src/popper/PopoverDisclosure.tsx
  src/popper/PopoverState.ts
  src/popper/__keys.ts
  src/popper/index.ts
  src/popper/rect.ts
  src/popper/stories/PopperBasic.component.tsx
  src/popper/stories/PopperBasic.stories.tsx
  src/popper/stories/PopperCollision.component.tsx
  src/popper/stories/PopperCollision.stories.tsx
  src/popper/useRect.ts
  src/popper/useSize.ts
  src/utils/createContextScope.tsx
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

feat(ssr): ✨ add id ssr support for meter & progres
  src/meter/MeterLabel.tsx
  src/meter/MeterState.ts
  src/progress/ProgressLabel.tsx
  src/progress/ProgressState.ts
  src/theme/provider.tsx
Due: yarn format, yarn lint:fix

feat(presence): ✨ remove transition with presence
  src/popper/usePresence.tsx
  src/popper/useStateMachine.tsx
Due: yarn format, yarn lint:fix

fix(showmore): 🐛 fix direction props for disclosure core change
  package.json
  preset.js
  src/checkbox-group/CheckboxShowMore.tsx
  src/popper/Arrow.tsx
  src/popper/ArrowContent.tsx
  src/popper/Popover.tsx
  src/popper/PopoverContent.tsx
  src/popper/PopoverDisclosure.tsx
  src/popper/PopoverState.ts
  src/popper/__keys.ts
  src/popper/index.ts
  src/popper/rect.ts
  src/popper/stories/PopperBasic.component.tsx
  src/popper/stories/PopperBasic.stories.tsx
  src/popper/stories/PopperCollision.component.tsx
  src/popper/stories/PopperCollision.stories.tsx
  src/popper/usePresence.tsx
  src/popper/useRect.ts
  src/popper/useSize.ts
  src/popper/useStateMachine.tsx
  src/radio-group/RadioShowMore.tsx
  src/show-more/ShowMoreButton.tsx
  src/show-more/ShowMoreContent.tsx
  src/show-more/ShowMoreProps.tsx
  src/show-more/ShowMoreState.tsx
  src/show-more/__keys.ts
  src/show-more/stories/ShowMoreHorizontal.component.tsx
  src/show-more/stories/ShowMoreVertical.component.tsx
  src/theme/defaultTheme/checkbox.ts
  src/theme/defaultTheme/radio.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

feat(tooltip): ✨ finish tooltip
  src/create-icon/stories/IconAll.component.tsx
  src/icons/Arrow.tsx
  src/icons/index.ts
  src/theme/defaultTheme/tooltip.ts
  src/tooltip/Tooltip.tsx
  src/tooltip/TooltipArrow.tsx
  src/tooltip/TooltipArrowContent.tsx
  src/tooltip/TooltipBody.tsx
  src/tooltip/TooltipContent.tsx
  src/tooltip/TooltipProps.tsx
  src/tooltip/TooltipReference.tsx
  src/tooltip/TooltipState.tsx
  src/tooltip/TooltipWrapper.tsx
  src/tooltip/__keys.ts
  src/tooltip/index.ts
  src/tooltip/stories/Tooltip.stories.tsx
  src/tooltip/stories/TooltipBasic.component.tsx
  src/tooltip/stories/TooltipBasic.stories.tsx
  src/utils/react.ts
Due: yarn format, yarn lint:fix

feat(button): ✨ add button group component
  src/button-group/ButtonGroup.tsx
  src/button-group/__keys.ts
  src/button-group/index.ts
  src/button-group/stories/ButtonGroupBasic.component.tsx
  src/button-group/stories/ButtonGroupBasic.stories.tsx
  src/button-group/stories/ButtonGroupCollapsed.component.tsx
  src/button-group/stories/ButtonGroupCollapsed.stories.tsx
  src/button/Button.tsx
  src/index.ts
  src/theme/defaultTheme/button.ts
  src/theme/defaultTheme/buttonGroup.ts
Due: yarn format, yarn lint:fix

feat(showmore): 🐛 fix showmore jank & inter var font
  .storybook/preview-head.html
  package.json
  preset.js
  src/checkbox-group/CheckboxShowMore.tsx
  src/radio-group/RadioShowMore.tsx
  src/show-more/ShowMore.tsx
  src/show-more/ShowMoreContent.tsx
  src/show-more/ShowMoreProps.tsx
  src/show-more/stories/ShowMoreHorizontal.component.tsx
  src/show-more/stories/ShowMoreVertical.component.tsx
  src/theme/defaultTheme/checkbox.ts
  src/theme/defaultTheme/radio.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

fix(build): 🐛 update show more types
  src/show-more/ShowMore.tsx
Due: yarn format, yarn lint:fix

feat(showmore): 🐛 fix showmore jank & inter var font (#206)
  .storybook/preview-head.html
  package.json
  preset.js
  src/checkbox-group/CheckboxShowMore.tsx
  src/radio-group/RadioShowMore.tsx
  src/show-more/ShowMore.tsx
  src/show-more/ShowMoreContent.tsx
  src/show-more/ShowMoreProps.tsx
  src/show-more/stories/ShowMoreHorizontal.component.tsx
  src/show-more/stories/ShowMoreVertical.component.tsx
  src/theme/defaultTheme/checkbox.ts
  src/theme/defaultTheme/radio.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

fix(deps): ⬆️ update dependency tailwind-merge to ^0.9.0
  package.json
  yarn.lock
Due: yarn format, yarn format:package

style(format): 🎨 update prettier & format
  src/button-group/stories/ButtonGroupCollapsed.component.tsx
  src/checkbox-group/stories/CheckboxGroupTriBoolState.component.tsx
  src/checkbox-group/stories/CheckboxGroupTriStringState.component.tsx
  src/checkbox/stories/CheckboxCustomAdvanced.component.tsx
  src/circular-progress/stories/CircularProgressBasic.component.tsx
  src/circular-progress/stories/CircularProgressCustom.component.tsx
  src/circular-progress/stories/CircularProgressHint.component.tsx
  src/datepicker/DatePicker.tsx
  src/meter/stories/MeterInterval.component.tsx
  src/theme/provider.tsx
Due: yarn format, yarn lint:fix

fix(deps): ⬆️ update dependency @renderlesskit/react to ^0.9.0
  package.json
  yarn.lock
Due: yarn format, yarn format:package

feat(slider): ✨ add basic composable slider
  package.json
  src/slider/Slider.tsx
  src/slider/SliderFilledTrack.tsx
  src/slider/SliderMinMax.tsx
  src/slider/SliderProps.tsx
  src/slider/SliderState.tsx
  src/slider/SliderThumb.tsx
  src/slider/SliderThumbContainer.tsx
  src/slider/SliderThumbInput.tsx
  src/slider/SliderThumbProps.tsx
  src/slider/SliderThumbState.tsx
  src/slider/SliderThumbWrapper.tsx
  src/slider/SliderTrack.tsx
  src/slider/SliderTrackWrapper.tsx
  src/slider/SliderWrapper.tsx
  src/slider/__keys.ts
  src/slider/index.ts
  src/slider/stories/Slider.stories.tsx
  src/slider/stories/SliderBasic.component.tsx
  src/slider/stories/SliderBasic.stories.tsx
  src/switch/SwitchState.tsx
  src/utils/react.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

build(types): 🏷️ update type issues with extra files
  src/slider/hooks/useSliderDimensions.tsx
  src/slider/hooks/useSliderValues.tsx
Due: yarn format, yarn lint:fix

fix(react utils): 🐛 runIfFnChildren utils bug
  src/slider/SliderProps.tsx
  src/slider/stories/SliderBasic.component.tsx
  src/utils/react.ts
Due: yarn format, yarn lint:fix

feat(theme): ✨ add slider styles to theme
  preset.js
  src/slider/Slider.tsx
  src/slider/SliderFilledTrack.tsx
  src/slider/SliderProps.tsx
  src/slider/SliderThumbContainer.tsx
  src/slider/SliderThumbInput.tsx
  src/slider/SliderThumbWrapper.tsx
  src/slider/SliderTrack.tsx
  src/slider/SliderTrackWrapper.tsx
  src/slider/SliderWrapper.tsx
  src/slider/stories/SliderBasic.component.tsx
  src/theme/defaultTheme/slider.ts
Due: yarn format, yarn lint:fix

feat(slider): ✨ finish slider with tooltip
  src/create-icon/stories/IconAll.component.tsx
  src/icons/Equals.tsx
  src/icons/index.ts
  src/slider/Slider.tsx
  src/slider/SliderFilledTrack.tsx
  src/slider/SliderProps.tsx
  src/slider/SliderState.tsx
  src/slider/SliderThumb.tsx
  src/slider/SliderThumbContainer.tsx
  src/slider/SliderThumbProps.tsx
  src/slider/SliderThumbState.tsx
  src/slider/SliderThumbWrapper.tsx
  src/slider/SliderTrack.tsx
  src/slider/__keys.ts
  src/slider/stories/SliderRange.component.tsx
  src/slider/stories/SliderRange.stories.tsx
  src/theme/defaultTheme/slider.ts
  src/tooltip/Tooltip.tsx
  src/tooltip/TooltipAnchor.tsx
  src/tooltip/TooltipArrow.tsx
  src/tooltip/TooltipArrowContent.tsx
  src/tooltip/TooltipContent.tsx
  src/tooltip/TooltipProps.tsx
  src/tooltip/TooltipReference.tsx
  src/tooltip/TooltipState.tsx
  src/tooltip/TooltipTrigger.tsx
  src/tooltip/TooltipWrapper.tsx
  src/tooltip/__keys.ts
  src/tooltip/index.ts
  src/tooltip/stories/TooltipBasic.component.tsx
Due: yarn format, yarn lint:fix

Path conditions:
  yarn format: any of: **/*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}
  yarn format:package: any of: package.json
  yarn lint:fix: any of: **/*.{js,jsx,tx,tsx}
