Repository adaptui/react-tailwind: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn format:package, yarn lint:fix

.lintstagedrc.json:

{
  "**/*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}": [
    "yarn format",
    "git add"
  ],
  "package.json": ["yarn format:package"],
  "**/*.{js,jsx,tx,tsx}": ["yarn lint:fix"]
}

chore(deps): ⬆️ update dev dependencies (minor)
  package.json
  yarn.lock
Due: yarn format, yarn format:package

feat(switch): ✨ finish switch component
  .storybook/main.js
  package.json
  preset.js
  src/switch/Switch.tsx
  src/switch/SwitchIcon.tsx
  src/switch/SwitchState.tsx
  src/switch/stories/SwitchControlled.component.tsx
  src/switch/stories/SwitchControlled.stories.tsx
  src/theme/defaultTheme/switch.ts
  tailwindPlugins/variantPlugin.js
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

test(switch): 📸 update snapshot
  src/switch/__tests__/__snapshots__/Switch.test.tsx.snap
  src/theme/defaultTheme/switch.ts
Due: yarn format

chore(deps): pin dependency webpack to 5.58.2
  package.json
  yarn.lock
Due: yarn format, yarn format:package

docs(badge): 📝 add badge stack sb
  src/badge/stories/BadgeStack.component.tsx
  src/badge/stories/BadgeStack.stories.tsx
Due: yarn format, yarn lint:fix

docs(badge): 📝 add badge stack sb (#180)
  src/badge/stories/BadgeStack.component.tsx
  src/badge/stories/BadgeStack.stories.tsx
Due: yarn format, yarn lint:fix

build(package): 💚 add exports field to package json
  package.json
Due: yarn format, yarn format:package

🚀 Release v0.0.1-alpha.19
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

build(package): 👷 add proper exports & tailwind merge
  package.json
  src/utils/index.tsx
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

🚀 Release v0.0.1-alpha.20
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

build(tw): 💚 revert to local tailwind-merge version
  package.json
  src/utils/index.tsx
Due: yarn format, yarn format:package, yarn lint:fix

🚀 Release v0.0.1-alpha.21
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

feat(progress): ✨ migrate to new RFC code
  src/progress/Progress.tsx
  src/progress/ProgressBar.tsx
  src/progress/ProgressState.ts
  src/progress/ProgressTrack.tsx
  src/progress/__keys.ts
  src/progress/stories/Progress.stories.tsx
  src/progress/stories/ProgressBasic.component.tsx
  src/progress/stories/ProgressBasic.stories.tsx
  src/progress/stories/ProgressCustom.component.tsx
  src/progress/stories/ProgressCustom.stories.tsx
  src/theme/defaultTheme/progress.ts
  yarn.lock
Due: yarn format, yarn lint:fix

feat(progress): ✨ migrate to new RFC code (#182)
  src/progress/Progress.tsx
  src/progress/ProgressBar.tsx
  src/progress/ProgressState.ts
  src/progress/ProgressTrack.tsx
  src/progress/__keys.ts
  src/progress/stories/Progress.stories.tsx
  src/progress/stories/ProgressBasic.component.tsx
  src/progress/stories/ProgressBasic.stories.tsx
  src/progress/stories/ProgressCustom.component.tsx
  src/progress/stories/ProgressCustom.stories.tsx
  src/theme/defaultTheme/progress.ts
  yarn.lock
Due: yarn format, yarn lint:fix

fix(switch): 🐛 bug in switch transition for mobile
  .storybook/tailwind.css
  src/theme/defaultTheme/switch.ts
Due: yarn format

refactor(tw): ♻️ add tailwind-merge directly
  package.json
  src/switch/__tests__/__snapshots__/Switch.test.tsx.snap
  src/utils/index.tsx
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

🚀 Release v0.0.1-alpha.22
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

chore(twMerge): 🔥 remove tailwind merge local
  .size-limit.js
  .storybook/main.js
  package.json
  src/theme/defaultTheme/index.ts
  src/utils/tailwind-merge/class-utils.ts
  src/utils/tailwind-merge/config-utils.ts
  src/utils/tailwind-merge/config-validators.ts
  src/utils/tailwind-merge/default-config.ts
  src/utils/tailwind-merge/index.ts
  src/utils/tailwind-merge/lru-cache.ts
  src/utils/tailwind-merge/merge-classlist.ts
  src/utils/tailwind-merge/prefix-utils.ts
  src/utils/tailwind-merge/tailwind-merge.ts
  src/utils/tailwind-merge/types.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

🚀 Release v0.0.1-alpha.23
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

perf(lodash): ⚡️ remove direct lodash dep
  .size-limit.js
  package.json
  src/theme/index.tsx
  src/theme/mergeThemes.ts
  src/utils/index.tsx
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

🚀 Release v0.0.1-alpha.24
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

chore(lodash): ⚡️ remove babel plugin lodash
  babel.config.js
  package.json
  renovate.json
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

refactor(theme): ♻️ update theme & utils code
  package.json
  renderlesskit.config.ts
  src/global-types.ts
  src/index.ts
  src/theme/__tests__/mergeThemes.test.ts
  src/theme/__tests__/theme.test-d.ts
  src/theme/extendTheme.ts
  src/theme/index.ts
  src/theme/provider.tsx
  src/theme/types.ts
  src/theme/utils.ts
  src/utils/assertions.ts
  src/utils/createContext.tsx
  src/utils/debounce.ts
  src/utils/index.ts
  src/utils/index.tsx
  src/utils/object/defaults.ts
  src/utils/object/index.ts
  src/utils/object/mergeWith.ts
  src/utils/object/objectKeys.ts
  src/utils/react.ts
  src/utils/tailwindMerge.ts
Due: yarn format, yarn format:package, yarn lint:fix

docs(sb): 📝 fix storybook previews with progress
  src/progress/ProgressBar.tsx
  src/progress/ProgressState.ts
  src/progress/ProgressTrack.tsx
  src/progress/stories/ProgressBasic.component.tsx
  src/progress/stories/ProgressBasic.stories.tsx
  src/progress/stories/ProgressCustom.component.tsx
  src/progress/stories/ProgressCustom.stories.tsx
Due: yarn format, yarn lint:fix

🚀 Release v0.0.1-alpha.25
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

feat(progress): ✨ finish progress with label hint group
  patches/storybook-addon-preview+2.1.2.patch
  preset.js
  src/progress/Progress.tsx
  src/progress/ProgressBar.tsx
  src/progress/ProgressHint.tsx
  src/progress/ProgressLabel.tsx
  src/progress/ProgressState.ts
  src/progress/ProgressWrapper.tsx
  src/progress/__keys.ts
  src/progress/index.ts
  src/progress/stories/ProgressHint.component.tsx
  src/progress/stories/ProgressHint.stories.tsx
  src/progress/stories/ProgressLabel.component.tsx
  src/progress/stories/ProgressLabel.stories.tsx
  src/theme/defaultTheme/progress.ts
  yarn.lock
Due: yarn format, yarn lint:fix

feat(progress): ✨ finish progress with label hint group (#185)
  patches/storybook-addon-preview+2.1.2.patch
  preset.js
  src/progress/Progress.tsx
  src/progress/ProgressBar.tsx
  src/progress/ProgressHint.tsx
  src/progress/ProgressLabel.tsx
  src/progress/ProgressState.ts
  src/progress/ProgressWrapper.tsx
  src/progress/__keys.ts
  src/progress/index.ts
  src/progress/stories/ProgressHint.component.tsx
  src/progress/stories/ProgressHint.stories.tsx
  src/progress/stories/ProgressLabel.component.tsx
  src/progress/stories/ProgressLabel.stories.tsx
  src/theme/defaultTheme/progress.ts
  yarn.lock
Due: yarn format, yarn lint:fix

fix(deps): ⬆️ update dependency tailwind-merge to ^0.8.0
  package.json
  yarn.lock
Due: yarn format, yarn format:package

fix(twMerge): 🐛 major change issue
  src/utils/tailwindMerge.ts
Due: yarn format

refactor(checkbox): ♻️ label with focus & hover
  .babelrc.json
  .storybook/main.js
  package.json
  src/checkbox/Checkbox.tsx
  src/checkbox/CheckboxGroup.tsx
  src/checkbox/CheckboxIcon.tsx
  src/checkbox/CheckboxLabel.tsx
  src/checkbox/CheckboxState.tsx
  src/checkbox/__keys.ts
  src/checkbox/stories/CheckboxBasic.stories.tsx
  src/theme/defaultTheme/checkbox.ts
  src/utils/react.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

build(babel): 💚 fix test failing because of doppleganger
  .babelrc.json
  babel.config.js
  jest.config.ts
Due: yarn format, yarn lint:fix

fix(checkbox): 🐛 sizes acc to new design changes
  src/theme/defaultTheme/checkbox.ts
Due: yarn format

refactor(checkbox): ♻️ label with focus & hover (#188)
  .storybook/main.js
  babel.config.js
  jest.config.ts
  package.json
  src/checkbox/Checkbox.tsx
  src/checkbox/CheckboxGroup.tsx
  src/checkbox/CheckboxIcon.tsx
  src/checkbox/CheckboxLabel.tsx
  src/checkbox/CheckboxState.tsx
  src/checkbox/__keys.ts
  src/checkbox/stories/CheckboxBasic.stories.tsx
  src/theme/defaultTheme/checkbox.ts
  src/utils/react.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

feat(circular-progress): ✨ update component
  src/box/Box.tsx
  src/circular-progress/CircularProgress.tsx
  src/circular-progress/CircularProgressBar.tsx
  src/circular-progress/CircularProgressBarWrapper.tsx
  src/circular-progress/CircularProgressHint.ts
  src/circular-progress/CircularProgressState.ts
  src/circular-progress/CircularProgressTrack.tsx
  src/circular-progress/CircularProgressWrapper.tsx
  src/circular-progress/__keys.ts
  src/circular-progress/index.ts
  src/circular-progress/stories/CircularProgress.stories.tsx
  src/circular-progress/stories/CircularProgressBasic.component.tsx
  src/circular-progress/stories/CircularProgressBasic.stories.tsx
  src/circular-progress/stories/CircularProgressCustom.component.tsx
  src/circular-progress/stories/CircularProgressCustom.stories.tsx
  src/circular-progress/stories/CircularProgressHint.component.tsx
  src/circular-progress/stories/CircularProgressHint.stories.tsx
  src/progress/Progress.tsx
  src/progress/ProgressWrapper.tsx
  src/theme/defaultTheme/circularProgress.ts
Due: yarn format, yarn lint:fix
