Repository adaptui/react-tailwind: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn format:package, yarn lint

feat(theme): ✨ finish theme provider experiment
  .storybook/main.ts
  .storybook/preview.js
  package.json
  src/Tag/Tag.tsx
  src/alert/Alert.tsx
  src/avatar/Avatar.tsx
  src/avatar/AvatarGroup.tsx
  src/avatar/AvatarImage.tsx
  src/badge/Badge.tsx
  src/button/ButtonGroup.tsx
  src/button/IconButton.tsx
  src/button/stories/Button.stories.tsx
  src/calendar/Calendar.tsx
  src/datepicker/CompundDatePicker.tsx
  src/icon/Icon.tsx
  src/spinner/Spinner.tsx
  src/theme/index.tsx
  src/theme/themeType.tsx
  tailwind.config.js
Due: prettier --write, yarn format:package, yarn lint

chore: remove themeType file and added ts types for extend
  src/theme/index.tsx
  src/theme/themeType.tsx
Due: prettier --write, yarn lint

test: fixed all tests
  src/avatar/test/Avatar.test.tsx
  src/avatar/test/AvatarGroup.test.tsx
  src/button/__tests__/Button.test.tsx
  src/utils/testUtils.tsx
Due: prettier --write, yarn lint

feat(theme): ✨ provide ocx through context by getting the properties generated
  .storybook/main.ts
  src/Tag/Tag.tsx
  src/alert/Alert.tsx
  src/avatar/Avatar.tsx
  src/avatar/AvatarGroup.tsx
  src/avatar/AvatarImage.tsx
  src/badge/Badge.tsx
  src/button/Button.tsx
  src/button/ButtonGroup.tsx
  src/button/IconButton.tsx
  src/button/stories/Button.stories.tsx
  src/calendar/Calendar.tsx
  src/datepicker/CompundDatePicker.tsx
  src/icon/Icon.tsx
  src/spinner/Spinner.tsx
  src/theme/defaultTailwindProperties.json
  src/theme/index.tsx
  src/utils/index.tsx
  tailwindProperties.json
Due: prettier --write, yarn lint

chore: test naming change
  src/avatar/test/Avatar.test.tsx
  src/utils/testUtils.tsx
Due: prettier --write, yarn lint

test(avatar): added avatar image loading/error tests (#27)
  src/avatar/AvatarImage.tsx
  src/avatar/test/Avatar.test.tsx
Due: prettier --write, yarn lint

test: improved & extracted out mockImage
  src/avatar/test/Avatar.test.tsx
  src/utils/testUtils.tsx
Due: prettier --write, yarn lint

test: added common test utils (#29)
  src/avatar/test/Avatar.test.tsx
  src/avatar/test/AvatarGroup.test.tsx
  src/button/__tests__/Button.test.tsx
  src/utils/testUtils.tsx
Due: prettier --write, yarn lint

build(theme): 👷 fix build error & variant override issue
  src/alert/stories/Alert.stories.tsx
  src/index.tsx
  src/theme/defaultTailwindProperties.ts
  src/theme/index.tsx
  src/utils/testUtils.tsx
  tailwind.config.js
  tsconfig.json
  tsconfig.prod.json
Due: prettier --write, yarn lint

feat: added typescript support for extended theme values
  src/button/Button.tsx
  src/button/stories/Button.stories.tsx
  src/theme/index.tsx
  tailwind.config.js
Due: prettier --write, yarn lint

feat(theme): ✨ add support for overridding pseudo variants aswell
  .storybook/main.ts
  package.json
  src/theme/index.tsx
  tailwind.config.js
  yarn.lock
Due: prettier --write, yarn format:package, yarn lint

test(tag): added test for tag
  src/Tag/Tag.tsx
  src/Tag/tests/Tag.test.tsx
  src/Tag/tests/__snapshots__/Tag.test.tsx.snap
Due: prettier --write, yarn lint

test(tag): added TagGroup test & removed snapshots because of id change
  package.json
  src/Tag/Tag.tsx
  src/Tag/TagGroup.tsx
  src/Tag/tests/Tag.test.tsx
  src/Tag/tests/TagGroup.test.tsx
  src/Tag/tests/__snapshots__/Tag.test.tsx.snap
  yarn.lock
Due: prettier --write, yarn format:package, yarn lint

feat(cli): ✨ add a cli for generating tailwind propertie
  package.json
  scripts/generate-tailwind-properties.js
  src/calendar/Calendar.tsx
  src/theme/index.tsx
Due: prettier --write, yarn format:package, yarn lint

fix(cli): 🐛 fix cli silent bug in window because of unix command
  scripts/generate-tailwind-properties.js
Due: prettier --write, yarn lint

refactor(theme): ♻️ update types for theme file
  src/theme/index.tsx
  src/theme/tailwind-override.ts
Due: prettier --write, yarn lint

chore: poc !variants
  src/Tag/Tag.tsx
  src/alert/Alert.tsx
  src/alert/stories/Alert.stories.tsx
  src/avatar/Avatar.tsx
  src/avatar/AvatarGroup.tsx
  src/avatar/AvatarImage.tsx
  src/badge/Badge.tsx
  src/button/Button.tsx
  src/button/ButtonGroup.tsx
  src/button/IconButton.tsx
  src/button/stories/Button.stories.tsx
  src/calendar/Calendar.tsx
  src/icon/Icon.tsx
  src/spinner/Spinner.tsx
  src/theme.tsx
  tailwind.config.js
  tailwindProperties.json
Due: prettier --write, yarn lint

chore(alert): fix !styles
  src/alert/stories/Alert.stories.tsx
Due: prettier --write, yarn lint

feat(variant): ✨ add before variant
  src/button/stories/Button.stories.tsx
  src/theme.tsx
  src/utils/index.tsx
  tailwind.config.js
  tailwind.css
  tailwind.min.css
Due: prettier --write, yarn lint

feat(stack): ✨ stack with other variants
  src/theme.tsx
  tailwind.config.js
  tailwind.css
  tailwind.min.css
Due: prettier --write, yarn lint

feat(variants): ✨ add missing variants with proper variant order
  src/theme.tsx
  src/utils/index.tsx
  tailwind.config.js
Due: prettier --write, yarn lint

refactor(variants): ✨ use the base variants in the themes with pseudo classes
  src/button/stories/Button.stories.tsx
  src/theme.tsx
  tailwind.config.js
Due: prettier --write, yarn lint

chore: theme css fixes
  src/alert/stories/Alert.stories.tsx
  src/avatar/Avatar.tsx
  src/button/Button.tsx
  src/theme.tsx
Due: prettier --write, yarn lint

refactor(variants): ♻️ simplify config file
  .storybook/main.ts
  src/avatar/test/__snapshots__/Avatar.test.tsx.snap
  src/avatar/test/__snapshots__/AvatarGroup.test.tsx.snap
  src/theme.tsx
  tailwind.config.js
Due: prettier --write, yarn lint

refactor(override): ♻️ remove overrides & fix tests
  .storybook/main.ts
  package.json
  src/Tag/Tag.tsx
  src/alert/Alert.tsx
  src/avatar/Avatar.tsx
  src/avatar/AvatarGroup.tsx
  src/avatar/AvatarImage.tsx
  src/avatar/__test__/Avatar.test.tsx
  src/avatar/__test__/AvatarGroup.test.tsx
  src/avatar/__test__/__snapshots__/Avatar.test.tsx.snap
  src/avatar/__test__/__snapshots__/AvatarGroup.test.tsx.snap
  src/avatar/stories/Avatar.stories.tsx
  src/badge/Badge.tsx
  src/button/Button.tsx
  src/button/ButtonGroup.tsx
  src/button/IconButton.tsx
  src/button/__tests__/Button.test.tsx
  src/button/stories/Button.stories.tsx
  src/calendar/Calendar.tsx
  src/datepicker/CompundDatePicker.tsx
  src/datepicker/DatePicker.tsx
  src/icon/Icon.tsx
  src/index.tsx
  src/spinner/Spinner.tsx
  src/theme/defaultTailwindProperties.ts
  src/theme/index.tsx
  src/theme/tailwind-override.ts
  yarn.lock
Due: prettier --write, yarn format:package, yarn lint

test(tag): added tests for Tag (#30)
  package.json
  src/Tag/Tag.tsx
  src/Tag/TagGroup.tsx
  src/Tag/tests/Tag.test.tsx
  src/Tag/tests/TagGroup.test.tsx
  yarn.lock
Due: prettier --write, yarn format:package, yarn lint

refactor(config): ♻️ remove attention seeking comments
  tailwind.config.js
Due: prettier --write, yarn lint

feat(variant): ✨ add base `lib` variant (#32)
  .storybook/main.ts
  package.json
  src/Tag/Tag.tsx
  src/alert/Alert.tsx
  src/alert/stories/Alert.stories.tsx
  src/avatar/Avatar.tsx
  src/avatar/AvatarGroup.tsx
  src/avatar/AvatarImage.tsx
  src/avatar/__test__/Avatar.test.tsx
  src/avatar/__test__/AvatarGroup.test.tsx
  src/avatar/__test__/__snapshots__/Avatar.test.tsx.snap
  src/avatar/__test__/__snapshots__/AvatarGroup.test.tsx.snap
  src/avatar/stories/Avatar.stories.tsx
  src/badge/Badge.tsx
  src/button/Button.tsx
  src/button/ButtonGroup.tsx
  src/button/IconButton.tsx
  src/button/__tests__/Button.test.tsx
  src/button/stories/Button.stories.tsx
  src/calendar/Calendar.tsx
  src/datepicker/CompundDatePicker.tsx
  src/datepicker/DatePicker.tsx
  src/icon/Icon.tsx
  src/index.tsx
  src/spinner/Spinner.tsx
  src/theme/defaultTailwindProperties.ts
  src/theme/defaultTheme.tsx
  src/theme/index.tsx
  src/theme/tailwind-override.ts
  src/utils/testUtils.tsx
  tailwind.config.js
  yarn.lock
Due: prettier --write, yarn format:package, yarn lint

feat(button): ✨ improved the button with latest design
  .storybook/main.ts
  .storybook/preview.js
  src/Tag/Tag.tsx
  src/alert/stories/Alert.stories.tsx
  src/button/Button.tsx
  src/button/IconButton.tsx
  src/button/stories/Button.stories.tsx
  src/icon/stories/Icon.stories.tsx
  src/icons/CaretDown.tsx
  src/icons/Close.tsx
  src/icons/Cross.tsx
  src/icons/Search.tsx
  src/icons/index.tsx
  src/theme/defaultTheme.tsx
  src/theme/index.tsx
  src/utils/types.tsx
Due: prettier --write, yarn lint

chore: improved storybook performance
  .storybook/main.ts
  .storybook/postcss.config.js
  .storybook/preview.js
  .storybook/webpack.config.js
  src/Tag/stories/Tag.stories.tsx
  src/alert/Alert.tsx
  src/alert/stories/Alert.css
  src/alert/stories/Alert.stories.tsx
  src/avatar/stories/avatar.css
  src/badge/stories/Badge.stories.tsx
  src/badge/stories/badge.css
  src/box/stories/Box.stories.tsx
  src/box/stories/box.css
  src/button/stories/Button.stories.tsx
  src/button/stories/button.css
  src/calendar/stories/Calendar.css
  src/calendar/stories/Calendar.stories.tsx
  src/datepicker/stories/DatePicker.css
  src/datepicker/stories/DatePicker.stories.tsx
  src/icon/stories/Icon.stories.tsx
  src/icon/stories/icon.css
  src/spinner/stories/Spinner.stories.tsx
  src/spinner/stories/spinner.css
  src/style.css
Due: prettier --write, yarn lint

chore: migrate rest of the components to forwardRefAsSimple
  src/badge/Badge.tsx
  src/button/IconButton.tsx
  src/icon/createIcon.tsx
  src/spinner/Spinner.tsx
Due: prettier --write, yarn lint

feat: added support for typesafe theming
  src/button/Button.tsx
  src/index.tsx
  src/theme/index.tsx
  src/theme/types.ts
  src/utils/testUtils.tsx
Due: prettier --write, yarn lint

chore: global namespace instead of local, migrated all components to use getThemeValue
  src/Tag/Tag.tsx
  src/alert/Alert.tsx
  src/avatar/Avatar.tsx
  src/badge/Badge.tsx
  src/button/Button.tsx
  src/button/ButtonGroup.tsx
  src/button/IconButton.tsx
  src/theme/types.ts
Due: prettier --write, yarn lint

chore: added MergeTheme utility
  src/theme/types.ts
Due: prettier --write

chore: added jsdoc comments in forwardRefWithAsSimple
  src/utils/types.tsx
Due: prettier --write, yarn lint

feat: theme presert support for end users
  package.json
  src/index.tsx
  src/preset/index.ts
  tailwind.config.d.ts
  tailwind.config.js
Due: prettier --write, yarn format:package, yarn lint

chore: use generics to get the tailwind type from userland
  src/preset/index.ts
  tailwind.config.d.ts
Due: prettier --write

chore: resolve default tailwindconfig from userland
  src/preset/index.ts
Due: prettier --write

fix(scripts): 🐛 remove scripts
  package.json
  scripts/generate-tailwind-properties.js
Due: prettier --write, yarn format:package, yarn lint

build(purge): 💚 add purge to the storybook
  tailwind.config.js
Due: prettier --write, yarn lint

Path conditions:
  prettier --write: any of: *.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}
  yarn format:package: any of: package.json
  yarn lint: any of: **/*.{js,jsx,tx,tsx}
