Repository adaptui/react-tailwind: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn format:package, yarn lint:fix

.lintstagedrc.json:

{
  "**/*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}": [
    "yarn format",
    "git add"
  ],
  "package.json": ["yarn format:package"],
  "**/*.{js,jsx,tx,tsx}": ["yarn lint:fix"]
}

fix(slider): 🩹 focus behaviour on thumb
  src/radio-group/RadioGroup.tsx
  src/slider/SliderThumb.tsx
Due: yarn format, yarn lint:fix

chore(deps): ⬆️ update dev deps
  package.json
  yarn.lock
Due: yarn format, yarn format:package

fix(circular-progress): 🔥 remove track color
  src/circular-progress/CircularProgressTrack.tsx
Due: yarn format, yarn lint:fix

refactor(avatar): ♻️ change ring color and squared jsdoc
  src/avatar/stories/AvatarBasic.stories.tsx
Due: yarn format, yarn lint:fix

refactor(avatar): ♻️ change avatar ring color, squared jsdoc
  .storybook/utils.tsx
  adaptui.config.ts
  scripts/generateCsb.js
  src/avatar/AvatarUIState.tsx
Due: yarn format, yarn lint:fix

refactor(avatar): ♻️ change default squared to true
  src/avatar/stories/AvatarBasic.stories.tsx
Due: yarn format, yarn lint:fix

chore(logs): 🔥 remove console.logs lines
  src/avatar/stories/AvatarBasic.stories.tsx
  src/avatar/stories/AvatarStack.stories.tsx
  src/checkbox-group/stories/CheckboxGroupControlled.component.tsx
  src/meter/Meter.tsx
Due: yarn format, yarn lint:fix

refactor(avatar): ♻️ change ring color and squared jsdoc (#324)
  .storybook/utils.tsx
  adaptui.config.ts
  scripts/generateCsb.js
  src/avatar/AvatarUIState.tsx
Due: yarn format, yarn lint:fix

🚀 Release v1.0.0-alpha.1
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

build(kodiak): 🏗️ change rebase to merge method in kodiak
  .kodiak.toml
Due: none

chore(sb): 👷 update allow controls
  .storybook/utils.tsx
Due: yarn format, yarn lint:fix

build(sb): 💚 move from js to ts config
  .storybook/main.ts
  .storybook/manager-head.html
  .storybook/manager.ts
  .storybook/preview.tsx
Due: yarn format, yarn lint:fix

docs: add @mcnaveen as a contributor
  .all-contributorsrc
  README.md
Due: yarn format

ci(perf): 👷 add perf improvements to ci builds
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/test.yml
  .nvmrc
  .storybook/main.ts
  .vscode/settings.json
  package.json
  yarn.lock
Due: yarn format, yarn format:package

build(sb): 💚 remove the optmisation since affecting preview
  .storybook/main.ts
  package.json
  yarn.lock
Due: yarn format, yarn format:package

ci(actions): 💚 add only install action
  .github/workflows/main.yml
Due: yarn format

ci(actions): 💚 add only checkout
  .github/workflows/main.yml
Due: yarn format

ci(actions): 💚 setup node
  .github/workflows/main.yml
Due: yarn format

ci(actions): 💚 fix the key uses in step
  .github/workflows/main.yml
Due: yarn format

ci(actions): 👷 add yarn cache dir path
  .github/workflows/main.yml
Due: yarn format

ci(actions): 💚 remove yarn offline access
  .github/workflows/main.yml
Due: yarn format

ci(actions): 💚 remove prefer offline in all jobs
  .github/workflows/main.yml
Due: yarn format

ci(yarn): 👷 update yarn lock file
  yarn.lock
Due: none

ci(actions): 👷 cache node_modules
  .github/workflows/main.yml
Due: yarn format

style(logo): 🍱 show adaptui logo instead of storybook logo
  .storybook/adaptui-tailwind.svg
  .storybook/manager.ts
  .storybook/storybookTheme.ts
  custom.d.ts
  tsconfig.json
Due: yarn format

build(sb): 👷 update sb build to vite & remove babel build
  .storybook/main.ts
  .storybook/preview-head.html
  .swcrc.build
  babel.config.js
  jest.config.js
  package.json
  src/checkbox/stories/CheckboxCustomAdvanced.stories.tsx
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

ci(actions): 👷 update yarn lock file cache
  .github/workflows/main.yml
Due: yarn format

ci(actions): 👷 update yarn lock path
  .github/workflows/main.yml
Due: yarn format

ci(actions): 👷 remove restore keys
  .github/workflows/main.yml
  src/badge/stories/BadgeBasic.stories.tsx
  src/badge/stories/BadgeStack.stories.tsx
Due: yarn format, yarn lint:fix

ci(actions): 👷 update the keys for main
  .github/workflows/main.yml
Due: yarn format

refactor(badge): ♻️ remove badge prefix from storybook args
  src/badge/stories/BadgeBasic.stories.tsx
Due: yarn format, yarn lint:fix

build(sb): 👷 remove telementry
  .storybook/main.ts
Due: yarn format

refactor(logo): ♻️ rename custom.d.ts to global.d.ts
  global.d.ts
Due: yarn format

refactor(logo): ♻️ include global.d.ts in tsconfig
  tsconfig.json
Due: yarn format

build(sb): 👷 bring back webpack, babel & fix logo
  .prettierignore
  .storybook/adaptui-tailwind.svg
  .storybook/main.ts
  .storybook/storybookTheme.ts
  .vscode/settings.json
  assets/logo.png
  babel.config.js
  global.d.ts
  package.json
  tsconfig.json
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

chore(sb): 🔧 note on config file usage
  adaptui.config.ts
Due: yarn format

build(sb): 👷 bring back webpack, babel & fix logo (#336)
  .prettierignore
  .storybook/adaptui-tailwind.svg
  .storybook/main.ts
  .storybook/storybookTheme.ts
  .vscode/settings.json
  adaptui.config.ts
  assets/logo.png
  babel.config.js
  global.d.ts
  package.json
  tsconfig.json
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

fix(avatar): 🩹 fix calling hooks inside hooks bug
  src/avatar/AvatarProps.tsx
Due: yarn format, yarn lint:fix

fix(avatar): 🩹 fix calling hooks inside hooks bug (#337)
  src/avatar/AvatarProps.tsx
Due: yarn format, yarn lint:fix
