Repository adaptui/react-tailwind: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn format:package, yarn lint:fix

docs(preview): 👷 update next js sb csb example
  .storybook/utils.tsx
Due: yarn format, yarn lint:fix

chore(deps): ➖ remove tsd tests
  package.json
  src/theme/__tests__/theme.test-d.ts
Due: yarn format, yarn format:package

fix(avatar-group): 🐛 run children with runIfFnChildren
  src/avatar-group/AvatarGroupProps.tsx
Due: yarn format, yarn lint:fix

feat(colors): ✨ add design token colors to tailwind
  preset.js
  tailwind-utils/animationDelay.js
  tailwind-utils/animationDuration.js
  tailwind-utils/colors.js
  tailwind-utils/utilities.js
  tailwind-utils/variantPlugin.js
  yarn.lock
Due: yarn format, yarn lint:fix

feat(badge): ✨ finish badge component
  preset.js
  src/badge/Badge.tsx
  src/badge/stories/BadgeBasic.stories.tsx
  src/badge/stories/BadgeStack.component.tsx
  src/badge/stories/BadgeStack.stories.tsx
  src/theme/defaultTheme/badge.ts
Due: yarn format, yarn lint:fix

chore(vscode): 🔧 add branch protection to commit for main
  .vscode/settings.json
Due: yarn format

ci(renovate): 👷 use chore for all renovate pr
  renovate.json
Due: yarn format

fix(react-utils): 🩹 types for passprops for render props
  src/utils/react.ts
Due: yarn format

feat(badge): ✨ finish badge component
  src/badge/Badge.tsx
  src/badge/__tests__/__snapshots__/Badge.test.tsx.snap
  src/badge/stories/BadgeBasic.stories.tsx
  src/badge/stories/BadgePrefixStack.component.tsx
  src/badge/stories/BadgePrefixStack.stories.tsx
  src/badge/stories/BadgeStack.component.tsx
  src/badge/stories/BadgeStack.stories.tsx
Due: yarn format, yarn lint:fix

chore(deps): ⬆️ update dev dependencies (minor)
  package.json
  yarn.lock
Due: yarn format, yarn format:package

chore(deps): ⬆️ update tailwind & its fixes
  LICENSE
  package.json
  preset.d.ts
  preset.js
  tailwind-utils/variants.js
  tailwind.config.js
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

feat(spinner): ✨ finish spinner theming
  preset.js
  src/badge/__tests__/__snapshots__/Badge.test.tsx.snap
  src/box/__tests__/Box.test.tsx
  src/box/__tests__/__snapshots__/Box.test.tsx.snap
  src/box/stories/BoxBasic.stories.tsx
  src/box/stories/BoxStyled.component.tsx
  src/box/stories/BoxStyled.stories.tsx
  src/spinner/Spinner.tsx
  src/spinner/stories/SpinnerBasic.stories.tsx
  src/spinner/stories/SpinnerStack.component.tsx
  src/spinner/stories/SpinnerStack.stories.tsx
  src/theme/defaultTheme/badge.ts
  src/theme/defaultTheme/spinner.ts
Due: yarn format, yarn lint:fix

feat(button): ✨ finish button theming
  preset.js
  src/badge/Badge.tsx
  src/button/Button.tsx
  src/button/ButtonSpinner.tsx
  src/button/__tests__/Button.test.tsx
  src/button/__tests__/__snapshots__/Button.test.tsx.snap
  src/button/stories/ButtonStack.component.tsx
  src/button/stories/ButtonStack.stories.tsx
  src/spinner/Spinner.tsx
  src/theme/defaultTheme/button.ts
Due: yarn format, yarn lint:fix

test(spinner): ✅ add snapshot test
  src/badge/__tests__/__snapshots__/Badge.test.tsx.snap
  src/box/__tests__/__snapshots__/Box.test.tsx.snap
  src/button/__tests__/__snapshots__/Button.test.tsx.snap
  src/spinner/__tests__/Spinner.test.tsx
  src/spinner/__tests__/__snapshots__/Spinner.test.tsx.snap
Due: yarn format, yarn lint:fix

chore(deps): ⬆️ update prod dependencies (minor)
  package.json
  yarn.lock
Due: yarn format, yarn format:package

feat(button): ✨ finish button & around components
  .kodiak.toml
  .vscode/extensions.json
  .vscode/settings.json
  adaptui.config.ts
  package.json
  src/badge/Badge.tsx
  src/badge/stories/BadgeBasic.stories.tsx
  src/badge/stories/BadgePrefixStack.component.tsx
  src/badge/stories/BadgePrefixStack.stories.tsx
  src/badge/stories/BadgeStack.component.tsx
  src/badge/stories/BadgeStack.stories.tsx
  src/box/stories/BoxAs.stories.tsx
  src/box/stories/BoxBasic.stories.tsx
  src/box/stories/BoxStyled.stories.tsx
  src/button/Button.tsx
  src/button/ButtonSpinner.tsx
  src/button/CloseButton.tsx
  src/button/stories/ButtonBasic.stories.tsx
  src/button/stories/ButtonClose.stories.tsx
  src/button/stories/ButtonLoadingA11y.stories.tsx
  src/button/stories/ButtonStack.component.tsx
  src/button/stories/ButtonStack.stories.tsx
  src/theme/defaultTheme/badge.ts
  src/theme/defaultTheme/button.ts
  src/utils/react.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

refactor(src): ♻️ update hooks, types, utils & sb
  .storybook/main.js
  .storybook/preview.jsx
  package.json
  src/create-icon/Icon.tsx
  src/create-icon/__utils.tsx
  src/create-icon/createIcon.tsx
  src/create-icon/index.ts
  src/hooks/index.ts
  src/hooks/useBoolean.ts
  src/hooks/useHover.tsx
  src/hooks/useId.tsx
  src/hooks/useImage.tsx
  src/hooks/useMediaQuery.tsx
  src/hooks/useMergeRefs.ts
  src/hooks/useMounted.ts
  src/hooks/useSafeLayoutEffect.tsx
  src/icons/stories/IconAll.component.tsx
  src/icons/stories/IconAll.stories.tsx
  src/icons/stories/IconBasic.component.tsx
  src/icons/stories/IconBasic.stories.tsx
  src/icons/stories/IconPath.component.tsx
  src/icons/stories/IconPath.stories.tsx
  src/icons/stories/IconReactIcon.component.tsx
  src/icons/stories/IconReactIcon.stories.tsx
  src/index.ts
  src/input/InputProps.tsx
  src/select/SelectProps.tsx
  src/textarea/useAutoSize.ts
  src/utils/assertions.ts
  src/utils/global-types.ts
  src/utils/index.ts
  src/utils/react.ts
  src/utils/types.tsx
  tsconfig.json
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

feat(button-group): ✨ finish button group
  src/button-group/ButtonGroup.tsx
  src/button-group/__tests__/ButtonGroup.test.tsx
  src/button-group/__tests__/__snapshots__/ButtonGroup.test.tsx.snap
  src/button-group/stories/ButtonGroupBasic.stories.tsx
  src/button-group/stories/ButtonGroupCollapsed.component.tsx
  src/button-group/stories/ButtonGroupCollapsed.stories.tsx
  src/button/Button.tsx
  src/theme/defaultTheme/button.ts
  src/theme/defaultTheme/buttonGroup.ts
Due: yarn format, yarn lint:fix

feat(divider): ✨ finish divider component
  src/divider/Divider.tsx
  src/divider/__tests__/Divider.test.tsx
  src/divider/stories/DividerBasic.stories.tsx
  src/divider/stories/DividerVertical.component.tsx
  src/divider/stories/DividerVertical.stories.tsx
  src/theme/defaultTheme/divider.ts
Due: yarn format, yarn lint:fix

feat(tag): ✨ finish tag component
  src/tag/Tag.tsx
  src/tag/stories/TagBasic.stories.tsx
  src/tag/stories/TagStack.component.tsx
  src/tag/stories/TagStack.stories.tsx
  src/theme/defaultTheme/tag.ts
Due: yarn format, yarn lint:fix

feat(avatars): ✨ finish avatars component
  src/avatar-group/AvatarGroupUIState.tsx
  src/avatar-group/AvatarGroupWrapper.tsx
  src/avatar-group/__tests__/__snapshots__/AvatarGroup.test.tsx.snap
  src/avatar-group/stories/AvatarGroupBasic.component.tsx
  src/avatar-group/stories/AvatarGroupBasic.stories.tsx
  src/avatar-group/stories/AvatarGroupIcon.stories.tsx
  src/avatar-group/stories/AvatarGroupName.stories.tsx
  src/avatar-group/stories/AvatarGroupStack.stories.tsx
  src/avatar/Avatar.tsx
  src/avatar/AvatarDefaultStatusIndicators.tsx
  src/avatar/AvatarIcon.tsx
  src/avatar/AvatarImage.tsx
  src/avatar/AvatarInitials.tsx
  src/avatar/AvatarStatusIndicator.tsx
  src/avatar/AvatarUIState.tsx
  src/avatar/AvatarWrapper.tsx
  src/avatar/__tests__/__snapshots__/Avatar.test.tsx.snap
  src/avatar/stories/AvatarBasic.stories.tsx
  src/avatar/stories/AvatarStack.stories.tsx
  src/divider/__tests__/__snapshots__/Divider.test.tsx.snap
  src/theme/defaultTheme/avatar.ts
Due: yarn format, yarn lint:fix

chore(deps): ⬆️ update dev deps
  package.json
  yarn.lock
Due: yarn format, yarn format:package

refactor(primitives): 💄 remove py from badge button & tag
  src/theme/defaultTheme/badge.ts
  src/theme/defaultTheme/button.ts
  src/theme/defaultTheme/tag.ts
Due: yarn format

Path conditions:
  yarn format: any of: **/*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}
  yarn format:package: any of: package.json
  yarn lint:fix: any of: **/*.{js,jsx,tx,tsx}
