Repository adaptui/react-tailwind: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn format:package, yarn lint:fix

chore(deps): pin dependency storybook-addon-react-docgen to 1.2.42
  package.json
  yarn.lock
Due: yarn format, yarn format:package

chore(sb): 🔧 update sb hmr issue
  .storybook/main.js
  .storybook/preview.jsx
  package.json
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

feat(progress): ✨ finish progress
  .storybook/main.js
  .storybook/manager-head.html
  package.json
  src/progress/ProgressBar.tsx
  src/progress/ProgressHint.tsx
  src/progress/ProgressLabel.tsx
  src/progress/ProgressTrack.tsx
  src/progress/ProgressUIState.tsx
  src/progress/ProgressWrapper.tsx
  src/progress/stories/ProgressBasic.component.tsx
  src/progress/stories/ProgressBasic.stories.tsx
  src/progress/stories/ProgressCustom.component.tsx
  src/progress/stories/ProgressCustom.stories.tsx
  src/progress/stories/ProgressHint.component.tsx
  src/progress/stories/ProgressHint.stories.tsx
  src/progress/stories/ProgressLabel.component.tsx
  src/progress/stories/ProgressLabel.stories.tsx
  src/show-more/ShowMoreButton.tsx
  src/show-more/stories/ShowMoreHorizontal.stories.tsx
  src/show-more/stories/ShowMoreVertical.stories.tsx
  src/theme/defaultTheme/progress.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

feat(circular-progress): ✨ finish circular progress comp
  src/circular-progress/CircularProgressBar.tsx
  src/circular-progress/CircularProgressBarWrapper.tsx
  src/circular-progress/CircularProgressHint.ts
  src/circular-progress/CircularProgressProps.tsx
  src/circular-progress/CircularProgressTrack.tsx
  src/circular-progress/CircularProgressUIState.tsx
  src/circular-progress/CircularProgressWrapper.tsx
  src/circular-progress/stories/CircularProgressBasic.component.tsx
  src/circular-progress/stories/CircularProgressBasic.stories.tsx
  src/circular-progress/stories/CircularProgressHint.component.tsx
  src/circular-progress/stories/CircularProgressHint.stories.tsx
  src/progress/ProgressProps.ts
  src/progress/ProgressUIState.tsx
  src/progress/stories/ProgressBasic.stories.tsx
  src/theme/defaultTheme/circularProgress.ts
Due: yarn format, yarn lint:fix

feat(meter): ✨ finish meter component
  src/circular-progress/stories/CircularProgressBasic.component.tsx
  src/circular-progress/stories/CircularProgressBasic.stories.tsx
  src/meter/MeterBar.tsx
  src/meter/MeterBarWrapper.tsx
  src/meter/MeterHint.tsx
  src/meter/MeterLabel.tsx
  src/meter/MeterProps.ts
  src/meter/MeterTrack.tsx
  src/meter/MeterUIState.ts
  src/meter/MeterWrapper.tsx
  src/meter/stories/MeterBasic.component.tsx
  src/meter/stories/MeterBasic.stories.tsx
  src/meter/stories/MeterCustom.component.tsx
  src/meter/stories/MeterCustom.stories.tsx
  src/meter/stories/MeterHint.component.tsx
  src/meter/stories/MeterHint.stories.tsx
  src/meter/stories/MeterInterval.stories.tsx
  src/meter/stories/MeterLabel.component.tsx
  src/meter/stories/MeterLabel.stories.tsx
  src/progress/stories/ProgressBasic.component.tsx
  src/progress/stories/ProgressBasic.stories.tsx
  src/theme/defaultTheme/meter.ts
  src/theme/defaultTheme/progress.ts
Due: yarn format, yarn lint:fix

test(primitives): 📸 update snapshots
  src/badge/__tests__/__snapshots__/Badge.test.tsx.snap
  src/button-group/__tests__/__snapshots__/ButtonGroup.test.tsx.snap
  src/button/__tests__/__snapshots__/Button.test.tsx.snap
Due: none

feat(checkbox-group): ✨ finish theming & stories
  src/checkbox-group/CheckboxShowMore.tsx
  src/checkbox-group/stories/CheckboxGroupBasic.stories.tsx
  src/checkbox-group/stories/CheckboxGroupControlled.stories.tsx
  src/checkbox-group/stories/CheckboxGroupStack.component.tsx
  src/checkbox-group/stories/CheckboxGroupStack.stories.tsx
  src/checkbox-group/stories/CheckboxGroupTriBoolState.component.tsx
  src/checkbox-group/stories/CheckboxGroupTriBoolState.stories.tsx
  src/checkbox-group/stories/CheckboxGroupTriStringState.stories.tsx
  src/checkbox/CheckboxDescription.tsx
  src/checkbox/CheckboxIcon.tsx
  src/checkbox/CheckboxLabel.tsx
  src/checkbox/CheckboxProps.tsx
  src/checkbox/stories/CheckboxBasic.stories.tsx
  src/checkbox/stories/CheckboxCustomAdvanced.component.tsx
  src/checkbox/stories/CheckboxCustomAdvanced.stories.tsx
  src/checkbox/stories/CheckboxCustomMedium.stories.tsx
  src/checkbox/stories/CheckboxCustomSimple.stories.tsx
  src/checkbox/stories/CheckboxStack.component.tsx
  src/checkbox/stories/CheckboxStack.stories.tsx
  src/radio-group/stories/RadioGroupDescription.stories.tsx
  src/theme/defaultTheme/checkbox.ts
  yarn.lock
Due: yarn format, yarn lint:fix

feat(radio): ✨ finish theming & stories along with its group
  src/checkbox-group/CheckboxGroupWrapper.tsx
  src/checkbox-group/stories/CheckboxGroupBasic.stories.tsx
  src/checkbox/stories/CheckboxBasic.stories.tsx
  src/checkbox/stories/CheckboxStack.stories.tsx
  src/radio-group/RadioGroup.tsx
  src/radio-group/RadioGroupProps.tsx
  src/radio-group/RadioGroupUIState.tsx
  src/radio-group/RadioGroupWrapper.tsx
  src/radio-group/RadioShowMore.tsx
  src/radio-group/stories/RadioGroupBasic.component.tsx
  src/radio-group/stories/RadioGroupBasic.stories.tsx
  src/radio-group/stories/RadioGroupControlled.stories.tsx
  src/radio-group/stories/RadioGroupDescription.component.tsx
  src/radio-group/stories/RadioGroupDescription.stories.tsx
  src/radio-group/stories/RadioGroupDisabled.stories.tsx
  src/radio/Radio.tsx
  src/radio/RadioDescription.tsx
  src/radio/RadioIcon.tsx
  src/radio/RadioLabel.tsx
  src/radio/RadioProps.tsx
  src/radio/RadioText.tsx
  src/radio/RadioUIState.tsx
  src/radio/stories/RadioBasic.stories.tsx
  src/radio/stories/RadioStack.component.tsx
  src/radio/stories/RadioStack.stories.tsx
  src/theme/defaultTheme/checkbox.ts
  src/theme/defaultTheme/radio.ts
Due: yarn format, yarn lint:fix

feat(tooltip): ✨ finish component & stories
  preset.js
  src/checkbox/stories/CheckboxStack.stories.tsx
  src/radio/Radio.tsx
  src/switch/Switch.tsx
  src/switch/SwitchDescription.tsx
  src/switch/SwitchIcon.tsx
  src/switch/SwitchLabel.tsx
  src/switch/SwitchProps.tsx
  src/switch/SwitchText.tsx
  src/switch/SwitchUIState.tsx
  src/switch/__tests__/__snapshots__/Switch.test.tsx.snap
  src/switch/__utils.tsx
  src/switch/stories/SwitchBasic.stories.tsx
  src/switch/stories/SwitchControlled.stories.tsx
  src/switch/stories/SwitchStack.component.tsx
  src/switch/stories/SwitchStack.stories.tsx
  src/theme/defaultTheme/checkbox.ts
  src/theme/defaultTheme/index.ts
  src/theme/defaultTheme/switch.ts
  src/theme/defaultTheme/toast.ts
  src/theme/defaultTheme/tooltip.ts
  src/tooltip/stories/TooltipBasic.stories.tsx
Due: yarn format, yarn lint:fix

feat(slider): ✨ finish component & stories
  package.json
  preset.js
  src/slider/SliderFilledTrack.tsx
  src/slider/SliderProps.tsx
  src/slider/SliderThumb.tsx
  src/slider/SliderThumbContainer.tsx
  src/slider/SliderThumbInput.tsx
  src/slider/SliderThumbProps.tsx
  src/slider/SliderThumbUIState.tsx
  src/slider/SliderThumbWrapper.tsx
  src/slider/SliderTrack.tsx
  src/slider/SliderTrackWrapper.tsx
  src/slider/SliderUIState.tsx
  src/slider/SliderWrapper.tsx
  src/slider/__utils.tsx
  src/slider/stories/SliderBasic.stories.tsx
  src/slider/stories/SliderRange.stories.tsx
  src/theme/defaultTheme/slider.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

feat(input): ✨ add input theme
  src/input/InputPrefix.tsx
  src/theme/defaultTheme/input.ts
Due: yarn format, yarn lint:fix

feat(select): ✨ finish component
  preset.js
  src/circular-progress/CircularProgressBar.tsx
  src/circular-progress/CircularProgressTrack.tsx
  src/circular-progress/stories/CircularProgressBasic.stories.tsx
  src/input/InputBase.tsx
  src/input/InputPrefix.tsx
  src/input/InputSuffix.tsx
  src/input/InputUIState.tsx
  src/select/SelectBase.tsx
  src/select/SelectPrefix.tsx
  src/select/SelectSuffix.tsx
  src/select/SelectUIState.tsx
  src/select/SelectWrapper.tsx
  src/theme/defaultTheme/input.ts
  src/theme/defaultTheme/select.ts
Due: yarn format, yarn lint:fix

feat(input): ✨ update stories
  src/input/InputBase.tsx
  src/input/InputPrefix.tsx
  src/input/InputSuffix.tsx
  src/input/stories/InputBasic.stories.tsx
  src/input/stories/InputStack.stories.tsx
  src/select/SelectBase.tsx
  src/select/SelectPrefix.tsx
  src/select/SelectSuffix.tsx
  src/select/stories/SelectBasic.stories.tsx
  src/select/stories/SelectStack.stories.tsx
  src/theme/defaultTheme/select.ts
Due: yarn format, yarn lint:fix

feat(textarea): ✨ finish theming & stories
  src/textarea/Textarea.tsx
  src/textarea/TextareaBase.tsx
  src/textarea/TextareaGhost.tsx
  src/textarea/TextareaIcon.tsx
  src/textarea/TextareaProps.tsx
  src/textarea/TextareaUIState.tsx
  src/textarea/__utils.tsx
  src/textarea/stories/TextareaBasic.stories.tsx
  src/textarea/stories/TextareaStack.stories.tsx
  src/theme/defaultTheme/textarea.ts
Due: yarn format, yarn lint:fix

feat(textarea): ✨ finish theming & stories (#319)
  src/textarea/Textarea.tsx
  src/textarea/TextareaBase.tsx
  src/textarea/TextareaGhost.tsx
  src/textarea/TextareaIcon.tsx
  src/textarea/TextareaProps.tsx
  src/textarea/TextareaUIState.tsx
  src/textarea/__utils.tsx
  src/textarea/stories/TextareaBasic.stories.tsx
  src/textarea/stories/TextareaStack.stories.tsx
  src/theme/defaultTheme/textarea.ts
Due: yarn format, yarn lint:fix

refactor(input): ♻️ add optional chain & memoize
  src/input/InputBase.tsx
  src/input/InputPrefix.tsx
  src/input/InputProps.tsx
  src/input/InputSuffix.tsx
Due: yarn format, yarn lint:fix

refactor(select): ♻️ add optional chain & memoize
  src/select/SelectBase.tsx
  src/select/SelectPrefix.tsx
  src/select/SelectProps.tsx
Due: yarn format, yarn lint:fix

refactor(textarea): ♻️ update spinner & memoize
  src/textarea/Textarea.tsx
  src/textarea/TextareaIcon.tsx
  src/textarea/TextareaProps.tsx
  src/textarea/TextareaSpinner.tsx
  src/textarea/TextareaUIState.tsx
  src/textarea/__utils.tsx
  src/theme/defaultTheme/textarea.ts
Due: yarn format, yarn lint:fix

refactor(spinner): ♻️ add current theme for track visible
  src/theme/defaultTheme/spinner.ts
Due: yarn format

refactor(checkbox): ♻️ separate checkbox group & improve showmore logic
  src/checkbox-group/CheckboxGroup.tsx
  src/checkbox-group/CheckboxGroupProps.tsx
  src/checkbox-group/CheckboxGroupWrapper.tsx
  src/checkbox-group/CheckboxShowMore.tsx
  src/checkbox/Checkbox.tsx
  src/checkbox/CheckboxDescription.tsx
  src/checkbox/CheckboxIcon.tsx
  src/checkbox/CheckboxLabel.tsx
  src/checkbox/CheckboxProps.tsx
  src/checkbox/CheckboxTextWrapper.tsx
  src/theme/defaultTheme/checkbox.ts
  src/theme/defaultTheme/checkboxGroup.ts
  src/theme/defaultTheme/index.ts
  src/theme/defaultTheme/spinner.ts
Due: yarn format, yarn lint:fix

refactor(radio): ✨ add optional chain, memo & separate group
  src/checkbox-group/CheckboxGroupProps.tsx
  src/checkbox/Checkbox.tsx
  src/radio-group/RadioGroup.tsx
  src/radio-group/RadioGroupProps.tsx
  src/radio-group/RadioGroupWrapper.tsx
  src/radio-group/RadioShowMore.tsx
  src/radio/Radio.tsx
  src/radio/RadioDescription.tsx
  src/radio/RadioIcon.tsx
  src/radio/RadioLabel.tsx
  src/radio/RadioProps.tsx
  src/radio/RadioText.tsx
  src/radio/RadioTextWrapper.tsx
  src/theme/defaultTheme/index.ts
  src/theme/defaultTheme/radio.ts
  src/theme/defaultTheme/radioGroup.ts
Due: yarn format, yarn lint:fix

refactor(textarea): ♻️ add memoize & fix theme
  src/textarea/TextareaProps.tsx
  src/theme/defaultTheme/textarea.ts
Due: yarn format, yarn lint:fix

refactor(radio): ♻️ remove themeColor getting passed to dom
  src/radio/RadioInput.tsx
Due: yarn format, yarn lint:fix

feat(radio): ✨ make the selected radio in group always visible
  src/radio-group/RadioGroupProps.tsx
  src/radio-group/RadioShowMore.tsx
  src/radio-group/__utils.ts
  src/radio-group/stories/RadioGroupBasic.stories.tsx
Due: yarn format, yarn lint:fix

Path conditions:
  yarn format: any of: **/*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}
  yarn format:package: any of: package.json
  yarn lint:fix: any of: **/*.{js,jsx,tx,tsx}
