Repository adaptui/react-tailwind: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn format:package, yarn lint:fix

.lintstagedrc.json:

{
  "**/*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}": [
    "yarn format",
    "git add"
  ],
  "package.json": ["yarn format:package"],
  "**/*.{js,jsx,tx,tsx}": ["yarn lint:fix"]
}

docs(preview): 📝 start base for adding csb preview
  .eslintignore
  .gitignore
  .prettierignore
  .storybook/main.js
  package.json
  scripts/create-previews.js
  scripts/utils/common-utils.js
  scripts/utils/transpile-ts.js
  src/box/stories/BoxBasic.component.tsx
  src/box/stories/BoxBasic.stories.tsx
  src/index.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

chore(deps): ⬆️ update dev dependencies (minor)
  package.json
  yarn.lock
Due: yarn format, yarn format:package

feat(csb): ✨ add script to generate next js project
  package.json
  scripts/create-previews.js
  scripts/generateCsb.js
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

feat(tw-merge): ✨ add tw-merge locally to test next build
  package.json
  src/checkbox/__keys.ts
  src/utils/index.tsx
  src/utils/tailwind-merge/class-utils.ts
  src/utils/tailwind-merge/config-utils.ts
  src/utils/tailwind-merge/config-validators.ts
  src/utils/tailwind-merge/default-config.ts
  src/utils/tailwind-merge/index.ts
  src/utils/tailwind-merge/lru-cache.ts
  src/utils/tailwind-merge/merge-classlist.ts
  src/utils/tailwind-merge/prefix-utils.ts
  src/utils/tailwind-merge/tailwind-merge.ts
  src/utils/tailwind-merge/types.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

feat(tw-merge): ✨ add tw-merge locally to test next build (#167)
  package.json
  src/checkbox/__keys.ts
  src/utils/index.tsx
  src/utils/tailwind-merge/class-utils.ts
  src/utils/tailwind-merge/config-utils.ts
  src/utils/tailwind-merge/config-validators.ts
  src/utils/tailwind-merge/default-config.ts
  src/utils/tailwind-merge/index.ts
  src/utils/tailwind-merge/lru-cache.ts
  src/utils/tailwind-merge/merge-classlist.ts
  src/utils/tailwind-merge/prefix-utils.ts
  src/utils/tailwind-merge/tailwind-merge.ts
  src/utils/tailwind-merge/types.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

🚀 Release v0.0.1-alpha.17
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

🚀 Release v0.0.1-alpha.18
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

docs(csb): 📝 add previews for box, button, icons & badge
  .storybook/utils.tsx
  package.json
  patches/storybook-addon-preview+2.1.2.patch
  preset.js
  scripts/create-previews.js
  src/badge/stories/BadgeBasic.component.tsx
  src/badge/stories/BadgeBasic.stories.tsx
  src/box/stories/BoxAs.component.tsx
  src/box/stories/BoxAs.stories.tsx
  src/box/stories/BoxBasic.component.tsx
  src/box/stories/BoxStyled.component.tsx
  src/box/stories/BoxStyled.stories.tsx
  src/button/stories/Button.stories.tsx
  src/button/stories/ButtonBasic.component.tsx
  src/button/stories/ButtonBasic.stories.tsx
  src/button/stories/ButtonClose.component.tsx
  src/button/stories/ButtonClose.stories.tsx
  src/button/stories/ButtonLoadingA11y.component.tsx
  src/button/stories/ButtonLoadingA11y.stories.tsx
  src/button/stories/ButtonStack.component.tsx
  src/button/stories/ButtonStack.stories.tsx
  src/icon/stories/Icon.stories.tsx
  src/icons/Bolt.tsx
  src/icons/RadioIcons.tsx
  src/icons/Search.tsx
  src/icons/Wheel.tsx
  src/icons/index.ts
  src/utils/index.tsx
  tailwind.config.js
Due: yarn format, yarn format:package, yarn lint:fix

build(script): 💚 change storybook build script in vercel
  package.json
Due: yarn format, yarn format:package

docs(preview): 📝 start base for adding csb preview (#166)
  .eslintignore
  .gitignore
  .prettierignore
  .storybook/main.js
  .storybook/utils.tsx
  package.json
  patches/storybook-addon-preview+2.1.2.patch
  preset.js
  scripts/create-previews.js
  scripts/generateCsb.js
  scripts/utils/common-utils.js
  scripts/utils/transpile-ts.js
  src/badge/stories/BadgeBasic.component.tsx
  src/badge/stories/BadgeBasic.stories.tsx
  src/box/stories/Box.stories.tsx
  src/box/stories/BoxAs.component.tsx
  src/box/stories/BoxAs.stories.tsx
  src/box/stories/BoxBasic.component.tsx
  src/box/stories/BoxBasic.stories.tsx
  src/box/stories/BoxStyled.component.tsx
  src/box/stories/BoxStyled.stories.tsx
  src/button/stories/Button.stories.tsx
  src/button/stories/ButtonBasic.component.tsx
  src/button/stories/ButtonBasic.stories.tsx
  src/button/stories/ButtonClose.component.tsx
  src/button/stories/ButtonClose.stories.tsx
  src/button/stories/ButtonLoadingA11y.component.tsx
  src/button/stories/ButtonLoadingA11y.stories.tsx
  src/button/stories/ButtonStack.component.tsx
  src/button/stories/ButtonStack.stories.tsx
  src/icon/stories/Icon.stories.tsx
  src/icons/Bolt.tsx
  src/icons/RadioIcons.tsx
  src/icons/Search.tsx
  src/icons/Wheel.tsx
  src/icons/index.ts
  src/index.ts
  src/utils/index.tsx
  tailwind.config.js
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

chore(deps): pin dependencies
  package.json
  yarn.lock
Due: yarn format, yarn format:package

chore(renovate): 🩹 ignore node-fetch from auto upgrade
  renovate.json
Due: yarn format

ci(lint): 👷 add linting to the build scripts
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: yarn format

ci(actions): ⚗️ add pr comment actions command
  .github/workflows/bundle-size.yml
  .github/workflows/deploy.yml
  .github/workflows/slash-command-dispatch.yml
Due: yarn format

ci(actions): ⚗️ update command type
  .github/workflows/bundle-size.yml
  .github/workflows/deploy.yml
Due: yarn format

ci(actions): ⚗️ check github pr context
  .github/workflows/bundle-size.yml
Due: yarn format

ci(actions): ⚗️ update actions context with pr payload
  .github/workflows/build.yml
  .github/workflows/bundle-size.yml
  .github/workflows/test.yml
Due: yarn format

ci(acitons): ⚗️ update bundle-size actions
  .github/workflows/bundle-size.yml
Due: yarn format

ci(actions): ⚗️ update payload to be github
  .github/workflows/bundle-size.yml
Due: yarn format

ci(actions): ⚗️ add original size limit actions
  .github/workflows/bundle-size-real.yml
Due: yarn format

chore(actions): 👷 add lint action
  .github/workflows/bundle-size-real.yml
  .github/workflows/bundle-size.yml
  .github/workflows/lint.yml
  .github/workflows/slash-command-dispatch.yml
  .size-limit.js
  package.json
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

chore(eslint): 🙈 ignore eslint import plugin upgrade for sometime
  renovate.json
Due: yarn format

chore(deps): ⬆️ update size-limit version
  package.json
Due: yarn format, yarn format:package

chore(yarn): 👽️ update lock file for deps change
  yarn.lock
Due: none

docs(checkbox): 📝 add story component for csb
  src/checkbox/stories/Checkbox.stories.tsx
  src/checkbox/stories/CheckboxBasic.component.tsx
  src/checkbox/stories/CheckboxBasic.stories.tsx
  src/checkbox/stories/CheckboxControlled.component.tsx
  src/checkbox/stories/CheckboxControlled.stories.tsx
  src/checkbox/stories/CheckboxCustomAdvanced.component.tsx
  src/checkbox/stories/CheckboxCustomAdvanced.stories.tsx
  src/checkbox/stories/CheckboxCustomMedium.component.tsx
  src/checkbox/stories/CheckboxCustomMedium.stories.tsx
  src/checkbox/stories/CheckboxCustomSimple.component.tsx
  src/checkbox/stories/CheckboxCustomSimple.stories.tsx
  src/checkbox/stories/CheckboxGroup.component.tsx
  src/checkbox/stories/CheckboxGroup.stories.tsx
  src/checkbox/stories/CheckboxStack.component.tsx
  src/checkbox/stories/CheckboxStack.stories.tsx
  src/checkbox/stories/CheckboxTriBoolState.component.tsx
  src/checkbox/stories/CheckboxTriBoolState.stories.tsx
  src/checkbox/stories/CheckboxTriStringState.component.tsx
  src/checkbox/stories/CheckboxTriStringState.stories.tsx
Due: yarn format, yarn lint:fix

docs(checkbox): 📝 add story component for csb (#171)
  src/checkbox/stories/Checkbox.stories.tsx
  src/checkbox/stories/CheckboxBasic.component.tsx
  src/checkbox/stories/CheckboxBasic.stories.tsx
  src/checkbox/stories/CheckboxControlled.component.tsx
  src/checkbox/stories/CheckboxControlled.stories.tsx
  src/checkbox/stories/CheckboxCustomAdvanced.component.tsx
  src/checkbox/stories/CheckboxCustomAdvanced.stories.tsx
  src/checkbox/stories/CheckboxCustomMedium.component.tsx
  src/checkbox/stories/CheckboxCustomMedium.stories.tsx
  src/checkbox/stories/CheckboxCustomSimple.component.tsx
  src/checkbox/stories/CheckboxCustomSimple.stories.tsx
  src/checkbox/stories/CheckboxGroup.component.tsx
  src/checkbox/stories/CheckboxGroup.stories.tsx
  src/checkbox/stories/CheckboxStack.component.tsx
  src/checkbox/stories/CheckboxStack.stories.tsx
  src/checkbox/stories/CheckboxTriBoolState.component.tsx
  src/checkbox/stories/CheckboxTriBoolState.stories.tsx
  src/checkbox/stories/CheckboxTriStringState.component.tsx
  src/checkbox/stories/CheckboxTriStringState.stories.tsx
Due: yarn format, yarn lint:fix

docs(radio): 📝 add story components for csb
  src/checkbox/stories/CheckboxGroup.stories.tsx
  src/radio/stories/Radio.stories.tsx
  src/radio/stories/RadioBasic.component.tsx
  src/radio/stories/RadioBasic.stories.tsx
  src/radio/stories/RadioComponent.tsx
  src/radio/stories/RadioControlled.component.tsx
  src/radio/stories/RadioControlled.stories.tsx
  src/radio/stories/RadioDescription.component.tsx
  src/radio/stories/RadioDescription.stories.tsx
  src/radio/stories/RadioDisabled.component.tsx
  src/radio/stories/RadioDisabled.stories.tsx
Due: yarn format, yarn lint:fix

docs(radio): 📝 add story components for csb (#175)
  src/checkbox/stories/CheckboxGroup.stories.tsx
  src/radio/stories/Radio.stories.tsx
  src/radio/stories/RadioBasic.component.tsx
  src/radio/stories/RadioBasic.stories.tsx
  src/radio/stories/RadioComponent.tsx
  src/radio/stories/RadioControlled.component.tsx
  src/radio/stories/RadioControlled.stories.tsx
  src/radio/stories/RadioDescription.component.tsx
  src/radio/stories/RadioDescription.stories.tsx
  src/radio/stories/RadioDisabled.component.tsx
  src/radio/stories/RadioDisabled.stories.tsx
Due: yarn format, yarn lint:fix

build(checkbox): 💚 template path in stories
  src/checkbox/stories/CheckboxGroupBasic.stories.tsx
Due: yarn format, yarn lint:fix

feat(switch): ✨ add switch component
  src/checkbox/CheckboxState.tsx
  src/checkbox/stories/CheckboxBasic.stories.tsx
  src/checkbox/stories/CheckboxStack.component.tsx
  src/switch/Switch.tsx
  src/switch/SwitchDescription.tsx
  src/switch/SwitchIcon.tsx
  src/switch/SwitchInput.tsx
  src/switch/SwitchLabel.tsx
  src/switch/SwitchState.tsx
  src/switch/SwitchText.tsx
  src/switch/__keys.ts
  src/switch/__tests__/Switch.test.tsx
  src/switch/index.ts
  src/switch/stories/Switch.stories.tsx
  src/switch/stories/SwitchBasic.component.tsx
  src/switch/stories/SwitchBasic.stories.tsx
  src/switch/stories/SwitchStack.component.tsx
  src/switch/stories/SwitchStack.stories.tsx
  src/theme/defaultTheme/switch.ts
Due: yarn format, yarn lint:fix

test(switch): ✅ fix failing test case
  src/switch/__tests__/Switch.test.tsx
  src/switch/__tests__/__snapshots__/Switch.test.tsx.snap
Due: yarn format, yarn lint:fix

feat(switch): ✨ finish switch
  src/badge/Badge.tsx
  src/button/Button.tsx
  src/button/ButtonSpinner.tsx
  src/checkbox/CheckboxDescription.tsx
  src/checkbox/CheckboxIcon.tsx
  src/checkbox/CheckboxLabel.tsx
  src/checkbox/CheckboxShowMore.tsx
  src/checkbox/CheckboxText.tsx
  src/checkbox/RenderlesskitCheckboxGroup.tsx
  src/create-icon/Icon.tsx
  src/radio/RadioDescription.tsx
  src/radio/RadioIcon.tsx
  src/radio/RadioLabel.tsx
  src/radio/RadioShowMore.tsx
  src/radio/RadioText.tsx
  src/radio/RenderlesskitRadioGroup.tsx
  src/spinner/Spinner.tsx
  src/switch/Switch.tsx
  src/switch/SwitchDescription.tsx
  src/switch/SwitchIcon.tsx
  src/switch/SwitchLabel.tsx
  src/switch/SwitchState.tsx
  src/switch/SwitchText.tsx
  src/switch/__tests__/Switch.test.tsx
  src/switch/__tests__/__snapshots__/Switch.test.tsx.snap
  src/switch/stories/SwitchBasic.stories.tsx
  src/switch/stories/SwitchStack.component.tsx
  src/switch/stories/SwitchStack.stories.tsx
  src/theme/defaultTheme/checkbox.ts
  src/theme/defaultTheme/radio.ts
  src/theme/defaultTheme/switch.ts
  src/utils/index.tsx
  tailwindPlugins/utilities.js
Due: yarn format, yarn lint:fix

fix(switch): 🏷️ fix radio size type
  src/switch/__tests__/__snapshots__/Switch.test.tsx.snap
  src/theme/theme.test-d.ts
Due: yarn format

chore(deps): ⬆️ upgrade sb with webpack 5
  .storybook/main.js
  package.json
  src/checkbox/CheckboxState.tsx
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix
