Repository adaptui/react-tailwind: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn format:package, yarn lint:fix

.lintstagedrc.json:

{
  "**/*.{js,ts,css,less,json,md,html,yml,yaml,pcss,jsx,tsx}": [
    "yarn format",
    "git add"
  ],
  "package.json": ["yarn format:package"],
  "**/*.{js,jsx,tx,tsx}": ["yarn lint:fix"]
}

refactor(types): 🏷️ update types to match button types
  src/theme/theme.test-d.ts
Due: yarn format

build(release-it): 👷 add signing the release commit
  .release-it.json
Due: yarn format

build(release-it): 👷 add strict release configs
  .release-it.json
Due: yarn format

build(storybook): 💚 fix site from loading in CI
  babel.config.js
  package.json
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

🚀 Release v0.0.1-alpha.15
  CHANGELOG.md
  package.json
Due: yarn format, yarn format:package

build(release-it): 💚 remove snapshot update in test
  .release-it.json
Due: yarn format

chore(branch): 🔧 change master to main
  .github/workflows/test.yml
Due: yarn format

chore(deps): ⬆️ update dev deps
  package-lock.json
  package.json
  yarn.lock
Due: yarn format, yarn format:package

feat(checkbox): ✨ update checkbox with icon styles
  src/checkboxNew/Checkbox.tsx
  src/checkboxNew/CheckboxIcon.tsx
  src/checkboxNew/CheckboxInput.tsx
  src/checkboxNew/stories/Checkbox.stories.tsx
  src/icons/Check.tsx
  src/icons/Indeterminate.tsx
  src/theme/defaultTheme/checkboxNew.ts
Due: yarn format, yarn lint:fix

docs(checkbox): 📝 add checkbox controlled story
  src/checkboxNew/Checkbox.tsx
  src/checkboxNew/stories/Checkbox.stories.tsx
Due: yarn format, yarn lint:fix

docs(checkbox): 📝 update story table for state
  src/checkboxNew/Checkbox.tsx
  src/checkboxNew/stories/Checkbox.stories.tsx
Due: yarn format, yarn lint:fix

feat(checkbox): ✨ add checkbox label
  package.json
  src/checkboxNew/Checkbox.tsx
  src/checkboxNew/CheckboxIcon.tsx
  src/checkboxNew/CheckboxInput.tsx
  src/checkboxNew/CheckboxLabel.tsx
  src/theme/defaultTheme/checkboxNew.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

feat(checkbox): ✨ add text & description
  preset.js
  src/button/stories/Button.stories.tsx
  src/checkboxNew/Checkbox.tsx
  src/checkboxNew/CheckboxDescription.tsx
  src/checkboxNew/CheckboxIcon.tsx
  src/checkboxNew/CheckboxInput.tsx
  src/checkboxNew/CheckboxText.tsx
  src/checkboxNew/stories/Checkbox.stories.tsx
  src/theme/defaultTheme/checkboxNew.ts
Due: yarn format, yarn lint:fix

docs(checkbox): ✨ add more stories and fix grouping bug
  src/checkboxNew/Checkbox.tsx
  src/checkboxNew/CheckboxIcon.tsx
  src/checkboxNew/stories/Checkbox.stories.tsx
Due: yarn format, yarn lint:fix

refactor(checkbox): ♻️ reakit styled composition
  package.json
  scripts/generateKeys.js
  src/CheckboxTw/CheckboxDescription.tsx
  src/CheckboxTw/CheckboxIcon.tsx
  src/CheckboxTw/CheckboxInput.tsx
  src/CheckboxTw/CheckboxLabel.tsx
  src/CheckboxTw/CheckboxState.ts
  src/CheckboxTw/CheckboxText.tsx
  src/CheckboxTw/__keys.ts
  src/CheckboxTw/index.ts
  src/box/Box.tsx
  src/box/__keys.ts
  src/checkboxNew/index.ts
  src/checkboxReakit/Checkbox.tsx
  src/checkboxReakit/CheckboxState.ts
  src/checkboxReakit/__keys.ts
  src/checkboxReakit/helpers.tsx
  src/checkboxReakit/index.ts
  src/radio/__keys.ts
  src/utils/testUtils.tsx
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

feat(checkbox): ✨ use reakit for custom checkbox
  scripts/generateKeys.js
  src/CheckboxTw/CheckboxDescription.tsx
  src/CheckboxTw/CheckboxIcon.tsx
  src/CheckboxTw/CheckboxInput.tsx
  src/CheckboxTw/CheckboxLabel.tsx
  src/CheckboxTw/CheckboxState.ts
  src/CheckboxTw/CheckboxText.tsx
  src/CheckboxTw/index.ts
  src/checkboxNew/Checkbox.tsx
  src/checkboxNew/CheckboxDescription.tsx
  src/checkboxNew/CheckboxIcon.tsx
  src/checkboxNew/CheckboxInput.tsx
  src/checkboxNew/CheckboxLabel.tsx
  src/checkboxNew/CheckboxState.ts
  src/checkboxNew/CheckboxText.tsx
  src/checkboxNew/__keys.ts
  src/checkboxNew/index.ts
  src/checkboxNew/stories/Checkbox.stories.tsx
  src/checkboxReakit/Checkbox.tsx
  src/checkboxReakit/CheckboxState.ts
  src/checkboxReakit/__keys.ts
  src/radio/__keys.ts
Due: yarn format, yarn lint:fix

refactor(checkbox): ♻️ properly move props from state
  src/checkboxNew/CheckboxState.ts
Due: yarn format

docs(checkbox): 📝 add more custom stories
  src/checkboxNew/Checkbox.tsx
  src/checkboxNew/CheckboxDescription.tsx
  src/checkboxNew/CheckboxState.ts
  src/checkboxNew/CheckboxText.tsx
  src/checkboxNew/index.ts
  src/checkboxNew/stories/Checkbox.stories.tsx
  src/theme/defaultTheme/checkboxNew.ts
Due: yarn format, yarn lint:fix

refactor(checkbox): ♻️ add useCheckboxProps & left context exp
  src/checkboxNew/Checkbox.tsx
  src/checkboxNew/CheckboxState.ts
  src/checkboxNew/stories/Checkbox.stories.tsx
Due: yarn format, yarn lint:fix

feat(checkbox): ✨ implement best simple comp & more changes
  src/checkboxNew/Checkbox.tsx
  src/checkboxNew/CheckboxIcon.tsx
  src/checkboxNew/CheckboxState.ts
  src/checkboxNew/__keys.ts
  src/checkboxNew/stories/Checkbox.stories.tsx
  src/theme/defaultTheme/checkboxNew.ts
Due: yarn format, yarn lint:fix

feat(checkbox): ✨ update simple method with state & more
  src/checkboxNew/Checkbox.tsx
  src/checkboxNew/CheckboxIcon.tsx
  src/checkboxNew/helpers.tsx
  src/checkboxNew/stories/Checkbox.stories.tsx
  src/utils/index.tsx
Due: yarn format, yarn lint:fix

feat(checkbox): ✨ finalize the new rfc
  src/checkbox/Checkbox.tsx
  src/checkbox/CheckboxDescription.tsx
  src/checkbox/CheckboxIcon.tsx
  src/checkbox/CheckboxInput.tsx
  src/checkbox/CheckboxLabel.tsx
  src/checkbox/CheckboxState.ts
  src/checkbox/CheckboxText.tsx
  src/checkbox/__keys.ts
  src/checkbox/__tests__/Checkbox.test.tsx
  src/checkbox/__tests__/__snapshots__/Checkbox.test.tsx.snap
  src/checkbox/helpers.tsx
  src/checkbox/index.ts
  src/checkbox/stories/Checkbox.stories.tsx
  src/checkboxNew/Checkbox.tsx
  src/checkboxNew/CheckboxDescription.tsx
  src/checkboxNew/CheckboxIcon.tsx
  src/checkboxNew/CheckboxInput.tsx
  src/checkboxNew/CheckboxLabel.tsx
  src/checkboxNew/CheckboxText.tsx
  src/checkboxNew/helpers.tsx
  src/checkboxNew/index.ts
  src/checkboxNew/stories/Checkbox.stories.tsx
  src/theme/defaultTheme/checkbox.ts
  src/theme/defaultTheme/checkboxNew.ts
  src/theme/defaultTheme/index.ts
  src/utils/types.tsx
Due: yarn format, yarn lint:fix

chore(deps): ⬆️ update dev deps
  package.json
  patches/tailwindcss+2.2.9.patch
  yarn.lock
Due: yarn format, yarn format:package

docs(storybook): 📝 refactor stories with better types
  .storybook/utils.tsx
  src/alert/stories/Alert.stories.tsx
  src/avatar/stories/Avatar.stories.tsx
  src/badge/stories/Badge.stories.tsx
  src/box/stories/Box.stories.tsx
  src/button/stories/Button.stories.tsx
  src/checkbox/stories/Checkbox.stories.tsx
  src/circular-progress/stories/CircularProgress.stories.tsx
  src/form-field/stories/FormField.stories.tsx
  src/icon/stories/Icon.stories.tsx
  src/input/stories/Input.stories.tsx
  src/list/stories/List.stories.tsx
  src/progress/stories/Progress.stories.tsx
  src/radio/stories/Radio.stories.tsx
  src/slider/stories/Slider.stories.tsx
  src/spinner/stories/Spinner.stories.tsx
  src/switch/stories/Switch.stories.tsx
  src/tag/stories/Tag.stories.tsx
  src/textarea/stories/Textarea.stories.tsx
  src/tooltip/stories/Tooltip.stories.tsx
Due: yarn format, yarn lint:fix

feat(checkbox): ✨ add updated checkbox core component
  .eslintrc.json
  package.json
  patches/tailwindcss+2.2.14.patch
  src/box/Box.tsx
  src/checkbox/Checkbox.tsx
  src/checkbox/CheckboxIcon.tsx
  src/checkbox/CheckboxInput.tsx
  src/checkbox/CheckboxState.ts
  src/checkbox/__keys.ts
  src/checkbox/helpers.tsx
  src/checkbox/index.ts
  src/checkbox/stories/Checkbox.stories.tsx
  src/checkboxReakit/Checkbox.tsx
  src/checkboxReakit/CheckboxState.ts
  src/checkboxReakit/__keys.ts
  src/checkboxReakit/helpers.tsx
  src/checkboxReakit/index.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

refactor(format): 🎨 update format for new prettier version
  src/theme/types.ts
Due: yarn format

refactor(spinner): ♻️ use reakit spinner
  src/spinner/Spinner.tsx
  src/spinner/__keys.ts
  src/spinner/index.ts
  src/spinner/stories/Spinner.stories.tsx
  src/theme/defaultTheme/spinner.ts
Due: yarn format, yarn lint:fix

test(spinner): ✅ fix spinner related test bugs
  src/spinner/Spinner.tsx
Due: yarn format, yarn lint:fix

refactor(button): ♻️ finalize stateful & stateless code type
  package.json
  patches/tailwindcss+2.2.15.patch
  src/button/Button.tsx
  src/button/ButtonChildren.tsx
  src/button/ButtonSpinner.tsx
  src/button/index.ts
  src/icon/stories/Icon.stories.tsx
  src/spinner/Spinner.tsx
  src/spinner/__keys.ts
  src/spinner/index.ts
  src/theme/defaultTheme/button.ts
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

refactor(button): ♻️ update cloning & passing props
  src/button/Button.tsx
  src/button/ButtonSpinner.tsx
  src/checkbox/stories/Checkbox.stories.tsx
  src/spinner/__keys.ts
  src/utils/index.tsx
  src/utils/types.tsx
Due: yarn format, yarn lint:fix

chore(storybook): 🔧 fix issue with stories
  .storybook/main.js
  .storybook/manager.js
  package.json
  postcss.config.js
  src/button/stories/Button.stories.tsx
  src/checkbox/stories/Checkbox.stories.tsx
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

feat(props): ✨ provide clone passing props
  src/badge/Badge.tsx
  src/box/Box.tsx
  src/box/__keys.ts
  src/box/stories/Box.stories.tsx
  src/button/Button.tsx
  src/button/ButtonSpinner.tsx
  src/button/CloseButton.tsx
  src/button/stories/Button.stories.tsx
  src/icon/Icon.tsx
  src/spinner/Spinner.tsx
  src/spinner/__keys.ts
  src/theme/defaultTheme/button.ts
  src/utils/index.tsx
Due: yarn format, yarn lint:fix

refactor(box): ♻️ use box, tcm & cx whereever possible
  src/box/Box.tsx
  src/checkbox/Checkbox.tsx
  src/checkbox/CheckboxDescription.tsx
  src/checkbox/CheckboxIcon.tsx
  src/checkbox/CheckboxLabel.tsx
  src/checkbox/CheckboxText.tsx
Due: yarn format, yarn lint:fix

feat: ✨ finish ground works for radio
  package.json
  src/box/__keys.ts
  src/radio/Radio.tsx
  src/radio/RadioDescription.tsx
  src/radio/RadioGroup.tsx
  src/radio/RadioIcon.tsx
  src/radio/RadioInput.tsx
  src/radio/RadioLabel.tsx
  src/radio/RadioState.tsx
  src/radio/RadioText.tsx
  src/radio/__keys.ts
  src/radio/helpers.tsx
  src/radio/index.tsx
  src/radio/stories/Radio.stories.tsx
  src/theme/defaultTheme/radio.ts
  src/theme/defaultTheme/radionew.ts
  src/utils/index.tsx
  yarn.lock
Due: yarn format, yarn format:package, yarn lint:fix

feat(radio): ✨ finish radio component
  .storybook/utils.tsx
  src/checkbox/Checkbox.tsx
  src/checkbox/helpers.tsx
  src/checkbox/index.ts
  src/checkbox/stories/Checkbox.stories.tsx
  src/icons/Circle.tsx
  src/radio/Radio.tsx
  src/radio/RadioGroup.tsx
  src/radio/RadioGroupState.tsx
  src/radio/RadioIcon.tsx
  src/radio/RadioInput.tsx
  src/radio/RadioState.tsx
  src/radio/RadioText.tsx
  src/radio/__keys.ts
  src/radio/helpers.tsx
  src/radio/index.tsx
  src/radio/stories/Radio.stories.tsx
  src/radio/stories/RadioComponent.tsx
  src/theme/defaultTheme/checkbox.ts
  src/theme/defaultTheme/radio.ts
Due: yarn format, yarn lint:fix

chore(deps): ✨ update prod & dev deps
  package.json
  yarn.lock
Due: yarn format, yarn format:package

chore(config): 🔧 update dev setup configs
  .eslintignore
  .gitignore
  .prettierignore
  .prettierrc.js
  .prettierrc.json
  .storybook/manager.js
  package.json
  tsconfig.json
Due: yarn format, yarn format:package, yarn lint:fix
